<%_ var includePath = "../include/" _%>
<% var pageData = {
    url: 'admin.html',
    title: "管理者",
    ogimage: ""
}; %>
<%- include(includePath+"_header.ejs", pageData) %>
<body style="margin:0;padding:0;">

<%- include(includePath+"_leftmenu.ejs") %>
    <style>
        .right-main {
            background-image: url('./minatoaqua_bg_admin.webp');
        }
        table, tr, td {
            border:solid 1px black;
        }
    </style>
    <div class="right-main">
        <h2 style="text-align:center;margin:0;">管理者</h2>
        <div style="max-width:1000px;margin:0 auto;">
            <p>
                当サイトは爆速なサイトとして有名な「<a href="http://abehiroshi.la.coocan.jp/" target="_blank" rel="noopener noreferrer">阿部 寛のホームページ</a>」様のパロディで湊 あくあちゃんのファンサイトです。<br>
                阿部 寛様、阿部寛のホームページ管理者様、湊あくあ様とは関係ありません。<br>
                コードや素材の流用などもありません。<br>
            </p>
            <p>
                あくあちゃんのコラボ（タイアップ）やグッズが増えてきて、<br>
                いまどのコラボやグッズがあるのかを確認できるようにしたいという気持ちと<br>
                高速のサイトを作ってみたい・検証してみたいという気持ちから制作しました。
            </p>
            <p>
                掲載している情報は恐らくすべてを網羅出来てはいないので「これが漏れているんじゃないか？」という<br>
                情報が有りましたらご連絡ください。<br>
                連絡は一番下に掲載している開発者Twitterアカウント OR 当サイトのGitHubリポジトリの issue 又は PRで受け付けたいと思います<br>
                ※全ての情報を載せられる訳ではないのでご了承ください。<br>
            </p>
            <p>
                関連サイト：<a href="https://akukin.jp" target="_blank" rel="noopener noreferrer">AKUKIN建設</a> <a href="https://apex.akukin.jp" target="_blank" rel="noopener noreferrer">AquPEX Legends</a>
            </p>
            <p>
                開発者: <a href="https://twitter.com/OIL_STAND" target="_blank" rel="noopener noreferrer">@OIL_STAND</a><br>
                GitHub: <a href="https://github.com/oilstand/minato-akukin" target="_blank" rel="noopener noreferrer">minato-akukin</a>
            </p>
        </div>
    </div>
    <%- include(includePath+"_footer.ejs") %>
</body>
</html>