<!DOCTYPE html>
<html lang="ja">
<%_ var includePath = "../include/" _%>
<%- include(includePath+"_header.ejs") %>
<body style="margin:0;padding:0;">

<%- include(includePath+"_leftmenu.ejs") %>
    <style>
        .right-main {
            background-image: url('./minatoaqua_bg.webp');
        }
        table, tr, td {
            border:solid 1px black;
        }
    </style>
    <div class="right-main">
        <h2 style="text-align:center;margin:0;">出演</h2>
        <div style="display:flex;max-width:1000px;margin:0 auto;">
            <table style="margin: 16px auto;">
                <tbody>
                    <tr>
                        <td>

                        </td>
                        <td></td>
                        <td>
                            <a href="" target="_blank" rel="noopener noreferrer"></a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>

                        </td>
                        <td></td>
                        <td>
                            <a href="" target="_blank" rel="noopener noreferrer"></a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ラジオ
                        </td>
                        <td>2021年8月1日</td>
                        <td>
                            ホロのうたきけ<br>
                            <a href="https://www.youtube.com/watch?v=zgw48T9ixvg" target="_blank" rel="noopener noreferrer">【＃１８】ホロライブアイドル道ラジオ～私たちの歌をきけッ！</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ラジオ
                        </td>
                        <td>2021年7月25日</td>
                        <td>
                            ホロのうたきけ<br>
                            <a href="https://www.youtube.com/watch?v=qesQXbLA-7Q" target="_blank" rel="noopener noreferrer">【＃１７】ホロライブアイドル道ラジオ～私たちの歌をきけッ！</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ラジオ
                        </td>
                        <td>2021年7月18日</td>
                        <td>
                            ホロのうたきけ<br>
                            <a href="https://www.youtube.com/watch?v=Zkho4j4WhTM" target="_blank" rel="noopener noreferrer">【＃１６】ホロライブアイドル道ラジオ～私たちの歌をきけッ！</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>ニコニコ企画</td>
                        <td>2021年4月30日</td>
                        <td>
                            ニコニコネット超会議2021<br>
                            <a href="https://live.nicovideo.jp/watch/lv331090588" target="_blank" rel="noopener noreferrer">「『New ポケモンスナップ』発売特番 ホロライブと一緒に遊ぼう」</a><br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000095.000060989.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ラジオ
                        </td>
                        <td>2021年7月11日</td>
                        <td>
                            ホロのうたきけ<br>
                            <a href="https://www.youtube.com/watch?v=sVYHWcLPEVY" target="_blank" rel="noopener noreferrer">【＃１５】ホロライブアイドル道ラジオ～私たちの歌をきけッ！</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ラジオ
                        </td>
                        <td>2021年4月11日</td>
                        <td>
                            ホロのうたきけ<br>
                            <a href="https://www.youtube.com/watch?v=b2nIWs68Tic" target="_blank" rel="noopener noreferrer">【＃2】ホロライブアイドル道ラジオ～私たちの歌をきけッ！</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ラジオ
                        </td>
                        <td>2021年4月4日</td>
                        <td>
                            ホロのうたきけ<br>
                            <a href="https://www.youtube.com/watch?v=Fr2raq3ZMWM" target="_blank" rel="noopener noreferrer">【＃１】ホロライブアイドル道ラジオ～私たちの歌をきけッ！</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>ニコニコ企画</td>
                        <td>2021年1月29日</td>
                        <td>
                            「ポケットモンスター ソード・シールド」DLC「鎧の孤島」ホロポケ部対戦会<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000157.000056982.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td>
                            <a href="https://live.nicovideo.jp/watch/lv330093667" target="_blank" rel="noopener noreferrer">湊あくあ視点</a>
                        </td>
                    </tr>
                    <!--tr>
                        <td>年月日公開</td>
                        <td><a href="" target="_blank" rel="noopener noreferrer">「」</a></td>
                        <td></td>
                    </tr-->
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>