<!DOCTYPE html>
<html lang="ja">
<%_ var includePath = "../include/" _%>
<%- include(includePath+"_header.ejs") %>
<body style="margin:0;padding:0;">

<%- include(includePath+"_leftmenu.ejs") %>
    <style>
        .right-main {
            background-image: url('./minatoaqua_bg.webp');
        }
        table, tr, td {
            border:solid 1px black;
        }
    </style>
    <div class="right-main">
        <h2 style="text-align:center;margin:0;">出演</h2>
        <div style="display:flex;max-width:1000px;margin:0 auto;">
            <table style="margin: 16px auto;">
                <tbody>
                    <!--tr>
                        <td>

                        </td>
                        <td></td>
                        <td>
                            <a href="" target="_blank" rel="noopener noreferrer"></a>
                        </td>
                        <td>
                            
                        </td>
                    </tr-->

                    <tr>
                        <td>
                            ホロぐら
                        </td>
                        <td>2022年7月24日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=1bNcteSLHlc" target="_blank" rel="noopener noreferrer">【アニメ】責任取るのが総帥の仕事【holoX】</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ラジオ
                        </td>
                        <td>2022年6月5日</td>
                        <td>
                            ホロのうたきけ<br>
                            <a href="https://www.youtube.com/watch?v=1bNcteSLHlc" target="_blank" rel="noopener noreferrer">【＃６２】ホロライブアイドル道ラジオ～私たちの歌をきけッ！</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ホロぐら
                        </td>
                        <td>2022年5月29日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=NTaPIQ7iPmg" target="_blank" rel="noopener noreferrer">【アニメ】たまにこういうのが釣れるんです</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ラジオ
                        </td>
                        <td>2022年5月29日</td>
                        <td>
                            ホロのうたきけ<br>
                            <a href="https://www.youtube.com/watch?v=CyyfwSPbldk" target="_blank" rel="noopener noreferrer">【＃６１】ホロライブアイドル道ラジオ～私たちの歌をきけッ！</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式動画
                        </td>
                        <td>2022年3月21日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=Vi1t3r-8QW4" target="_blank" rel="noopener noreferrer">【ブチアゲ】テンションを操作してパーティータイム！！！【喜怒哀楽】</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式動画
                        </td>
                        <td>2022年3月7日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=elLgPsBRc0A" target="_blank" rel="noopener noreferrer">【興奮】メンバー出走！ウインクダービー開幕【レース】</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            インタビュー
                        </td>
                        <td>2022年2月15日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=8yAvpNySbdA" target="_blank" rel="noopener noreferrer">【湊あくあ】JOYSOUNDアーティストインタビュー！！</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式動画
                        </td>
                        <td>2022年2月14日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=QTSWnTerZg8" target="_blank" rel="noopener noreferrer">【王者降臨】超次元バトル！世界記録を打ち建てられるか！？【第３回】</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ラジオ
                        </td>
                        <td>2022年2月13日</td>
                        <td>
                            ホロのうたきけ<br>
                            <a href="https://www.youtube.com/watch?v=5xvY5ioOz9M" target="_blank" rel="noopener noreferrer">【＃４６】ホロライブアイドル道ラジオ～私たちの歌をきけッ！</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ホロぐら
                        </td>
                        <td>2022年2月6日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=-1yyK5E7v_A" target="_blank" rel="noopener noreferrer">【アニメ】若返りを求めて</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ラジオ
                        </td>
                        <td>2022年2月6日</td>
                        <td>
                            ホロのうたきけ<br>
                            <a href="https://www.youtube.com/watch?v=e48lVXthYPA" target="_blank" rel="noopener noreferrer">【＃４５】ホロライブアイドル道ラジオ～私たちの歌をきけッ！</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ホロぐら
                        </td>
                        <td>2022年1月23日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=pjDqJJePGQg" target="_blank" rel="noopener noreferrer">【アニメ】いったい何の話をしてるんだ……</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ラジオ
                        </td>
                        <td>2022年1月2日</td>
                        <td>
                            ホロのうたきけ<br>
                            <a href="https://www.youtube.com/watch?v=R3T-8vnDmI0" target="_blank" rel="noopener noreferrer">【＃４０】ホロライブアイドル道ラジオ～私たちの歌をきけッ！</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式企画
                        </td>
                        <td>2021年12月31日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=fuuLvt16aDQ" target="_blank" rel="noopener noreferrer">年末ホロライブ　～ゆくホロくるホロ2021～【#ゆくホロくるホロ2021】</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式動画
                        </td>
                        <td>2021年12月30日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=ChE_bQauRv0" target="_blank" rel="noopener noreferrer">【MV】幕張行ってきた！【hololive SUPER EXPO 2022 応援PV】</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ホロぐら
                        </td>
                        <td>2021年12月26日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=O775092N3nU" target="_blank" rel="noopener noreferrer">【アニメ】最後の晩餐</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ラジオ
                        </td>
                        <td>2021年12月26日</td>
                        <td>
                            ホロのうたきけ<br>
                            <a href="https://www.youtube.com/watch?v=5m171JA8AJg" target="_blank" rel="noopener noreferrer">【＃３９】ホロライブアイドル道ラジオ～私たちの歌をきけッ！</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ホロぐら
                        </td>
                        <td>2021年12月12日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=m8Y5j82i9TY" target="_blank" rel="noopener noreferrer">【アニメ】健康診断があるので……</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ラジオ
                        </td>
                        <td>2021年10月24日</td>
                        <td>
                            ホロのうたきけ<br>
                            <a href="https://www.youtube.com/watch?v=oIxTcxUkkys" target="_blank" rel="noopener noreferrer">【＃３０】ホロライブアイドル道ラジオ～私たちの歌をきけッ！</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ラジオ
                        </td>
                        <td>2021年10月17日</td>
                        <td>
                            ホロのうたきけ<br>
                            <a href="https://www.youtube.com/watch?v=6zEKjp8s_ds" target="_blank" rel="noopener noreferrer">【＃２９】ホロライブアイドル道ラジオ～私たちの歌をきけッ！</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ラジオ
                        </td>
                        <td>2021年10月10日</td>
                        <td>
                            ホロのうたきけ<br>
                            <a href="https://www.youtube.com/watch?v=1NZdICfECC0" target="_blank" rel="noopener noreferrer">【＃２８】ホロライブアイドル道ラジオ～私たちの歌をきけッ！</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ラジオ
                        </td>
                        <td>2021年10月3日</td>
                        <td>
                            ホロのうたきけ<br>
                            <a href="https://www.youtube.com/watch?v=JnfV-WM1rno" target="_blank" rel="noopener noreferrer">【＃２７】ホロライブアイドル道ラジオ～私たちの歌をきけッ！</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ラジオ
                        </td>
                        <td>2021年8月1日</td>
                        <td>
                            ホロのうたきけ<br>
                            <a href="https://www.youtube.com/watch?v=zgw48T9ixvg" target="_blank" rel="noopener noreferrer">【＃１８】ホロライブアイドル道ラジオ～私たちの歌をきけッ！</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ラジオ
                        </td>
                        <td>2021年7月25日</td>
                        <td>
                            ホロのうたきけ<br>
                            <a href="https://www.youtube.com/watch?v=qesQXbLA-7Q" target="_blank" rel="noopener noreferrer">【＃１７】ホロライブアイドル道ラジオ～私たちの歌をきけッ！</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ラジオ
                        </td>
                        <td>2021年7月18日</td>
                        <td>
                            ホロのうたきけ<br>
                            <a href="https://www.youtube.com/watch?v=Zkho4j4WhTM" target="_blank" rel="noopener noreferrer">【＃１６】ホロライブアイドル道ラジオ～私たちの歌をきけッ！</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>ニコニコ企画</td>
                        <td>2021年4月30日</td>
                        <td>
                            ニコニコネット超会議2021<br>
                            <a href="https://live.nicovideo.jp/watch/lv331090588" target="_blank" rel="noopener noreferrer">「『New ポケモンスナップ』発売特番 ホロライブと一緒に遊ぼう」</a><br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000095.000060989.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ラジオ
                        </td>
                        <td>2021年7月11日</td>
                        <td>
                            ホロのうたきけ<br>
                            <a href="https://www.youtube.com/watch?v=sVYHWcLPEVY" target="_blank" rel="noopener noreferrer">【＃１５】ホロライブアイドル道ラジオ～私たちの歌をきけッ！</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ラジオ
                        </td>
                        <td>2021年4月11日</td>
                        <td>
                            ホロのうたきけ<br>
                            <a href="https://www.youtube.com/watch?v=b2nIWs68Tic" target="_blank" rel="noopener noreferrer">【＃2】ホロライブアイドル道ラジオ～私たちの歌をきけッ！</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ラジオ
                        </td>
                        <td>2021年4月4日</td>
                        <td>
                            ホロのうたきけ<br>
                            <a href="https://www.youtube.com/watch?v=Fr2raq3ZMWM" target="_blank" rel="noopener noreferrer">【＃１】ホロライブアイドル道ラジオ～私たちの歌をきけッ！</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>ニコニコ企画</td>
                        <td>2021年1月29日</td>
                        <td>
                            「ポケットモンスター ソード・シールド」DLC「鎧の孤島」ホロポケ部対戦会<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000157.000056982.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td>
                            <a href="https://live.nicovideo.jp/watch/lv330093667" target="_blank" rel="noopener noreferrer">湊あくあ視点</a>
                        </td>
                    </tr>
                    <tr>
                        <td>コラボ</td>
                        <td>2021年1月5日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=uzsTWkMvXl8" target="_blank" rel="noopener noreferrer">【#にじホロ桃鉄】負けたら罰ゲーム‼チーム戦桃鉄対決🍑🚃【本間ひまわり/月ノ美兎/ 宝鐘マリン/湊あくあ】</a>
                        </td>
                        <td>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            ラジオ
                        </td>
                        <td>2020年11月8日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=7_4r4lcN82A" target="_blank" rel="noopener noreferrer">#32 後半『星街すいせいのMUSIC SPACE』</a><br>
                            <a href="https://www.youtube.com/watch?v=1huawCKDgoE" target="_blank" rel="noopener noreferrer">コネクト</a>　
                            <a href="https://www.youtube.com/watch?v=k4qHqllUyKc" target="_blank" rel="noopener noreferrer">Anemone heart</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ラジオ
                        </td>
                        <td>2020年11月1日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=r0jmhZO2PV0" target="_blank" rel="noopener noreferrer">#31 後半『星街すいせいのMUSIC SPACE』</a><br>
                            <a href="https://www.youtube.com/watch?v=gRT9xb0fN-s" target="_blank" rel="noopener noreferrer">ライオン</a>　
                            <a href="https://www.youtube.com/watch?v=YNwsS69DTCo" target="_blank" rel="noopener noreferrer">宿命</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ホロぐら
                        </td>
                        <td>2020年5月22日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=acNUes3ZV_A" target="_blank" rel="noopener noreferrer">イタズラばかりしていたら裁判沙汰になりました【ホロろぐ 004】</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ホロぐら
                        </td>
                        <td>2020年5月10日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=Cgf-qkaDZAU" target="_blank" rel="noopener noreferrer">【アニメ】1分でわかるヘンゼルとグレーテル</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式切り抜き
                        </td>
                        <td>2020年5月2日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=m_RAWbTTSBo" target="_blank" rel="noopener noreferrer">変な人達に凸されるかわいそうなアイドル達【ホロろぐ 003】</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式切り抜き
                        </td>
                        <td>2020年4月25日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=l9CXAXPy0A4" target="_blank" rel="noopener noreferrer">【ホロライブ】罵倒か可愛いたまに化け物よりうるさい悲鳴まとめてみた【ホロろぐ 002】</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            コラボ
                        </td>
                        <td>2020年4月1日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=04EIYwhm5rI" target="_blank" rel="noopener noreferrer">【#宝鐘マリン増殖中】宝鐘マリンのフリをする宝鐘マリンの中から宝鐘マリンを探し出す企画</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式切り抜き
                        </td>
                        <td>2020年2月25日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=LoCB5lC7Iu4" target="_blank" rel="noopener noreferrer">【マイクラホロ鯖】日照権侵害で隣人トラブル、そして家爆破【湊あくあ × 紫咲シオン】</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ホロぐら
                        </td>
                        <td>2020年2月16日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=saPtg9fdWYg" target="_blank" rel="noopener noreferrer">🦀🦀【アニメ】〇〇捕獲選手権！</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式切り抜き
                        </td>
                        <td>2020年2月7日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=TbJ7oCjwwI8" target="_blank" rel="noopener noreferrer">ホロライブARKブームを分かった気になれる動画【まとめ/切り抜き】#とまらないARK</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式企画
                        </td>
                        <td>2020年1月23日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=Y1pMXZG6t5Y" target="_blank" rel="noopener noreferrer">【公式】豊洲ライブ直前、メンバー凸待ち！(※凸0人で積みゲー消化)【#とまらないホロライブ】</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式企画
                        </td>
                        <td>2019年12月31日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=3wMWjEct8Hw" target="_blank" rel="noopener noreferrer">年末ホロライブ　～ゆくホロくるホロ～【#ゆくホロくるホロ】</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            大会
                        </td>
                        <td>2019年12月1日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=yse1cB9B3FA" target="_blank" rel="noopener noreferrer">【ポケモン剣盾】ホロライブポケモン王は誰だ！【#ホロライブ剣盾トーナメント】</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式企画
                        </td>
                        <td>2019年7月7日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=isfJsD-evAg" target="_blank" rel="noopener noreferrer">ホロライブカラオケ女子会：湊あくあ, 夜空メル, 癒月ちょこ, 大神ミオ</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式動画
                        </td>
                        <td>2019年7月7日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=fzIeI3YjWAI" target="_blank" rel="noopener noreferrer">【アニメ】そのあと墜落した【全米が泣いた】</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式動画
                        </td>
                        <td>2019年5月19日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=UVncAW3h45E" target="_blank" rel="noopener noreferrer">【アニメ】前回のホロライブ！</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式動画
                        </td>
                        <td>2019年4月29日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=Jnu8xZpHj00" target="_blank" rel="noopener noreferrer">【アニメ】Cooming Soon!!【予告編】</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式動画
                        </td>
                        <td>2019年2月19日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=jPXpaEVXgcM" target="_blank" rel="noopener noreferrer">ホロライブバレンタイン2019告知まとめ動画</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            コラボ
                        </td>
                        <td>2019年2月2日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=cXP8OxMN_SQ" target="_blank" rel="noopener noreferrer">ホロライブ幼稚園 ～No,1園児を探せ！～</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式動画
                        </td>
                        <td>2018年11月7日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=vg9psfIhdpU" target="_blank" rel="noopener noreferrer">ホロライブハロウィン</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>