<!DOCTYPE html>
<html lang="ja">
<%_ var includePath = "../include/" _%>
<%- include(includePath+"_header.ejs") %>
<body style="margin:0;padding:0;">

<%- include(includePath+"_leftmenu.ejs") %>
    <style>
        .right-main {
            background-image: url('./minatoaqua_bg.webp');
        }
        table, tr, td {
            border:solid 1px black;
        }
    </style>
    <div class="right-main">
        <h2 style="text-align:center;margin:0;">出演</h2>
        <div style="display:flex;max-width:1000px;margin:0 auto;">
            <table style="margin: 16px auto;">
                <tbody>
                    <!--tr>
                        <td>

                        </td>
                        <td></td>
                        <td>
                            <a href="" target="_blank" rel="noopener noreferrer"></a>
                        </td>
                        <td>
                            
                        </td>
                    </tr-->
                    <tr>
                        <td>
                            CD
                        </td>
                        <td>
                            2022年8月13日
                        </td>
                        <td>
                            <a href="https://honeyworks.jp/news/8555/" target="_blank" rel="noopener noreferrer">HoneyWorks 同人CD「告白実行委員会 -FLYING SONGS- 恋してる」</a><br>
                            <a href="https://www.youtube.com/watch?v=j08N71wwxuk" target="_blank" rel="noopener noreferrer">クロスフェード</a>
                        </td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>
                            CM(楽曲)
                        </td>
                        <td>2022年7月28日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=z-A3CratPl0" target="_blank" rel="noopener noreferrer">YouTube Premium【YouTube Music ならではのオススメ篇】</a><br>
                            <a href="https://twitter.com/YouTubeJapan/status/1552474022239240194" target="_blank" rel="noopener noreferrer">告知ツイート</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ホロぐら
                        </td>
                        <td>2022年7月24日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=elvsgZ06ksc" target="_blank" rel="noopener noreferrer">【アニメ】責任取るのが総帥の仕事【holoX】</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ホロぐら
                        </td>
                        <td>2022年6月12日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=3ic4KSFjdAU" target="_blank" rel="noopener noreferrer">【アニメ】見ぃつけたっ！</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式動画
                        </td>
                        <td>2022年6月11日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=z9H5sZ3E4fg" target="_blank" rel="noopener noreferrer">ホロアース コンセプトムービー 第1弾</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ラジオ
                        </td>
                        <td>2022年6月5日</td>
                        <td>
                            ホロのうたきけ<br>
                            <a href="https://www.youtube.com/watch?v=1bNcteSLHlc" target="_blank" rel="noopener noreferrer">【＃６２】ホロライブアイドル道ラジオ～私たちの歌をきけッ！</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ホロぐら
                        </td>
                        <td>2022年5月29日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=NTaPIQ7iPmg" target="_blank" rel="noopener noreferrer">【アニメ】たまにこういうのが釣れるんです</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ラジオ
                        </td>
                        <td>2022年5月29日</td>
                        <td>
                            ホロのうたきけ<br>
                            <a href="https://www.youtube.com/watch?v=CyyfwSPbldk" target="_blank" rel="noopener noreferrer">【＃６１】ホロライブアイドル道ラジオ～私たちの歌をきけッ！</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ホロぐら
                        </td>
                        <td>2022年5月8日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=LVYMEKlSelU" target="_blank" rel="noopener noreferrer">【アニメ】みんなが注目したシーン【総集編】</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            MV
                        </td>
                        <td>2022年4月27日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=u_hUpHUTJwQ" target="_blank" rel="noopener noreferrer">【original animation MV】マリン出航！！【hololive/宝鐘マリン】</a><br>
                            ※台詞など無し
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式動画
                        </td>
                        <td>2022年3月21日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=Vi1t3r-8QW4" target="_blank" rel="noopener noreferrer">【ブチアゲ】テンションを操作してパーティータイム！！！【喜怒哀楽】</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式番組
                        </td>
                        <td>2022年3月20日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=TtB0GZLum1w" target="_blank" rel="noopener noreferrer">【#つながるホロライブDAY2】hololive SUPER EXPO 2022 イベントステージ</a><br>
                            マリンを落とすのは誰だ！？ドキドキ告白タイム（湊あくあ/大空スバル/宝鐘マリン/姫森ルーナ）
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式動画
                        </td>
                        <td>2022年3月7日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=elLgPsBRc0A" target="_blank" rel="noopener noreferrer">【興奮】メンバー出走！ウインクダービー開幕【レース】</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            インタビュー
                        </td>
                        <td>2022年2月15日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=8yAvpNySbdA" target="_blank" rel="noopener noreferrer">【湊あくあ】JOYSOUNDアーティストインタビュー！！</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式動画
                        </td>
                        <td>2022年2月14日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=QTSWnTerZg8" target="_blank" rel="noopener noreferrer">【王者降臨】超次元バトル！世界記録を打ち建てられるか！？【第３回】</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ラジオ
                        </td>
                        <td>2022年2月13日</td>
                        <td>
                            ホロのうたきけ<br>
                            <a href="https://www.youtube.com/watch?v=5xvY5ioOz9M" target="_blank" rel="noopener noreferrer">【＃４６】ホロライブアイドル道ラジオ～私たちの歌をきけッ！</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            作業用BGM
                        </td>
                        <td>2022年2月11日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=899x5rU9mX8" target="_blank" rel="noopener noreferrer">【作業用BGM】hololive music studio - ambient＆orgel mix【 #hololivemusicstudio 】</a><br>
                            ※台詞など無し
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ホロぐら
                        </td>
                        <td>2022年2月6日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=-1yyK5E7v_A" target="_blank" rel="noopener noreferrer">【アニメ】若返りを求めて</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ラジオ
                        </td>
                        <td>2022年2月6日</td>
                        <td>
                            ホロのうたきけ<br>
                            <a href="https://www.youtube.com/watch?v=e48lVXthYPA" target="_blank" rel="noopener noreferrer">【＃４５】ホロライブアイドル道ラジオ～私たちの歌をきけッ！</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ホロぐら
                        </td>
                        <td>2022年1月23日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=pjDqJJePGQg" target="_blank" rel="noopener noreferrer">【アニメ】いったい何の話をしてるんだ……</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ラジオ
                        </td>
                        <td>2022年1月2日</td>
                        <td>
                            ホロのうたきけ<br>
                            <a href="https://www.youtube.com/watch?v=R3T-8vnDmI0" target="_blank" rel="noopener noreferrer">【＃４０】ホロライブアイドル道ラジオ～私たちの歌をきけッ！</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式企画
                        </td>
                        <td>2021年12月31日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=fuuLvt16aDQ" target="_blank" rel="noopener noreferrer">年末ホロライブ　～ゆくホロくるホロ2021～【#ゆくホロくるホロ2021】</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式動画
                        </td>
                        <td>2021年12月30日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=ChE_bQauRv0" target="_blank" rel="noopener noreferrer">【MV】幕張行ってきた！【hololive SUPER EXPO 2022 応援PV】</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ホロぐら
                        </td>
                        <td>2021年12月26日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=O775092N3nU" target="_blank" rel="noopener noreferrer">【アニメ】最後の晩餐</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ラジオ
                        </td>
                        <td>2021年12月26日</td>
                        <td>
                            ホロのうたきけ<br>
                            <a href="https://www.youtube.com/watch?v=5m171JA8AJg" target="_blank" rel="noopener noreferrer">【＃３９】ホロライブアイドル道ラジオ～私たちの歌をきけッ！</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式番組
                        </td>
                        <td>2021年12月25日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=wP-LOuNU88s" target="_blank" rel="noopener noreferrer">【聖夜の騙し合い】#ホロのクリスマス人狼</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            テレビ
                        </td>
                        <td>2021年12月20日</td>
                        <td>
                            <a href="https://twitter.com/rkbeeeeeeee/status/1472854295829692416" target="_blank" rel="noopener noreferrer">エンタテ！区～テレビが知らないe世界～</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ホロぐら
                        </td>
                        <td>2021年12月12日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=m8Y5j82i9TY" target="_blank" rel="noopener noreferrer">【アニメ】健康診断があるので……</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式企画
                        </td>
                        <td>2021年12月7日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=MJqecEh7kkA" target="_blank" rel="noopener noreferrer">【ビビり】破裂しないギリギリを見極めろ！めざせギリギリマスター風船編【イキリ】</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式番組
                        </td>
                        <td>2021年11月23日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=V722bYH07P4" target="_blank" rel="noopener noreferrer">謎のファイル「ホロアース」をテストプレイ！？【#謎のテストプレイ】</a><br>
                            ※湊あくあの出演は無し。NEKOが登場
                        </td>
                        <td>
                            
                        </td>
                    </tr>

                    <tr>
                        <td>
                            ラジオ
                        </td>
                        <td>2021年10月24日</td>
                        <td>
                            ホロのうたきけ<br>
                            <a href="https://www.youtube.com/watch?v=oIxTcxUkkys" target="_blank" rel="noopener noreferrer">【＃３０】ホロライブアイドル道ラジオ～私たちの歌をきけッ！</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式動画<br>
                            作業用BGM
                        </td>
                        <td>2021年10月20日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=qyPmRNKmxBI" target="_blank" rel="noopener noreferrer">【作業用BGM】Summer Nostalgia 【#UMISEA】</a><br>
                            ※UMISEA関連<br>
                            ※台詞など無し
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式企画
                        </td>
                        <td>2021年11月12日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=7E9d6fAgEzw" target="_blank" rel="noopener noreferrer">【おバカ？】頭脳フル回転！議論を行い勝利を目指せ！【バトル】</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式企画
                        </td>
                        <td>2021年10月19日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=zrEJAES7qj0" target="_blank" rel="noopener noreferrer">【爆笑】一発本番！ナレーション＆実況録りに挑戦してみた【バトル】</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ラジオ
                        </td>
                        <td>2021年10月17日</td>
                        <td>
                            ホロのうたきけ<br>
                            <a href="https://www.youtube.com/watch?v=6zEKjp8s_ds" target="_blank" rel="noopener noreferrer">【＃２９】ホロライブアイドル道ラジオ～私たちの歌をきけッ！</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ラジオ
                        </td>
                        <td>2021年10月10日</td>
                        <td>
                            ホロのうたきけ<br>
                            <a href="https://www.youtube.com/watch?v=1NZdICfECC0" target="_blank" rel="noopener noreferrer">【＃２８】ホロライブアイドル道ラジオ～私たちの歌をきけッ！</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ラジオ
                        </td>
                        <td>2021年10月3日</td>
                        <td>
                            ホロのうたきけ<br>
                            <a href="https://www.youtube.com/watch?v=JnfV-WM1rno" target="_blank" rel="noopener noreferrer">【＃２７】ホロライブアイドル道ラジオ～私たちの歌をきけッ！</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            MV<br>
                            UMISEA
                        </td>
                        <td>2021年9月19日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=MKEb-Ox1KEw" target="_blank" rel="noopener noreferrer">【Original MV】浸食!! 地球全域全おーしゃん🌊🌊🌊 （Short ver.）</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式動画<br>
                            UMISEA
                        </td>
                        <td>2021年9月18日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=Na0bQgFixk4" target="_blank" rel="noopener noreferrer">【マンガ】歌えば地平線も水平線になる【#UMISEA 04】</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式動画<br>
                            UMISEA
                        </td>
                        <td>2021年9月17日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=q0wepNr7fTs" target="_blank" rel="noopener noreferrer">【マンガ】深海でも目を開けろ！【#UMISEA 03】</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            コラボ<br>
                            UMISEA
                        </td>
                        <td>2021年9月17日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=WIwVn-jByvw" target="_blank" rel="noopener noreferrer">【Minecraft】OCEAN MONUMENT! 4人で神殿攻略！ 🌊 #UMISEA</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>

                    <tr>
                        <td>
                            公式動画<br>
                            UMISEA
                        </td>
                        <td>2021年9月16日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=ja05GiJ6UW8" target="_blank" rel="noopener noreferrer">【マンガ】生きろ！【#UMISEA 02】</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式動画<br>
                            UMISEA
                        </td>
                        <td>2021年9月15日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=3WEdw0qbpcU" target="_blank" rel="noopener noreferrer">【マンガ】触手に勝ちたい女たち【#UMISEA 01】</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            コラボ<br>
                            UMISEA
                        </td>
                        <td>2021年9月15日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=UKKpA1vQlqM" target="_blank" rel="noopener noreferrer">【SUPER MARIO PARTY】OCEAN PARTY! パーティータイム ! 🌊 #UMISEA</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式動画
                        </td>
                        <td>2021年8月24日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=08zYuyX3mRo" target="_blank" rel="noopener noreferrer">大切フォトグラフ/ hololive IDOL PROJECT【Bloom, ダイジェストMV】</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ホロぐら
                        </td>
                        <td>2021年8月22日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=0g2lalD4Lqc" target="_blank" rel="noopener noreferrer">【アニメ】終焉のトリガーになった瞬間【総集編】</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            コラボ
                        </td>
                        <td>2021年8月11日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=tV0vI7Aflho" target="_blank" rel="noopener noreferrer">【#マリン船長の番組】2周年記念に地獄企画いくつかやりました</a><br>
                            昼ドラホロライブ
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ラジオ
                        </td>
                        <td>2021年8月1日</td>
                        <td>
                            ホロのうたきけ<br>
                            <a href="https://www.youtube.com/watch?v=zgw48T9ixvg" target="_blank" rel="noopener noreferrer">【＃１８】ホロライブアイドル道ラジオ～私たちの歌をきけッ！</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ラジオ
                        </td>
                        <td>2021年7月25日</td>
                        <td>
                            ホロのうたきけ<br>
                            <a href="https://www.youtube.com/watch?v=qesQXbLA-7Q" target="_blank" rel="noopener noreferrer">【＃１７】ホロライブアイドル道ラジオ～私たちの歌をきけッ！</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ホロぐら
                        </td>
                        <td>2021年7月18日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=RzOq4iCzZ9M" target="_blank" rel="noopener noreferrer">【アニメ】私に関わるな！</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ラジオ
                        </td>
                        <td>2021年7月18日</td>
                        <td>
                            ホロのうたきけ<br>
                            <a href="https://www.youtube.com/watch?v=Zkho4j4WhTM" target="_blank" rel="noopener noreferrer">【＃１６】ホロライブアイドル道ラジオ～私たちの歌をきけッ！</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式番組
                        </td>
                        <td>2021年7月11日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=HJpAlfJAGN0" target="_blank" rel="noopener noreferrer">ホロライブが地上波CMにくるぅ！？</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ホロぐら
                        </td>
                        <td>2021年7月11日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=r7vQrteO1SM" target="_blank" rel="noopener noreferrer">【アニメ】これが地上波で流れたってマジ？【地上波CM記念】</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>

                    <tr>
                        <td>
                            ラジオ
                        </td>
                        <td>2021年7月11日</td>
                        <td>
                            ホロのうたきけ<br>
                            <a href="https://www.youtube.com/watch?v=sVYHWcLPEVY" target="_blank" rel="noopener noreferrer">【＃１５】ホロライブアイドル道ラジオ～私たちの歌をきけッ！</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式動画
                        </td>
                        <td>2021年5月21日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=3RxlzJWWzdY" target="_blank" rel="noopener noreferrer">『ホロライブ・オルタナティブ』 ティザーPV（Fullver）</a><br>
                            ※台詞ナシ
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>ニコニコ企画</td>
                        <td>2021年4月30日</td>
                        <td>
                            ニコニコネット超会議2021<br>
                            <a href="https://live.nicovideo.jp/watch/lv331090588" target="_blank" rel="noopener noreferrer">「『New ポケモンスナップ』発売特番 ホロライブと一緒に遊ぼう」</a><br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000095.000060989.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ホロぐら
                        </td>
                        <td>2021年4月25日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=oWh7ux1P3kw" target="_blank" rel="noopener noreferrer">【アニメ】当たっちゃった……</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ラジオ
                        </td>
                        <td>2021年4月11日</td>
                        <td>
                            ホロのうたきけ<br>
                            <a href="https://www.youtube.com/watch?v=b2nIWs68Tic" target="_blank" rel="noopener noreferrer">【＃2】ホロライブアイドル道ラジオ～私たちの歌をきけッ！</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式番組
                        </td>
                        <td>2021年4月9日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=RYdonR2PZX0" target="_blank" rel="noopener noreferrer">【チラ見せ】全国胸元気になる協会【会員限定公式番組より】</a><br>
                            ※スクショ登場
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ホロぐら
                        </td>
                        <td>2021年4月4日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=Hs5wAN_AeBo" target="_blank" rel="noopener noreferrer">【アニメ】絶対に許さない！</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ラジオ
                        </td>
                        <td>2021年4月4日</td>
                        <td>
                            ホロのうたきけ<br>
                            <a href="https://www.youtube.com/watch?v=Fr2raq3ZMWM" target="_blank" rel="noopener noreferrer">【＃１】ホロライブアイドル道ラジオ～私たちの歌をきけッ！</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式番組
                        </td>
                        <td>2021年3月28日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=7vfoS9yFbXM" target="_blank" rel="noopener noreferrer">ホロライブ関係性クイズ！【#ホロライブ公式】</a><br>
                            ※相関図に登場
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ホロぐら
                        </td>
                        <td>2021年3月7日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=u-Fvkyp8I4c" target="_blank" rel="noopener noreferrer">【アニメ】食われるかも……</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ホロぐら
                        </td>
                        <td>2021年2月21日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=6NSdYeW4cRc" target="_blank" rel="noopener noreferrer">【アニメ】メイドらしさを求めて</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式番組
                        </td>
                        <td>2021年2月17日</td>
                        <td>
                            <a href="https://live.nicovideo.jp/watch/lv330547737" target="_blank" rel="noopener noreferrer">hololive IDOL PROJECT 1st Live.『Bloom,』　最速アフタートーク！</a>
                        </td>
                        <td>
                            公開終了
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式動画
                        </td>
                        <td>2021年2月17日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=DlZYG2NVaqo" target="_blank" rel="noopener noreferrer">『ホロライブ・オルタナティブ』 ティザーPV予告編（30秒ver）</a><br>
                            ※台詞ナシ
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式番組
                        </td>
                        <td>2021年2月16日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=n1lG83m71Ms" target="_blank" rel="noopener noreferrer">1st LIVE Bloom,直前！出演メンバー意気込み逆凸</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ホロぐら
                        </td>
                        <td>2021年2月14日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=2wOBwf_vsTw" target="_blank" rel="noopener noreferrer">【アニメ】助けて！クビにされる！</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>ニコニコ企画</td>
                        <td>2021年1月29日</td>
                        <td>
                            「ポケットモンスター ソード・シールド」DLC「鎧の孤島」ホロポケ部対戦会<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000157.000056982.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td>
                            <a href="https://live.nicovideo.jp/watch/lv330093667" target="_blank" rel="noopener noreferrer">湊あくあ視点</a>
                        </td>
                    </tr>
                    <tr>
                        <td>楽曲</td>
                        <td>2021年1月8日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=mZ0sJQC8qkE" target="_blank" rel="noopener noreferrer">ホロライブ言えるかな？ Beyond the Stage ver.【STAGE1＋2 edit】</a>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>コラボ</td>
                        <td>2021年1月5日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=uzsTWkMvXl8" target="_blank" rel="noopener noreferrer">【#にじホロ桃鉄】負けたら罰ゲーム‼チーム戦桃鉄対決🍑🚃【本間ひまわり/月ノ美兎/ 宝鐘マリン/湊あくあ】</a>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式番組
                        </td>
                        <td>2020年12月31日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=CBTwb8jqJM8" target="_blank" rel="noopener noreferrer">年末ホロライブ　～ゆくホロくるホロ2020～【#ゆくホロくるホロ2020】</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ホロぐら
                        </td>
                        <td>2020年12月27日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=NL-WJy8THpA" target="_blank" rel="noopener noreferrer">【アニメ】これがホロライブの年末！【短編集】</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式企画
                        </td>
                        <td>2020年12月26日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=lerk9192c3s" target="_blank" rel="noopener noreferrer">【 #ホロライブクリスマス】フィナーレ！寝るまでがクリスマス！だよね？！？</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>

                    <tr>
                        <td>
                            公式PR
                        </td>
                        <td>2020年12月16日</td>
                        <td>
                            <a href="https://twitter.com/hololivetv/status/1339087863615422465" target="_blank" rel="noopener noreferrer">#こえていくホロライブ カウントダウンムービー</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>

                    <tr>
                        <td>
                            ラジオ
                        </td>
                        <td>2020年11月8日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=7_4r4lcN82A" target="_blank" rel="noopener noreferrer">#32 後半『星街すいせいのMUSIC SPACE』</a><br>
                            <a href="https://www.youtube.com/watch?v=1huawCKDgoE" target="_blank" rel="noopener noreferrer">コネクト</a>　
                            <a href="https://www.youtube.com/watch?v=k4qHqllUyKc" target="_blank" rel="noopener noreferrer">Anemone heart</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ラジオ
                        </td>
                        <td>2020年11月1日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=r0jmhZO2PV0" target="_blank" rel="noopener noreferrer">#31 後半『星街すいせいのMUSIC SPACE』</a><br>
                            <a href="https://www.youtube.com/watch?v=gRT9xb0fN-s" target="_blank" rel="noopener noreferrer">ライオン</a>　
                            <a href="https://www.youtube.com/watch?v=YNwsS69DTCo" target="_blank" rel="noopener noreferrer">宿命</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ホロぐら
                        </td>
                        <td>2020年10月25日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=ob_atuYtldQ" target="_blank" rel="noopener noreferrer">【アニメ】強奪事件</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ライブ
                        </td>
                        <td>2020年10月18日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=IbtmfYz_LAY" target="_blank" rel="noopener noreferrer">日清食品presents #カレーメシスパイスライブ</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ホロぐら
                        </td>
                        <td>2020年10月16日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=p554IIGY8Dw" target="_blank" rel="noopener noreferrer">【アニメ】カレーメシVSホロライブ</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式番組
                        </td>
                        <td>2020年10月11日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=-5TMTyV4JZA" target="_blank" rel="noopener noreferrer">日清カレーメシ×ホロライブコラボレーションお披露目会</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            MV
                        </td>
                        <td>2020年10月11日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=3QJD9iekpDQ" target="_blank" rel="noopener noreferrer">日清カレーメシコラボ楽曲<br>
                                「カレーメシ・イン・ミラクル」リリックビデオ</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>

                    <tr>
                        <td>
                            ホロぐら
                        </td>
                        <td>2020年8月20日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=coIo0JtK-yA" target="_blank" rel="noopener noreferrer">【アニメ】大事なソロライブが中止！？【湊あくあ/ホロライブ #出張ホロぐら】</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>

                    <tr>
                        <td>
                            ホロぐら
                        </td>
                        <td>2020年8月11日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=xrVCRE977fc" target="_blank" rel="noopener noreferrer">【公式ch.50万人記念】そうだ、写真撮ろう【夢見る空へ】</a><br>
                            ※台詞ナシ
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式切り抜き
                        </td>
                        <td>2020年7月18日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=OvYezWxLNwM" target="_blank" rel="noopener noreferrer">激辛地獄チャレンジでアイドルが放送事故寸前…！？【ホロろぐ 007】</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式切り抜き
                        </td>
                        <td>2020年5月30日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=IrwZ7477wuE" target="_blank" rel="noopener noreferrer">【ホロライブ】爆笑しすぎて心配されるツボに入った笑い声集【ホロろぐ 005】</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式動画
                        </td>
                        <td>2020年5月23日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=0TMEXo9T9O0" target="_blank" rel="noopener noreferrer">アイドルが「朝までそれ正解」したらまさかの告白に全員ドン引き…</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ホロぐら
                        </td>
                        <td>2020年5月22日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=acNUes3ZV_A" target="_blank" rel="noopener noreferrer">イタズラばかりしていたら裁判沙汰になりました【ホロろぐ 004】</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ホロぐら
                        </td>
                        <td>2020年5月10日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=Cgf-qkaDZAU" target="_blank" rel="noopener noreferrer">【アニメ】1分でわかるヘンゼルとグレーテル</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式切り抜き
                        </td>
                        <td>2020年5月2日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=m_RAWbTTSBo" target="_blank" rel="noopener noreferrer">変な人達に凸されるかわいそうなアイドル達【ホロろぐ 003】</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ホロぐら
                        </td>
                        <td>2020年4月26日</td>
                        <td>
                            <a href="https://twitter.com/hololivetv/status/1254334493181087744" target="_blank" rel="noopener noreferrer">あくあテレビ（非公開）</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式切り抜き
                        </td>
                        <td>2020年4月25日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=l9CXAXPy0A4" target="_blank" rel="noopener noreferrer">【ホロライブ】罵倒か可愛いたまに化け物よりうるさい悲鳴まとめてみた【ホロろぐ 002】</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式動画<br>
                            Twitter
                        </td>
                        <td>2020年4月4日</td>
                        <td>
                            <a href="https://twitter.com/hololivetv/status/1246195775668805634" target="_blank" rel="noopener noreferrer">#おはようホロライブ NG集</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式動画<br>
                            Twitter
                        </td>
                        <td>2020年4月3日</td>
                        <td>
                            <a href="https://twitter.com/hololivetv/status/1245827139494002693" target="_blank" rel="noopener noreferrer">#おはようホロライブ NG集</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式動画<br>
                            Twitter
                        </td>
                        <td>2020年4月2日</td>
                        <td>
                            <a href="https://twitter.com/hololivetv/status/1245463452216221696" target="_blank" rel="noopener noreferrer">#おはようホロライブ NG集</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            コラボ
                        </td>
                        <td>2020年4月1日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=04EIYwhm5rI" target="_blank" rel="noopener noreferrer">【#宝鐘マリン増殖中】宝鐘マリンのフリをする宝鐘マリンの中から宝鐘マリンを探し出す企画</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式動画<br>
                            Twitter
                        </td>
                        <td>2020年3月31日</td>
                        <td>
                            <a href="https://twitter.com/hololivetv/status/1244738686303883264" target="_blank" rel="noopener noreferrer">#おはようホロライブ NG集</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式動画<br>
                            Twitter
                        </td>
                        <td>2020年3月30日</td>
                        <td>
                            <a href="https://twitter.com/hololivetv/status/1244376403430141952" target="_blank" rel="noopener noreferrer">#おはようホロライブ NG集</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式動画<br>
                            Twitter
                        </td>
                        <td>2020年3月29日</td>
                        <td>
                            <a href="https://twitter.com/hololivetv/status/1244021448919773186" target="_blank" rel="noopener noreferrer">#おはようホロライブ</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式動画<br>
                            Twitter
                        </td>
                        <td>2020年3月28日</td>
                        <td>
                            <a href="https://twitter.com/hololivetv/status/1243659061863710721" target="_blank" rel="noopener noreferrer">#おはようホロライブ</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式動画<br>
                            Twitter
                        </td>
                        <td>2020年3月27日</td>
                        <td>
                            <a href="https://twitter.com/hololivetv/status/1243289120782405633" target="_blank" rel="noopener noreferrer">#おはようホロライブ</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式動画<br>
                            Twitter
                        </td>
                        <td>2020年3月26日</td>
                        <td>
                            <a href="https://twitter.com/hololivetv/status/1242926732824301568" target="_blank" rel="noopener noreferrer">#おはようホロライブ</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式動画<br>
                            Twitter
                        </td>
                        <td>2020年3月25日</td>
                        <td>
                            <a href="https://twitter.com/hololivetv/status/1242564346049220608" target="_blank" rel="noopener noreferrer">#おはようホロライブ</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式動画<br>
                            Twitter
                        </td>
                        <td>2020年3月24日</td>
                        <td>
                            <a href="https://twitter.com/hololivetv/status/1242201977305481216" target="_blank" rel="noopener noreferrer">#おはようホロライブ</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式動画<br>
                            Twitter
                        </td>
                        <td>2020年3月23日</td>
                        <td>
                            <a href="https://twitter.com/hololivetv/status/1241839569726844928" target="_blank" rel="noopener noreferrer">#おはようホロライブ</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式切り抜き
                        </td>
                        <td>2020年2月25日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=LoCB5lC7Iu4" target="_blank" rel="noopener noreferrer">【マイクラホロ鯖】日照権侵害で隣人トラブル、そして家爆破【湊あくあ × 紫咲シオン】</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ホロぐら
                        </td>
                        <td>2020年2月16日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=saPtg9fdWYg" target="_blank" rel="noopener noreferrer">🦀🦀【アニメ】〇〇捕獲選手権！</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式切り抜き
                        </td>
                        <td>2020年2月7日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=TbJ7oCjwwI8" target="_blank" rel="noopener noreferrer">ホロライブARKブームを分かった気になれる動画【まとめ/切り抜き】#とまらないARK</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式動画<br>
                            Twitter
                        </td>
                        <td>2020年1月26日</td>
                        <td>
                            <a href="https://twitter.com/hololivetv/status/1221191487775371266" target="_blank" rel="noopener noreferrer">#おはようホロライブ</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式動画<br>
                            Twitter
                        </td>
                        <td>2020年1月25日</td>
                        <td>
                            <a href="https://twitter.com/hololivetv/status/1220831577384448000" target="_blank" rel="noopener noreferrer">#おはようホロライブ</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式企画
                        </td>
                        <td>2020年1月23日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=Y1pMXZG6t5Y" target="_blank" rel="noopener noreferrer">【公式】豊洲ライブ直前、メンバー凸待ち！(※凸0人で積みゲー消化)【#とまらないホロライブ】</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式動画<br>
                            Twitter
                        </td>
                        <td>2020年1月23日</td>
                        <td>
                            <a href="https://twitter.com/hololivetv/status/1220117100317962240" target="_blank" rel="noopener noreferrer">#おはようホロライブ</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式動画<br>
                            Twitter
                        </td>
                        <td>2020年1月22日</td>
                        <td>
                            <a href="https://twitter.com/hololivetv/status/1219750654794559488" target="_blank" rel="noopener noreferrer">#おはようホロライブ</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式動画<br>
                            Twitter
                        </td>
                        <td>2020年1月21日</td>
                        <td>
                            <a href="https://twitter.com/hololivetv/status/1219379755092336640" target="_blank" rel="noopener noreferrer">#おはようホロライブ</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式動画<br>
                            Twitter
                        </td>
                        <td>2020年1月20日</td>
                        <td>
                            <a href="https://twitter.com/hololivetv/status/1219008768316342272" target="_blank" rel="noopener noreferrer">#おはようホロライブ</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>

                    <tr>
                        <td>
                            公式企画
                        </td>
                        <td>2019年12月31日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=3wMWjEct8Hw" target="_blank" rel="noopener noreferrer">年末ホロライブ　～ゆくホロくるホロ～【#ゆくホロくるホロ】</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            大会
                        </td>
                        <td>2019年12月1日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=yse1cB9B3FA" target="_blank" rel="noopener noreferrer">【ポケモン剣盾】ホロライブポケモン王は誰だ！【#ホロライブ剣盾トーナメント】</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            イベントブース
                        </td>
                        <td>
                            2019年8月11日<br>
                            ～2019年8月12日
                        </td>
                        <td>
                            C96 夏コミ ホロライブブース 12時時報動画担当
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式企画
                        </td>
                        <td>2019年7月7日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=isfJsD-evAg" target="_blank" rel="noopener noreferrer">ホロライブカラオケ女子会：湊あくあ, 夜空メル, 癒月ちょこ, 大神ミオ</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式動画
                        </td>
                        <td>2019年7月7日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=fzIeI3YjWAI" target="_blank" rel="noopener noreferrer">【アニメ】そのあと墜落した【全米が泣いた】</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式動画
                        </td>
                        <td>2019年5月19日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=UVncAW3h45E" target="_blank" rel="noopener noreferrer">【アニメ】前回のホロライブ！</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            MV
                        </td>
                        <td>2019年4月30日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=lGXgYHlR8ww" target="_blank" rel="noopener noreferrer">【7thオリジナルソング】Fake.Fake.Fake/AZKi【AZKi BLaCK】</a><br>
                            ※台詞など無し
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式動画
                        </td>
                        <td>2019年4月29日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=Jnu8xZpHj00" target="_blank" rel="noopener noreferrer">【アニメ】Cooming Soon!!【予告編】</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式動画
                        </td>
                        <td>2019年2月19日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=jPXpaEVXgcM" target="_blank" rel="noopener noreferrer">ホロライブバレンタイン2019告知まとめ動画</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            コラボ
                        </td>
                        <td>2019年2月2日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=cXP8OxMN_SQ" target="_blank" rel="noopener noreferrer">ホロライブ幼稚園 ～No,1園児を探せ！～</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            公式動画
                        </td>
                        <td>2018年11月7日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=vg9psfIhdpU" target="_blank" rel="noopener noreferrer">ホロライブハロウィン</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>