<!DOCTYPE html>
<html lang="ja">
<%_ var includePath = "../include/" _%>
<%- include(includePath+"_header.ejs") %>
<body style="margin:0;padding:0;">

<%- include(includePath+"_leftmenu.ejs") %>
    <style>
        .right-main {
            background-image: url('./minatoaqua_bg.webp');
        }
        table, tr, td {
            border:solid 1px black;
        }
    </style>
    <div class="right-main">
        <h2 style="text-align:center;margin:0;">コラボ</h2>
        <div style="display:flex;max-width:1000px;margin:0 auto;">

            <table style="width: 720px;margin: 16px auto;">
                <tbody>
                    <tr>
                        <td colspan="3">実施中</td>
                    </tr>
                    <tr>
                        <td>
                            2022年<br>
                            7月8日～7月31日
                        </td>
                        <td><a href="https://sanrio-animestore-a3.jp/" target="_blank" rel="noopener noreferrer">ホロライブ・サンリオキャラクターズ コラボ「ホロサンリオ」</a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            2022年<br>
                            7/22～8/31
                        </td>
                        <td><a href="https://twitter.com/menu_all/status/1549318842161106944" target="_blank" rel="noopener noreferrer">ホロライブ X 東京タワー コラボレーション</a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            2022年<br>
                            7/22～8/31
                        </td>
                        <td><a href="https://paselabo.tv/colabo.php?id=506" target="_blank" rel="noopener noreferrer">ホロライブ X パセラ コラボレーション</a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            2022年<br>
                            5月～
                        </td>
                        <td>
                            <a href="https://www.redbull.com/jp-ja/collections/virtual-ambassadors-column" target="_blank" rel="noopener noreferrer">レッドブル・バーチャル・アンバサダー<br>
                                月に1回コラム更新（毎月月初更新）</a>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="3">実施予定</td>
                    </tr>
                    <tr>
                        <td>
                            2022年<br>
                            9月中旬発売予定
                        </td>
                        <td><a href="https://bpnavi.jp/s/kuji/pc/medias/show_by_key/hololive-2" target="_blank" rel="noopener noreferrer">【再販】一番くじ ホロライブ</a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            2022年<br>
                            11月発売
                        </td>
                        <td><a href="https://www.bandai.co.jp/candy/products/2022/4549660821090000.html" target="_blank" rel="noopener noreferrer">イタジャガ ホロライブ vol.1</a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="3">実施終了</td>
                    </tr>

                    <tr>
                        <td>
                            2022年<br>
                            7月19日発売
                        </td>
                        <td><a href="https://online.1kuji.com/view/item_about.html?search=hololive" target="_blank" rel="noopener noreferrer">一番くじ ホロライブ（一番くじオンライン）</a>※販売終了</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            2022年<br>
                            6月18日発売
                        </td>
                        <td><a href="https://sn.bpnavi.jp/1kuji_hololive/hololive/" target="_blank" rel="noopener noreferrer">一番くじ ホロライブ（店舗）</a></td>
                        <td></td>
                    </tr>





                    <tr>
                        <td>
                            2022年<br>
                            
                        </td>
                        <td><a href="" target="_blank" rel="noopener noreferrer"></a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            2022年<br>
                            
                        </td>
                        <td><a href="" target="_blank" rel="noopener noreferrer"></a></td>
                        <td></td>
                    </tr>
                    <!--tr>
                        <td>年月日公開</td>
                        <td><a href="" target="_blank" rel="noopener noreferrer">「」</a></td>
                        <td></td>
                    </tr-->
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>