<!DOCTYPE html>
<html lang="ja">
<%_ var includePath = "../include/" _%>
<%- include(includePath+"_header.ejs") %>
<body style="margin:0;padding:0;">

<%- include(includePath+"_leftmenu.ejs") %>
    <style>
        .right-main {
            background-image: url('./minatoaqua_bg.webp');
        }
        table, tr, td {
            border:solid 1px black;
        }
    </style>
    <div class="right-main">
        <h2 style="text-align:center;margin:0;">コラボ</h2>
        <div style="display:flex;max-width:1000px;margin:0 auto;">

            <table style="margin: 16px auto;">
                <tbody>
                    <tr>
                        <td colspan="3">実施中</td>
                    </tr>
                    <tr>
                        <td>
                            2022年7月22日<br>
                            ～2022年8月31日
                        </td>
                        <td><a href="https://twitter.com/menu_all/status/1549318842161106944" target="_blank" rel="noopener noreferrer">ホロライブ X 東京タワー コラボレーション</a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            2022年7月22日<br>
                            ～2022年8月31日
                        </td>
                        <td><a href="https://paselabo.tv/colabo.php?id=506" target="_blank" rel="noopener noreferrer">ホロライブ X パセラ コラボレーション</a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            2022年<br>
                            5月～
                        </td>
                        <td>
                            <a href="https://www.redbull.com/jp-ja/collections/virtual-ambassadors-column" target="_blank" rel="noopener noreferrer">レッドブル・バーチャル・アンバサダー<br>
                                月に1回コラム更新（毎月月初更新）</a>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="3">実施予定</td>
                    </tr>
                    <tr>
                        <td>
                            2022年9月中旬～
                        </td>
                        <td><a href="https://bpnavi.jp/s/kuji/pc/medias/show_by_key/hololive-2" target="_blank" rel="noopener noreferrer">【再販】一番くじ ホロライブ</a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            2022年11月～
                        </td>
                        <td><a href="https://www.bandai.co.jp/candy/products/2022/4549660821090000.html" target="_blank" rel="noopener noreferrer">イタジャガ ホロライブ vol.1</a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="3">実施終了</td>
                    </tr>

                    <tr>
                        <td>
                            2022年7月19日～
                        </td>
                        <td><a href="https://online.1kuji.com/view/item_about.html?search=hololive" target="_blank" rel="noopener noreferrer">一番くじ ホロライブ（一番くじオンライン）</a>※販売終了</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            2022年7月8日<br>
                            ～2022年7月31日
                        </td>
                        <td>
                            <a href="https://sanrio-animestore-a3.jp/" target="_blank" rel="noopener noreferrer">ホロライブ・サンリオキャラクターズ コラボ「ホロサンリオ」</a><br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000733.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            2022年6月19日
                        </td>
                        <td>
                            <a href="https://vs.sao-game.jp/" target="_blank" rel="noopener noreferrer">『ソードアート・オンライン　ヴァリアント・ ショウダウン』</a>クローズドβ配信
                            
                        </td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=qWqoW4yW2NU" target="_blank" rel="noopener noreferrer">PR配信</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2022年6月18日～
                        </td>
                        <td><a href="https://sn.bpnavi.jp/1kuji_hololive/hololive/" target="_blank" rel="noopener noreferrer">一番くじ ホロライブ（店舗）</a></td>
                        <td></td>
                    </tr>



                    <tr>
                        <td>
                            
                        </td>
                        <td><a href="" target="_blank" rel="noopener noreferrer"></a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            
                        </td>
                        <td><a href="" target="_blank" rel="noopener noreferrer"></a></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>
                            2022年5月24日<br>
                            ～2022年7月8日
                        </td>
                        <td>
                            <a href="https://fm-goods.com/hololive_holomart8.html" target="_blank" rel="noopener noreferrer">ホロライブ ｘ ファミリーマート 「ホロマート 初夏のホロ祭り」</a><br>
                            <a href="https://twitter.com/famima_now/status/1525023044724436993" target="_blank" rel="noopener noreferrer">告知ツイート</a>　
                            <a href="https://twitter.com/famima_now/status/1526404643806294016" target="_blank" rel="noopener noreferrer">告知ツイート</a>　
                            <a href="https://twitter.com/famima_now/status/1528918711599497222" target="_blank" rel="noopener noreferrer">告知ツイート</a>
                        </td>
                        <td>
                            コラボグッズ<br>
                            購入者配布<br>
                            <a href="https://www.family.co.jp/campaign/spot/2205_hololive_twcp.html" target="_blank" rel="noopener noreferrer">Twitterキャンペーン</a>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            2022年4月29日<br>
                            ～2022年6月30日
                        </td>
                        <td>
                            自販機復刻販売「レッドブル・エナジードリンク パープルエディション」コラボ<br>
                            <a href="https://www.redbull.com/jp-ja/projects/redbull-virtual-ambassadors/aquaandbotan-vm" target="_blank" rel="noopener noreferrer">湊あくあ&獅白ぼたん レッドブル・エナジードリンク パープルエディション<br>
                                自販機限定キャンペーン</a><br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000683.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            2022年4月22日～
                        </td>
                        <td>
                            大手回転寿司チェーン「スシロー」コラボ<br>
                            『湊あくあ』とスシローぜ！キャンペーン<br>
                            湊あくあチョイス寿司＋グッズセット／ECサイトでコラボグッズ販売<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000668.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>　
                            <a href="https://prtimes.jp/main/html/rd/p/000000302.000049164.html" target="_blank" rel="noopener noreferrer">PR Times</a>　
                            <a href="https://prtimes.jp/main/html/rd/p/000000305.000049164.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=0XdWjfTXodw" target="_blank" rel="noopener noreferrer">コラボ配信</a><br>
                            コラボグッズ販売
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2022年2月1日<br>
                            ～2022年2月28日
                        </td>
                        <td>
                            <a href="https://www.joysound.com/web/s/campaign/1202/index" target="_blank" rel="noopener noreferrer">湊あくあ×JOYSOUND コラボキャンペーン</a><br>
                            <a href="https://prtimes.jp/main/html/rd/p/000001731.000004747.html" target="_blank" rel="noopener noreferrer">PR Times</a></td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=8yAvpNySbdA" target="_blank" rel="noopener noreferrer">コラボ動画</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2022年1月7日<br>
                            ～2022年2月27日
                        </td>
                        <td>
                            <a href="https://tokyo-joypolis.com/event/hololive_jp2021/index.html" target="_blank" rel="noopener noreferrer"></a>『ホロライブ×ジョイポリス LOVELY PARTY』コラボ</a><br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000590.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td>
                            コラボグッズ販売<br>
                            話せるイベント
                        </td>
                    </tr>

                    <tr>
                        <td>
                            2021年12月28日
                        </td>
                        <td>
                            <a href="https://goods.appli-style.jp/vtuber-style/8402/" target="_blank" rel="noopener noreferrer">【VTuberスタイル Vol.3】「ホロライブ」湊あくあ表紙＆巻頭特集</a>
                        </td>
                        <td>
                            雑誌表紙
                        </td>
                    </tr>

                    <tr>
                        <td>
                            2021年12月2日
                        </td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=hdqLQDy1vDI" target="_blank" rel="noopener noreferrer">Netflix独占配信中「Arcane アーケイン」同時視聴</a><br>
                            湊あくあ/獅白ぼたん
                        </td>
                        <td>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            2021年7月22日<br>
                            ～2021年8月15日<br>
                            （延期↓）<br>
                            2021年11月13日<br>
                            ～2021年11月28日
                        </td>
                        <td>
                            <a href="https://www.cocoyoko.net/event/anime-fes2021.html" target="_blank" rel="noopener noreferrer">海のアニメ総合イベント「よこすか海のアニメカーニバル」</a><br>
                            公式アンバサダーとして参加<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000440.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>　
                            コラボグルメ・イベント詳細：<a href="https://prtimes.jp/main/html/rd/p/000000557.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td>
                            グッズ販売<br>
                            <a href="https://www.youtube.com/watch?v=YFogAYSQFm0" target="_blank" rel="noopener noreferrer">湊あくあ杯</a><br>
                            スタンプラリー<br>
                            ライブ
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2021年11月1日<br>
                            ～2022年1月7日
                        </td>
                        <td>
                            郵便局物販サービス「ホロライブ年賀はがき」、「ホロライブグッズ」の販売<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000053.000072461.html" target="_blank" rel="noopener noreferrer">PR Times</a>　
                            <a href="https://prtimes.jp/main/html/rd/p/000000536.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td>
                            コラボ年賀はがき<br>
                            コラボグッズ販売<br>
                            購入者キャンペーン
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2021年10月23日<br>
                            ～2021年11月21日 
                        </td>
                        <td>
                            <a href="https://www.ppihgroup.com/products/hololive/" target="_blank" rel="noopener noreferrer">「ホロライブ」、「ドン・キホーテ」コラボ</a>　
                            <a href="https://hololive.ec-project.jp/" target="_blank" rel="noopener noreferrer">通販</a><br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000512.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td>
                            グッズ販売<br>
                            フォトスポット
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2021年10月22日<br>
                            ～2021年11月16日
                        </td>
                        <td>
                            <a href="https://bang-dream.bushimo.jp/collabo/hololive/" target="_blank" rel="noopener noreferrer">「バンドリ！ ガールズバンドパーティ！」コラボ</a><br>
                            Pastel＊Palettes × 湊あくあ『ファンサ』<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000528.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td>
                            コラボスキン<br>
                            コラボミッション<br>
                            コラボグッズ<br>
                            <a href="https://www.youtube.com/watch?v=ZKntC0nwdcI" target="_blank" rel="noopener noreferrer">ビデオレター</a><br>
                            <a href="https://www.youtube.com/watch?v=ZRORXVf4ers" target="_blank" rel="noopener noreferrer">コラボ配信1</a><br>
                            <a href="https://www.youtube.com/watch?v=X3cGbCqErEg" target="_blank" rel="noopener noreferrer">コラボ配信2</a><br>
                            <a href="https://www.youtube.com/watch?v=kFDgcu9x09A" target="_blank" rel="noopener noreferrer">特別生放送</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2021年10月20日<br>
                            ～2021年11月26日
                        </td>
                        <td>
                            cluster「バーチャル競馬場」<br>
                            「JRA×ソードアート・オンライン – オータム・バーチャル・レーシング –」プロモーション<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000017.000038799.html" target="_blank" rel="noopener noreferrer">PR Times</a>　
                            <a href="https://prtimes.jp/main/html/rd/p/000000119.000017626.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=IHrFrUhe6AE" target="_blank" rel="noopener noreferrer">PR配信</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                           2021年10月9日<br>
                           ～2021年10月10日 
                        </td>
                        <td>
                            <a href="https://bushiroad.com/hololivefestival" target="_blank" rel="noopener noreferrer">ヴァイスシュヴァルツ＆Reバース presents ホロライブプロダクションフェスティバル</a>
                        </td>
                        <td>
                            グッズ販売
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2021年10月1日～
                        </td>
                        <td>
                            ヴァイスシュヴァルツ、「ブースターパック ホロライブプロダクション」発売<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000004832.000014827.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td>
                            TCG<br>
                            <a href="https://www.youtube.com/watch?v=Yp3wIxQUtpA" target="_blank" rel="noopener noreferrer">開封配信(10/1)</a>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            2021年9月24日～
                        </td>
                        <td>
                            ヴァイスシュヴァルツ、トライアルデッキ＋(プラス)「ホロライブプロダクション」 7種発売<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000004807.000014827.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td>
                            TCG<br>
                            <a href="https://www.youtube.com/watch?v=Yp3wIxQUtpA" target="_blank" rel="noopener noreferrer">開封配信(10/1)</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2021年8月1日<br>
                            ～2021年8月15日
                        </td>
                        <td>
                            「アトレ秋葉原」コラボ「ホロライブ夏祭り×アトレ秋葉原」<br>
                            アンケート回答＆1会計につきノベルティ（うちわ・ポストカード）プレゼント<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000459.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td>
                            ノベルティ配布<br>
                            ポップアップストア<br>
                            カード配布
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2021年7月20日<br>
                            ～2021年8月9日
                        </td>
                        <td>
                           「湊あくあ」と「獅白ぼたん」が<br>
                           「Red Bull 5G（レッド ブル・ファイブジー）」公式応援団として参加<br>
                           Red Bull 5G ローソン店頭キャンペーン<br>
                           レッドブル購入レシートを撮影＆LINE投稿でポイントを貯めて応募するキャンペーン<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000454.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td>
                            限定壁紙<br>
                            限定ボイス
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2021年7月2日～
                        </td>
                        <td>
                            <a href="https://dengekibunko.jp/special/uketsukejo/" target="_blank" rel="noopener noreferrer">『ギルドの受付嬢ですが、残業は嫌なのでボスをソロ討伐しようと思います』コラボ</a><br>
                            VTuber湊あくあ コラボレーション企画<br>
                            コラボイラスト、購入特典イラストカード、コラボ書籍帯、応援コメント<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000008748.000007006.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>
                            2021年6月10日<br>
                            ～2021年7月12日
                        </td>
                        <td>
                            <a href="https://www.redbull.com/jp-ja/events/red-bull-break-the-limit/" target="_blank" rel="noopener noreferrer">「Red Bull Break The Limit」</a>プロモーション
                        </td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=t9erPqu3PYE" target="_blank" rel="noopener noreferrer">PR配信</a><br>
                            <a href="https://twitter.com/minatoaqua/status/1406546743408304133" target="_blank" rel="noopener noreferrer">告知ツイート</a>                            
                        </td>
                    </tr>

                    <tr>
                        <td>
                            2021年6月8日
                        </td>
                        <td>
                            「湊あくあ」と「獅白ぼたん」が、『レッドブル・バーチャル・アンバサダー』に就任<br>
                            湊あくあ＆獅白ぼたん　レッドブル・バーチャルアンバサダー就任記念キャンペーン<br>
                            記念限定ステッカー付 250ml×24本 ケース販売、当選でファンミーティング招待<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000431.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td>
                            限定ステッカー付<br>
                            レッドブルケース販売
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2021年5月17日
                        </td>
                        <td>
                            UHA味覚糖 「e-maのど飴」コラボパッケージ<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000180.000011343.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td>
                            コラボパッケージ
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2021年4月20日<br>
                            ～2021年5月3日
                        </td>
                        <td>
                            hololive IDOL PROJECT ×　NE(X)T BREAKERSキャンペーン<br>
                            ポスター掲出・『Bouquet』購入特典・特別レシートの発行<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000699.000025445.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td>
                            Twitterキャンペーン
                        </td>
                    </tr>

                    <tr>
                        <td>
                            2021年3月23日<br>
                            ～2021年3月29日
                        </td>
                        <td>
                            【１億食突破記念】第三弾『#カレーメシ×#ホロライブ』 Twitterキャンペーン<br>
                            <a href="https://twitter.com/currymeshikun/status/1374179092317233158" target="_blank" rel="noopener noreferrer">告知ツイート</a>
                        </td>
                        <td>
                            Twitterキャンペーン
                        </td>
                    </tr>

                    <tr>
                        <td>
                            2021年2月19日
                        </td>
                        <td>
                            「ガシャポンオンライン」コラボ<br>
                            「湊あくあ」、「癒月ちょこ」、「百鬼あやめ」、<br>
                            「紫咲シオン」、「大空スバル」アクリルスイング<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000379.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td>
                            グッズ
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2021年2月15日<br>
                            ～2021年3月31日
                        </td>
                        <td>
                            UHA味覚糖 「e-maのど飴」コラボ<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000160.000011343.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td>
                            商品購入応募キャンペーン
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2021年2月14日<br>
                            ～2021年2月22日
                        </td>
                        <td>
                            「D4DJ Groovy Mix(グルミク)」<br>
                            「ホロライブ」コラボイベント＆ガチャ「Shiny Smily Scratch！」開催<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000003885.000014827.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td>
                            楽曲<br>
                            限定ストーリー
                        </td>
                    </tr>

                    <tr>
                        <td>
                            2021年1月26日<br>
                            ～2021年2月24日
                        </td>
                        <td>
                            <a href="https://www.lawson.co.jp/lab/campaign/hololive/202101index.html" target="_blank" rel="noopener noreferrer">ホロライブｘローソン コラボレーションキャンペーン</a><br>
                            店頭グッズ販売／オンライングッズ販売／店内アナウンス放送<br>
                            <a href="https://twitter.com/minatoaqua/status/1353613576464965634" target="_blank" rel="noopener noreferrer">告知ツイート＆動画</a>
                        </td>
                        <td>
                            グッズ<br>
                            店内放送<br>
                            Twitterキャンペーン
                        </td>
                    </tr>


                    <tr>
                        <td>
                            2021年1月22日
                        </td>
                        <td>
                            「ガシャポンオンライン」コラボ<br>
                            「ときのそら」、「夜空メル」、「湊あくあ」、<br>
                            「兎田ぺこら」、「天音かなた」、「雪花ラミィ」ラバーマスコット<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000355.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td>
                            グッズ
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2020年12月22日
                        </td>
                        <td>
                            「D4DJ Groovy Mix(グルミク)」にホロライブ楽曲が登場<br>
                            「Say!ファンファーレ!」「NEXT COLOR PLANET」「#あくあ色ぱれっと」<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000003718.000014827.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td>
                            楽曲
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2020年10月23日
                        </td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=5Go_DtN2QEQ" target="_blank" rel="noopener noreferrer"></a>高度育成高校生徒会 広報担当 湊あくあの「よう実をみんなに語り尽くす」配信の実施</a><br>
                            <a href="https://prtimes.jp/main/html/rd/p/000007634.000007006.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td>
                            PR配信
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2020年10月10日<br>
                            ～2020年10月18日
                        </td>
                        <td>
                            「ホロライブ」と『日清カレーメシ』コラボ「カレーメシWEEK」<br>
                            『スパイスラブ』（大空スバル、湊あくあ、兎田ぺこら）を結成＆アンバサダー就任<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000305.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td>
                            スパイスラブ結成<br>
                            限定BOX販売<br>
                            <a href="https://www.youtube.com/watch?v=p554IIGY8Dw" target="_blank" rel="noopener noreferrer">コラボホロぐら公開</a><br>
                            <a href="https://twitter.com/currymeshikun/status/1323444792718626816" target="_blank" rel="noopener noreferrer">実演販売</a><br>
                            <a href="https://www.youtube.com/watch?v=IbtmfYz_LAY" target="_blank" rel="noopener noreferrer">ライブ開催</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2020年10月8日
                        </td>
                        <td>
                            月刊ブシロード 2020年11月号 ホロライブ表紙<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000003409.000014827.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td>
                            雑誌表紙
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2020年9月25日
                        </td>
                        <td>
                            「湊あくあ」が＜高度育成高校生徒会 広報担当＞として就任<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000302.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=XIDzSr3oX1w" target="_blank" rel="noopener noreferrer">PR動画(10/16)</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2020年8月27日～
                        </td>
                        <td>
                            「湊あくあ」「紫咲シオン」、「MOLLY.ONLINE」コラボ<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000293.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>　
                            <a href="https://prtimes.jp/main/html/rd/p/000000018.000060567.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=gnTJPk313E0" target="_blank" rel="noopener noreferrer">プレイ配信</a><br>
                            コラボプライズ<br>
                            Twitterキャンペーン
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2020年8月21日～
                        </td>
                        <td>
                            Reバース ホロライブプロダクション<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000003025.000014827.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2020年4月5日<br>
                            ～2020年4月19日
                        </td>
                        <td>
                            アニメ グレイプニル 同時視聴
                        </td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=PFT0bzdIvh0" target="_blank" rel="noopener noreferrer">同時視聴配信</a>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            2019年11月27日<br>
                            ～2019年12月11日
                        </td>
                        <td>
                            「ホロライブ×アズールレーン」コラボ<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000174.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td>
                            湊あくあ（SSR潜水艦）
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2019年8月25日<br>
                            ～2019年9月30日
                        </td>
                        <td>
                            「Vアニ 2019」賭ケグルイ コラボ グッズ販売<br>
                            <a href="https://twitter.com/v_ani2019/status/1165460572516671489" target="_blank" rel="noopener noreferrer">告知ツイート</a>
                        </td>
                        <td>
                            グッズ販売
                        </td>
                    </tr>

                    <tr>
                        <td>
                            2019年7月23日<br>
                            ～2019年8月31日
                        </td>
                        <td>
                            『ラストイデア』x 湊あくあ コラボ 第2弾<br>
                            ゲーム内コンテンツ・イベント（クエスト）コラボ<br>
                            <a href="https://twitter.com/minatoaqua/status/1126770457707831296" target="_blank" rel="noopener noreferrer">告知ツイート</a>　
                            <a href="https://www.4gamer.net/games/450/G045098/20190723006/" target="_blank" rel="noopener noreferrer">4gamer</a>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2019年6月1日<br>
                            ～2019年6月26日
                        </td>
                        <td>
                            「ホロライブ1期生デビュー1周年記念！ホロライブ×アトレ秋葉原 コラボ」<br>
                            館内外キャラクタージャック／オリジナルグッズ販売／<br>
                            お買い物でキャラクターカードプレゼント<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000074.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a><br>
                            新規グッズ：<a href="https://prtimes.jp/main/html/rd/p/000000080.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td>
                            グッズ販売
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2019年5月10日～
                        </td>
                        <td>
                            『ラストイデア』x 湊あくあ コラボ<br>
                            ゲーム内コンテンツ（背景／称号など）コラボ<br>
                            <a href="https://twitter.com/minatoaqua/status/1126770457707831296" target="_blank" rel="noopener noreferrer">告知ツイート</a>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2019年4月9日
                        </td>
                        <td>
                            『ラストイデア』先行プレイコラボ<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000051.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td>
                            先行プレイ配信<br>
                            Twitterキャンペーン
                        </td>
                    </tr>
                    <!--tr>
                        <td>年月日公開</td>
                        <td><a href="" target="_blank" rel="noopener noreferrer">「」</a></td>
                        <td></td>
                    </tr-->
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>