<%_ var includePath = "../include/" _%>
<% var pageData = {
    url: 'event.html',
    title: "イベント",
    ogimage: ""
}; %>
<%- include(includePath+"_header.ejs", pageData) %>
<body style="margin:0;padding:0;">

<%- include(includePath+"_leftmenu.ejs") %>
    <style>
        .right-main {
            background-image: url('./minatoaqua_bg_event.webp');
        }
        table, tr, td {
            border:solid 1px black;
        }
    </style>
    <div class="right-main">
        <h2 style="text-align:center;margin:0;">イベント</h2>
        <div style="display:flex;max-width:1000px;margin:0 auto;">
            <table style="margin: 16px auto;">
                <tbody>
                    <tr>
                        <td>
                            2022年11月27日開催
                        </td>
                        <td>
                            <a href="http://www.entergram.co.jp/aquarium/special/20221026fanmeeting.html" target="_blank" rel="noopener noreferrer">「あくありうむ。発売記念ファンミーティング」</a><br>
                            第一部 15:00　第二部 16:30<br>
                            <a href="https://twitter.com/entergram_info/status/1588456127725207552" target="_blank" rel="noopener noreferrer">告知ツイート</a> 
                            <a href="https://twitter.com/entergram_info/status/1585194852924289026" target="_blank" rel="noopener noreferrer">告知ツイート</a><br>
                            ファンミレポート <a href="https://www.gamer.ne.jp/news/202212020004/" target="_blank" rel="noopener noreferrer">第一部</a> <a href="https://www.famitsu.com/news/202212/02284332.html" target="_blank" rel="noopener noreferrer">第二部</a><br>
                        </td>
                        <td>
                            購入者応募抽選
                        </td>
                    </tr>

                    <tr>
                        <td>
                            2022年10月1日開催<br>
                            2022年10月2日開催
                        </td>
                        <td>
                            <a href="https://www.entergram.co.jp/aquarium/special/20220915bookingEvent.html" target="_blank" rel="noopener noreferrer">第3回「あくありうむ。」早期予約引換イベント</a><br>
                            色紙＆大サイズ缶バッジ（※缶バッジは体験版インストール済みのSwitchが必要）<br>
                            東京、大阪(10/1)　名古屋(10/2)<a href="https://twitter.com/entergram_info/status/1570337878411976705" target="_blank" rel="noopener noreferrer">告知ツイート</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2022年9月15日～<br>
                            2022年9月18日開催
                        </td>
                        <td>
                            東京ゲームショウ ハピネットブース 「あくありうむ。」試遊<br>
                            試遊で大サイズ缶バッジプレゼント<br>
                            <a href="https://twitter.com/entergram_info/status/1568164294659014658" target="_blank" rel="noopener noreferrer">告知ツイート</a>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2022年8月26日開催<br>
                            2022年8月27日開催
                        </td>
                        <td>
                            <a href="https://hololivesummer2022.hololivepro.com/event/news05/" target="_blank" rel="noopener noreferrer">ホロライブ縁日 in 新宿</a>
                        </td>
                        <td>
                            無料事前応募制
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2022年8月20日開催<br>
                            2022年8月21日開催
                        </td>
                        <td>
                            イベント「アキバヤバイ」<br>
                            <a href="http://www.entergram.co.jp/aquarium/special/20220810uchiwa.html" target="_blank" rel="noopener noreferrer">あくあ×アクア コラボうちわ配布キャンペーン企画</a><br>
                            「あくありうむ。」早期予約引換イベント（オリジナルステッカー）<br>
                            <a href="https://twitter.com/entergram_info/status/1560591990957699073" target="_blank" rel="noopener noreferrer">告知ツイート</a>　
                            <a href="https://twitter.com/entergram_info/status/1560593195884777472" target="_blank" rel="noopener noreferrer">告知ツイート</a>
                        </td>
                        <td>
                            無料配布
                        </td>
                    </tr>

                    <tr>
                        <td>
                            2022年7月2日開催<br>
                            2022年8月7日開催
                        </td>
                        <td>
                            「あくありうむ。」早期予約引換イベント（オリジナルステッカー）<br>
                            第1回 東京(7/2)　<a href="https://twitter.com/entergram_info/status/1539896047996047360" target="_blank" rel="noopener noreferrer">告知ツイート</a><br>
                            第2回 大阪(8/7)　<a href="https://twitter.com/entergram_info/status/1552579661376663554" target="_blank" rel="noopener noreferrer">告知ツイート</a>
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>2022年7月24日開催</td>
                        <td>
                            <a href="https://www.redbull.com/jp-ja/projects/redbull-virtual-ambassadors/aquaandbotan-vm" target="_blank" rel="noopener noreferrer">湊あくあ&獅白ぼたんトークショー</a><br>
                            ＠Red Bull Gaming Sphere Tokyo<br>
                            <a href="https://www.redbull.com/jp-ja/redbull-virtual-ambassadors-talk-show" target="_blank" rel="noopener noreferrer">公式レポート</a>
                        </td>
                        <td>
                            Redbull<br>
                            キャンペーン当選者
                        </td>
                    </tr>
                    <tr>
                        <td>2022年3月14日開催</td>
                        <td>
                            <a href="https://shop.hololivepro.com/products/minatoaqua_aquatimeselect" target="_blank" rel="noopener noreferrer">湊あくあの秘密のお茶会＊⋈ᐝ♡ATS♡発売記念ファンミーティング</a><br>
                            東京・新宿某所イベントスペース
                        </td>
                        <td>
                            キャンペーン当選者
                        </td>
                    </tr>

                    <tr>
                        <td>2022年2月5日開催</td>
                        <td>
                            <a href="https://shop.hololivepro.com/products/minatoaqua_aquatimeselect" target="_blank" rel="noopener noreferrer">『ホロライブ×ジョイポリス LOVELY PARTY』「ホロ×マッチ」</a><br>
                            東京ジョイポリス
                        </td>
                        <td>
                            チケット抽選販売
                        </td>
                    </tr>

                    <tr>
                        <td>2021年8月22日開催</td>
                        <td>
                            <a href="https://www.redbull.com/jp-ja/projects/redbull-virtual-ambassadors/aquaandbotan-amazon" target="_blank" rel="noopener noreferrer">湊あくあ＆獅白ぼたん ファンミーティング</a><br>
                            Red Bull Gaming Sphere Tokyo
                        </td>
                        <td>
                            Redbull<br>
                            キャンペーン当選者
                        </td>
                    </tr>
                    <tr>
                        <td>2019年4月27日開催</td>
                        <td>
                            <a href="https://chokaigi.jp/2019/booth/vtuber_fes.html" target="_blank" rel="noopener noreferrer">VTuber Fes Japan 2019</a><br>
                            <a href="https://t.livepocket.jp/e/shabecho" target="_blank" rel="noopener noreferrer">会える！ 話せる！ VTuberおしゃべりフェス in 超会議</a>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>2019年2月14日開催</td>
                        <td>
                            「ホロライブ×TSUKUMO　バーチャルチョコレートお渡し会」<br>
                            @TSUKUMOパソコン本店III　（ツクモVR.）店頭<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000026.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <!--tr>
                        <td>年月日公開</td>
                        <td><a href="" target="_blank" rel="noopener noreferrer">「」</a></td>
                        <td></td>
                    </tr-->
                </tbody>
            </table>
        </div>
    </div>
    <%- include(includePath+"_footer.ejs") %>
</body>
</html>