<%_ var includePath = "../include/" _%>
<%- include(includePath+"_header.ejs") %>
<body style="margin:0;padding:0;">

<%- include(includePath+"_leftmenu.ejs") %>
    <style>
        .right-main {
            background-image: url('./minatoaqua_bg_event.webp');
        }
        table, tr, td {
            border:solid 1px black;
        }
    </style>
    <div class="right-main">
        <h2 style="text-align:center;margin:0;">イベント</h2>
        <div style="display:flex;max-width:1000px;margin:0 auto;">
            <table style="margin: 16px auto;">
                <tbody>
                    <tr>
                        <td>2022年7月24日開催</td>
                        <td>
                            <a href="https://www.redbull.com/jp-ja/projects/redbull-virtual-ambassadors/aquaandbotan-vm" target="_blank" rel="noopener noreferrer">湊あくあ&獅白ぼたんトークショー</a><br>
                            ＠Red Bull Gaming Sphere Tokyo
                        </td>
                        <td>
                            Redbull<br>
                            キャンペーン当選者
                        </td>
                    </tr>
                    <tr>
                        <td>2022年3月14日開催</td>
                        <td>
                            <a href="https://shop.hololivepro.com/products/minatoaqua_aquatimeselect" target="_blank" rel="noopener noreferrer">湊あくあの秘密のお茶会＊⋈ᐝ♡ATS♡発売記念ファンミーティング</a><br>
                            東京・新宿某所イベントスペース
                        </td>
                        <td>
                            キャンペーン当選者
                        </td>
                    </tr>

                    <tr>
                        <td>2022年2月5日開催</td>
                        <td>
                            <a href="https://shop.hololivepro.com/products/minatoaqua_aquatimeselect" target="_blank" rel="noopener noreferrer">『ホロライブ×ジョイポリス LOVELY PARTY』「ホロ×マッチ」</a><br>
                            東京ジョイポリス
                        </td>
                        <td>
                            チケット抽選販売
                        </td>
                    </tr>

                    <tr>
                        <td>2021年8月22日開催</td>
                        <td>
                            <a href="https://www.redbull.com/jp-ja/projects/redbull-virtual-ambassadors/aquaandbotan-amazon" target="_blank" rel="noopener noreferrer">湊あくあ＆獅白ぼたん ファンミーティング</a><br>
                            Red Bull Gaming Sphere Tokyo
                        </td>
                        <td>
                            Redbull<br>
                            キャンペーン当選者
                        </td>
                    </tr>
                    <tr>
                        <td>2019年4月27日開催</td>
                        <td>
                            <a href="https://chokaigi.jp/2019/booth/vtuber_fes.html" target="_blank" rel="noopener noreferrer">VTuber Fes Japan 2019</a><br>
                            <a href="https://t.livepocket.jp/e/shabecho" target="_blank" rel="noopener noreferrer">会える！ 話せる！ VTuberおしゃべりフェス in 超会議</a>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>2019年2月14日開催</td>
                        <td>
                            「ホロライブ×TSUKUMO　バーチャルチョコレートお渡し会」<br>
                            @TSUKUMOパソコン本店III　（ツクモVR.）店頭<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000026.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <!--tr>
                        <td>年月日公開</td>
                        <td><a href="" target="_blank" rel="noopener noreferrer">「」</a></td>
                        <td></td>
                    </tr-->
                </tbody>
            </table>
        </div>
    </div>
    <%- include(includePath+"_footer.ejs") %>
</body>
</html>