<!DOCTYPE html>
<html lang="ja">
<%_ var includePath = "../include/" _%>
<%- include(includePath+"_header.ejs") %>
<body style="margin:0;padding:0;">

<%- include(includePath+"_leftmenu.ejs") %>
    <style>
        .right-main {
            background-image: url('./minatoaqua_bg.webp');
        }
        table, tr, td {
            border:solid 1px black;
        }
    </style>
    <div class="right-main">
        <h2 style="text-align:center;margin:0;">グッズ</h2>
        <div style="display:flex;max-width:1000px;margin:0 auto;">
            <table style="margin: 16px auto;">
                <tbody>
                    <tr>
                        <td>
                            プライズグッズ
                        </td>
                        <td>
                            2022年2月8日～
                        </td>
                        <td>
                            バンプレスト、プライズシリーズ『#hololive IF』<br>
                            <a href="https://bsp-prize.jp/item/2591677/" target="_blank" rel="noopener noreferrer">ホロライブ #hololive IF -Relax time-湊あくあ</a>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>予定</td>
                        <td><a href="#" target="_blank" rel="noopener noreferrer"></a></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td></td>
                        <td>予定</td>
                        <td><a href="#" target="_blank" rel="noopener noreferrer"></a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>予定</td>
                        <td><a href="#" target="_blank" rel="noopener noreferrer"></a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            TCG
                        </td>
                        <td>
                            2022年3月31日～
                        </td>
                        <td>
                            Reバース for you「ホロライブプロダクション 2期生＆3期生」発売<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000005480.000014827.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            OFFICIAL<br>
                            ボイス
                        </td>
                        <td>
                            2022年2月10日<br>
                            ～2022年4月11日
                        </td>
                        <td><a href="https://shop.hololivepro.com/products/hololive_valentinevoice2022" target="_blank" rel="noopener noreferrer">ホロライブバレンタインボイス2022</a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            限定ボイス<br>
                            クリアファイル
                        </td>
                        <td>
                            2022年2月5日
                        </td>
                        <td>
                            <a href="https://tokyo-joypolis.com/event/hololive_jp2021/index.html" target="_blank" rel="noopener noreferrer"></a>『ホロライブ×ジョイポリス LOVELY PARTY』「ホロ×マッチ」参加特典</a><br>
                            限定シチュエーションボイス＆A5クリアファイル<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000590.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            コラボグッズ<br>
                        </td>
                        <td>
                            2022年1月7日<br>
                            ～2022年2月27日
                        </td>
                        <td>
                            <a href="https://tokyo-joypolis.com/event/hololive_jp2021/index.html" target="_blank" rel="noopener noreferrer"></a>『ホロライブ×ジョイポリス LOVELY PARTY』グッズ</a><br>
                            <a href="https://search-voi.0101.co.jp/freeword/?store=&q=%E3%83%9E%E3%83%AB%E3%82%A4%E3%83%8E%E3%82%A2%E3%83%8B%E3%83%A12203052&intid=shop_bnr_joypolis_onlinestore" target="_blank" rel="noopener noreferrer">通販サイト</a>　
                            <a href="https://prtimes.jp/main/html/rd/p/000000590.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td>
                            一部在庫アリ
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                            コミケ出展<br>
                            グッズ
                        </td>
                        <td>
                            2021年12月30日<br>
                            ～2021年12月31日
                        </td>
                        <td>
                            「コミックマーケット99 ホロライブプロダクション」グッズ<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000577.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            ライブグッズ
                        </td>
                        <td>
                            2022年3月19日<br>
                            ～2022年3月31日
                        </td>
                        <td>
                            <a href="https://hololivesuperexpo.hololivepro.com/goods/" target="_blank" rel="noopener noreferrer">「hololive SUPER EXPO 2022」、<br>
                                「hololive 3rd fes. Link Your Wish」グッズ</a><br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000572.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            ライブグッズ
                        </td>
                        <td>
                            2022年1月23日<br>
                            ～2022年2月6日
                        </td>
                        <td>
                            <a href="https://aqua2ndlive.hololivepro.com/goods" target="_blank" rel="noopener noreferrer">湊あくあ ワンマンライブ2022「あくあ色 in わんだ～☆らんど♪」グッズ</a><br>
                            <a href="https://items-store.jp/s/ectp05/page/CT-00007?ima=3841#/" target="_blank" rel="noopener noreferrer">販売ページ</a>
                        </td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>
                            コラボグッズ
                        </td>
                        <td>
                            2021年11月1日<br>
                            ～2022年1月7日
                        </td>
                        <td>
                            郵便局物販サービス「ホロライブ年賀はがき」、「ホロライブグッズ」の販売<br>
                            コラボ年賀はがき／クリアファイル／タペストリー／アクリルスタンド<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000053.000072461.html" target="_blank" rel="noopener noreferrer">PR Times</a>　
                            <a href="https://prtimes.jp/main/html/rd/p/000000536.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            コラボグッズ
                        </td>
                        <td>
                            2021年10月22日<br>
                            ～2021年11月8日
                        </td>
                        <td>
                            <a href="https://bang-dream.bushimo.jp/collabo/hololive/" target="_blank" rel="noopener noreferrer">「バンドリ！ ガールズバンドパーティ！」コラボ</a><br>
                            <a href="https://craftegg.store/" target="_blank" rel="noopener noreferrer">Craft Egg Store アクリルスタンド／パーカー／アクリルパネル</a><br>
                            <a href="https://bushiroad-store.com/collections/bd-holo" target="_blank" rel="noopener noreferrer">ブシロード オンラインストア 缶バッジ／アクキー</a><br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000528.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>　
                            <a href="https://prtimes.jp/main/html/rd/p/000004910.000014827.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td></td>
                    </tr>


                    <tr>
                        <td>
                            グッズ
                        </td>
                        <td>
                            2021年10月9日～
                        </td>
                        <td>
                            <a href="https://bushiroad-store.com/pages/holofes2021" target="_blank" rel="noopener noreferrer">「ヴァイスシュヴァルツ＆Reバース presents<br>
                                ホロライブプロダクションフェスティバル」グッズ</a><br>
                            缶バッジ／布ポスター／アクスタ／ミニ色紙／<br>
                            クリアファイル／BIGタオル／アクリルジオラマ<br>
                            <a href="https://bushiroad.com/hololivefestival" target="_blank" rel="noopener noreferrer">イベントサイト</a>　
                            <a href="https://prtimes.jp/main/html/rd/p/000004866.000014827.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td>
                            販売中
                        </td>
                    </tr>

                    <tr>
                        <td>
                            グッズ
                        </td>
                        <td>
                            2021年10月23日<br>
                            ～2021年11月21日 
                        </td>
                        <td>
                            <a href="https://www.ppihgroup.com/products/hololive/" target="_blank" rel="noopener noreferrer">「ホロライブ」、「ドン・キホーテ」コラボ</a>　
                            <a href="https://hololive.ec-project.jp/" target="_blank" rel="noopener noreferrer">通販</a><br>
                            もちどる<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000512.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            TCG
                        </td>
                        <td>
                            2021年10月1日～
                        </td>
                        <td>
                            ヴァイスシュヴァルツ、「ブースターパック ホロライブプロダクション」発売<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000004832.000014827.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            TCG
                        </td>
                        <td>
                            2021年9月24日～
                        </td>
                        <td>
                            ヴァイスシュヴァルツ、トライアルデッキ＋(プラス)<br>
                            「ホロライブプロダクション」 7種発売<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000004807.000014827.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            お菓子
                        </td>
                        <td>
                            2021年9月21日～
                        </td>
                        <td>
                            <a href="https://tieup.tokyo/holoprochoco2/" target="_blank" rel="noopener noreferrer">ホロライブプロダクションカードチョコ2</a><br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000506.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            お菓子
                        </td>
                        <td>
                            2021年5月17日～
                        </td>
                        <td>
                            e-maのど飴　レモネード コラボレーションパッケージ<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000180.000011343.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            お菓子
                        </td>
                        <td>
                            2020年12月15日～
                        </td>
                        <td>
                            <a href="https://tieup.tokyo/holoprochoco/" target="_blank" rel="noopener noreferrer">ホロライブプロダクションカードチョコ</a>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            OFFICIAL<br>
                            グッズ
                        </td>
                        <td>
                            2021年10月15日<br>
                            ～2021年11月15日
                        </td>
                        <td>
                            <a href="https://shop.hololivepro.com/products/umisea_release?variant=40743086031045" target="_blank" rel="noopener noreferrer">UMISEA 結成＆楽曲リリース記念グッズ</a><br>
                            タペストリー／アクリルキーホルダー
                            <a href="https://prtimes.jp/main/html/rd/p/000000507.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            プライズグッズ
                        </td>
                        <td>
                            2021年8月13日～
                        </td>
                        <td>
                            バンプレストブランド<br>
                            プライズオリジナルシリーズ『#hololive IF』の展開が開始<br>
                            ホロライブ #hololive IF petit -Relax time-<br>
                            スタンド付きアクリルプレートvol.1<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000479.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            ポップアップストア<br>
                            グッズ<br>
                            ノベルティ
                        </td>
                        <td>
                            2021年8月1日<br>
                            ～2021年8月15日
                        </td>
                        <td>
                            「アトレ秋葉原」コラボ<br>
                            ]「ホロライブ夏祭り×アトレ秋葉原」ポップアップストア<br>
                            タペストリー／ちびキャラアクリルフィギュア／Tシャツ<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000459.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td></td>
                    </tr>


                    <tr>
                        <td>
                            応募配布ボイス<br>
                            壁紙
                        </td>
                        <td>
                            2021年7月20日<br>
                            ～2021年8月9日
                        </td>
                        <td>
                            Red Bull 5G ローソン店頭キャンペーン<br>
                             <a href="https://prtimes.jp/main/html/rd/p/000000454.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>
                            コラボグッズ
                        </td>
                        <td>
                            2021年12月11日
                        </td>
                        <td>
                            <a href="https://dengekiya.com/shop/g/g4942330161647/" target="_blank" rel="noopener noreferrer">『ギルドの受付嬢ですが、<br>
                                残業は嫌なのでボスをソロ討伐しようと思います』コラボタペストリー</a>
                        </td>
                        <td>
                            通常販売中
                        </td>
                    </tr>

                    <tr>
                        <td>
                            海アニコラボ<br>
                            グッズ
                        </td>
                        <td>
                            2021年11月13日<br>
                            ～2021年11月28日
                        </td>
                        <td>
                            <a href="https://www.cocoyoko.net/event/anime-fes2021.html" target="_blank" rel="noopener noreferrer">海のアニメ総合イベント「よこすか海のアニメカーニバル」</a>グッズ<br>
                            タペストリー／アクリルバッジ／スケルトンうちわ／<br>
                            ステッカー／クリアしおり<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000440.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            LINEスタンプ
                        </td>
                        <td>
                            2021年5月9日～
                        </td>
                        <td>
                            初のLINEスタンプ「ホロライブ公式スタンプ vol.1」を発売<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000411.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            プライズコラボ
                        </td>
                        <td>
                            2021年2月19日～
                        </td>
                        <td>
                            「ガシャポンオンライン」コラボ<br>
                            アクリルスイング<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000379.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>
                            プライズコラボ
                        </td>
                        <td>
                            2021年1月22日～
                        </td>
                        <td>
                            「ガシャポンオンライン」コラボ<br>
                            ラバーマスコット<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000355.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            ライブグッズ<br>
                            再販
                        </td>
                        <td>
                            2021年2月10日<br>
                            ～2021年2月28日
                        </td>
                        <td>
                            <a href="https://bloom.hololive.tv/goods" target="_blank" rel="noopener noreferrer">hololive IDOL PROJECT 1st Live.『Bloom,』グッズ（再販）</a><br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000333.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            ライブグッズ
                        </td>
                        <td>
                            2021年1月5日<br>
                            ～2021年1月19日
                        </td>
                        <td>
                            <a href="https://bloom.hololive.tv/goods" target="_blank" rel="noopener noreferrer">hololive IDOL PROJECT 1st Live.『Bloom,』グッズ</a><br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000333.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            BOOTH<br>
                            ボイス
                        </td>
                        <td>
                            2020年12月24日<br>
                            ～2021年2月28日
                        </td>
                        <td>
                            <a href="https://hololive.booth.pm/items/2619576" target="_blank" rel="noopener noreferrer">「ホロライブ クリスマスボイス2020」</a><br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000337.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            ライブグッズ
                        </td>
                        <td>
                            2020年10月23日<br>
                            ～2020年10月31日<br>
                            2020年12月14日<br>
                            ～2021年1月11日
                        </td>
                        <td>
                            <a href="https://beyondthestage.hololive.tv/goods" target="_blank" rel="noopener noreferrer">「hololive 2nd fes. Beyond the Stage Supported By Bushiroad」グッズ</a><br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000310.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            カレーメシコラボ
                        </td>
                        <td>
                            2020年10月14日
                        </td>
                        <td>
                            「ホロライブ」、『日清カレーメシ』コラボ<br>
                            グッズ付き「日清カレーメシホロライブ特別BOXセット」販売<br>
                            （クリアファイル＆CD）<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000305.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>　
                            <a href="https://twitter.com/currymeshikun/status/1316181982024404992" target="_blank" rel="noopener noreferrer">告知ツイート</a></td>
                        <td>
                            限定5000セット
                        </td>
                    </tr>
                    <tr>
                        <td>
                            プライズコラボ
                        </td>
                        <td>
                            2020年8月27日～
                        </td>
                        <td>
                            「湊あくあ」「紫咲シオン」、「MOLLY.ONLINE」コラボ<br>
                            缶バッチ／アクリルキーホルダー／タペストリー／クッション<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000293.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>　
                            <a href="https://prtimes.jp/main/html/rd/p/000000018.000060567.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            Reバースコラボ<br>
                            TCG
                        </td>
                        <td>
                            2020年12月4日～
                        </td>
                        <td>
                            ブースターパック「ホロライブプロダクション」を発売<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000003255.000014827.html" target="_blank" rel="noopener noreferrer">PR Times</a>　
                            <a href="https://prtimes.jp/main/html/rd/p/000003267.000014827.html" target="_blank" rel="noopener noreferrer">PR Times</a>　
                            <a href="https://prtimes.jp/main/html/rd/p/000003628.000014827.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            イベント出展<br>
                            グッズ
                        </td>
                        <td>
                            2020年8月7日<br>
                            ～2020年8月9日
                        </td>
                        <td>
                            「BILIBILI WORLD 2020 上海」グッズ<br>
                            アクリルパネル／ステッカー<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000291.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            Reバースコラボ<br>
                            TCG
                        </td>
                        <td>
                            2020年9月25日
                        </td>
                        <td>
                            トライアルデッキ<br>
                            「ホロライブプロダクション　ver.ホロライブ2期生」<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000003025.000014827.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            BOOTH<br>
                            グッズ
                        </td>
                        <td>
                            2020年5月2日<br>
                            ～2020年5月15日
                        </td>
                        <td>
                            バーチャルイベント「ホロコミ」グッズ<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000256.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            アトレコラボ<br>
                            グッズ
                        </td>
                        <td>
                            2020年2月15日<br>
                            ～2020年2月29日
                        </td>
                        <td>
                            『ホロライブ×アトレ秋葉原』コラボ<br>
                            パスケース／ステッカー／正月アクスタ／NSSグッズなど<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000220.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            ライブグッズ
                        </td>
                        <td>
                            2020年1月24日
                        </td>
                        <td>
                            <a href="https://www.nonstop.hololive.tv/goods" target="_blank" rel="noopener noreferrer">hololive 1st fes.『ノンストップ・ストーリー』当日物販</a><br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000212.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            ポップアップストア<br>
                            グッズ
                        </td>
                        <td>
                            2020年1月15日<br>
                            ～2020年1月28日
                        </td>
                        <td>
                            「大丸梅田店」×「ホロライブプロダクション」ポップアップショップ<br>
                            先行販売、オリジナルアイシングクッキーなど<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000184.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>　
                            グッズ詳細：<a href="https://prtimes.jp/main/html/rd/p/000000205.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>                            
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            コミケ出展<br>
                            グッズ
                        </td>
                        <td>
                            2019年12月28日<br>
                            ～2019年12月31日
                        </td>
                        <td>
                            「コミックマーケット97（C97）」グッズ<br>
                            「ノンストップ・ストーリー」・「アズールレーン」関連グッズなど<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000194.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            BOOTH<br>
                            ボイス
                        </td>
                        <td>
                            2019年12月20日<br>
                            ～2020年2月21日
                        </td>
                        <td>
                            「ホロライブ クリスマスボイス2019」<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000193.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            イベント出展<br>
                            グッズ
                        </td>
                        <td>
                            2019年12月20日<br>
                            ～2019年12月21日
                        </td>
                        <td>
                            「第25回COMICUP」・「BiliBili World 2019成都」グッズ<br>
                            COMICUP限定タペストリー・アクリル有<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000191.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            イベント出展<br>
                            グッズ
                        </td>
                        <td>
                            2019年10月4日<br>
                            ～2019年10月6日
                        </td>
                        <td>
                            「BILIBILI WORLD 2019 上海」グッズ<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000147.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            コミケ出展<br>
                            グッズ
                        </td>
                        <td>
                            2019年8月9日<br>
                            ～2019年8月12日
                        </td>
                        <td>
                            『HOLOLIVE SUMMER '19』グッズ<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000100.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a><br>
                            追加情報：<a href="https://prtimes.jp/main/html/rd/p/000000108.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>　
                            レポート：<a href="https://prtimes.jp/main/html/rd/p/000000112.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            アトレコラボ<br>
                            グッズ
                        </td>
                        <td>
                            2019年6月1日<br>
                            ～2019年6月26日
                        </td>
                        <td>
                            『ホロライブ1期生デビュー1周年記念！ホロライブ×アトレ秋葉原 コラボ』<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000074.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a><br>
                            新規グッズ：<a href="https://prtimes.jp/main/html/rd/p/000000080.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>
                            taobao<br>
                            グッズ
                        </td>
                        <td>
                            2019年4月19日頃～
                        </td>
                        <td>
                            『ホロライブ 春のそら祭り』グッズのtaobaoでの販売<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000059.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            イベント出展<br>
                            グッズ
                        </td>
                        <td>
                            2019年4月29日
                        </td>
                        <td>
                            Character1 2019 出展<br>
                            暁のブレイカーズコラボグッズ<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000058.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            ポップアップストア<br>
                            グッズ
                        </td>
                        <td>
                            2019年3月21日<br>
                            ～2019年4月10日
                        </td>
                        <td>
                            ポップアップストア『ホロライブ 春のそら祭り』<br>
                            @AKIHABARAゲーマーズ本店 3Ｆ<br>
                            クリアファイル／B2タペストリー／ブラインド缶バッジ／<br>
                            アクリルスタンド／でかキーホルダー／木製ストラップ／<br>
                            フェイスタオル／スマホケース／キーケース<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000001033.000016756.html" target="_blank" rel="noopener noreferrer">PR Times</a></td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            BOOTH<br>
                            ボイス+グッズ
                        </td>
                        <td>
                            2019年2月11日<br>
                            ～2019年3月14日
                        </td>
                        <td>
                            「バレンタインボイス付きアクリルキーホルダー」<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000029.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td>
                            販売終了
                        </td>
                    </tr>
                    <tr>
                        <td>
                            BOOTH<br>
                            ボイス
                        </td>
                        <td>
                            2018年12月24日<br>
                            ～2019年1月14日
                        </td>
                        <td>
                            「クリスマス＆お正月ボイス」<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000017.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                        <td>
                            販売終了
                        </td>
                    </tr>
                    <!--tr>
                        <td>年月日公開</td>
                        <td><a href="" target="_blank" rel="noopener noreferrer">「」</a></td>
                        <td></td>
                    </tr-->
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>