<%_ var includePath = "../include/" _%>
<% var pageData = {
    url: 'index.html',
    title: "",
    ogimage: ""
}; %>
<%- include(includePath+"_header.ejs", pageData) %>
<body style="margin:0;padding:0;">

<%- include(includePath+"_leftmenu.ejs") %>
    <style>
        .right-main {
            background-image: url('./minatoaqua_bg.webp');
        }
    </style>
    <div class="right-main">
        <h1 style="text-align:center;margin:0;">湊 あくあのホームページ【非公式】</h1>
        <div style="display:flex;max-width:1000px;margin:0 auto;">
            <div style="width:350px;padding-top:4em;">
                <img alt="湊あくあ" src="aqua_mmd.webp" width="350" height="413">
                <p style="margin:0;text-align:right;">©2016 cover corp.</p>
                <ul class="not_list">
                    <li>湊 あくあ（みなと あくあ）</li>
                    <li>誕生日 12月1日</li>
                    <li>初配信日 2018年8月8日</li>
                    <li>血液型 クワ型</li>
                    <li><a href="profile.html">プロフィール</a></li>
                </ul>
                <ul class="not_list">
                    <li>Twitter: <a href="https://twitter.com/minatoaqua" target="_blank" rel="noopener noreferrer">@minatoaqua</a></li>
                    <li><a href="https://www.youtube.com/channel/UC1opHUrw8rvnsadT-iGp7Cg" target="_blank" rel="noopener noreferrer">YouTube</a></li>
                    <li><a href="https://www.tiktok.com/@minatoaqua_hololive" target="_blank" rel="noopener noreferrer">TikTok</a></li>
                </ul>
                <p style="padding: 0 24px;">所属:<br>
                <a href="https://hololive.hololivepro.com/" target="_blank" rel="noopener noreferrer">ホロライブ ホロライブプロダクション</a></p>
            </div>
            <div style="width: calc(100% - 350px);padding:16px;">
                <h2 style="text-align:center;font-size:1em;font-weight:normal;">★★★　最新情報　★★★</h2>
                <ul class="new_info">
                    <li>・ライブ / ステージ
                        <p>
                            8/11 21:00～<br>
                            <a href="https://www.youtube.com/watch?v=O4Ip7gZQOts" target="_blank" rel="noopener noreferrer">4周年記念LIVE「あくあ色ふぇすてぃばる。」（YouTube）</a>
                        </p>
                        <p>
                            8/26<br>
                            「Animelo Summer Live 2022 -Sparkle-」（アニサマ2022）<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000739.000030268.html" target="_blank" rel="noopener noreferrer">スペシャルオープニングアクトとして「スパイスラブ」ユニットで出演</a>
                        </p>
                    </li>
                    <li>・オリジナル曲
                        <p>
                            8月8日24時～ 配信<br>
                            <a href="https://cover.lnk.to/StayBlue" target="_blank" rel="noopener noreferrer">『未だ、青い』（4周年記念・「あくありうむ。」主題歌）</a><br>
                            <a href="http://www.entergram.co.jp/aquarium/special/20220808music_info.html" target="_blank" rel="noopener noreferrer">紹介ページ</a><br>
                            <br>
                            8月11日22時 公開<br>
                            <a href="https://www.youtube.com/watch?v=16WxRVoTAx0" target="_blank" rel="noopener noreferrer">【original】未だ、青い／湊あくあ【ゲーム「あくありうむ。」主題歌】</a>
                        </p>
                    </li>
                    <li>・グッズ
                        <p>
                            8月8日～9月12日<br>
                            <a href="https://shop.hololivepro.com/products/minatoaqua_an4th?variant=43235425517788" target="_blank" rel="noopener noreferrer">湊あくあ 活動4周年記念 グッズ</a><br>
                            抱き枕カバー・アイマスク・ブランケット
                        </p>
                        <p>
                            2022年11月発売<br>
                            <a href="https://www.goodsmile.info/ja/product/12862/POP+UP+PARADE+%E6%B9%8A%E3%81%82%E3%81%8F%E3%81%82.html" target="_blank" rel="noopener noreferrer">POP UP PARADE 湊あくあ</a><br>
                            予約～8月7日,～8月24日<br>
                            <a href="https://shop.hololivepro.com/products/hololive3rdfes_premiumacrylicpanel" target="_blank" rel="noopener noreferrer">hololive 3rd fes. Link Your Wish プレミアムアクリルパネル</a>
                        </p>
                    </li>
                    <li>・ゲーム
                        <p>
                            10月27日発売！<br>
                            <a href="http://www.entergram.co.jp/aquarium/" target="_blank" rel="noopener noreferrer">Switch/PS4用ゲーム「あくありうむ。」</a><br>
                            <a href="https://www.youtube.com/watch?v=CBUuVwKyB_Y" target="_blank" rel="noopener noreferrer">8月9日12時公開 『未だ、青い』ゲームOPMV</a><br>
                            <br>
                            7/7～8/31<br>
                            ソフマップ AKIBA アミューズメント館 等身大アクリルパネル設置(<a href="https://twitter.com/entergram_info/status/1544954371632467969" target="_blank" rel="noopener noreferrer">告知ツイート</a>)<br>
                            <br>
                            対象店舗で立て看板設置(<a href="http://www.entergram.co.jp/aquarium/special/20220810storelist.html" target="_blank" rel="noopener noreferrer">設置店舗</a>)<br>
                            <br>
                            8/20,21<br>
                            <a href="http://www.entergram.co.jp/aquarium/special/20220810uchiwa.html" target="_blank" rel="noopener noreferrer">あくあ×アクア コラボうちわ配布キャンペーン企画</a><br>
                            <br>
                            7/2(東京)、8/7(大阪)<br>
                            早期予約引換イベント（オリジナルステッカー）<br>
                            <a href="https://twitter.com/entergram_info/status/1539896047996047360" target="_blank" rel="noopener noreferrer">告知ツイート</a>　
                            <a href="https://twitter.com/entergram_info/status/1552579661376663554" target="_blank" rel="noopener noreferrer">告知ツイート</a>　
                        </p>
                    </li>
                    <li>・コラボ
                        <p>
                            7月22日～8月31日<br>
                            <a href="https://twitter.com/menu_all/status/1549318842161106944" target="_blank" rel="noopener noreferrer">ホロライブ X 東京タワー コラボレーション</a><br>
                            <a href="https://paselabo.tv/colabo.php?id=506" target="_blank" rel="noopener noreferrer">ホロライブ X パセラ コラボレーション</a><br>
                        </p>
                        <p>
                            2022年8月13日、2022年8月14日<br>
                            ローソン限定レッドブルコラボキャンペーン<br>
                            対象店舗でステッカー付レッドブル6缶パックを販売・立て看板掲示<br>
                            <a href="https://twitter.com/hololivetv/status/1557170957462036481" target="_blank" rel="noopener noreferrer">告知ツイート</a>
                        </p>
                        <p>
                            <a href="https://bpnavi.jp/s/kuji/pc/medias/show_by_key/hololive-2" target="_blank" rel="noopener noreferrer">2022年9月中旬発売予定 【再販】一番くじ ホロライブ</a><br>
                            <a href="https://www.bandai.co.jp/candy/products/2022/4549660821090000.html" target="_blank" rel="noopener noreferrer">2022年11月発売 イタジャガ ホロライブ vol.1 </a>
                        </p>
                        <p>
                            <a href="https://www.redbull.com/jp-ja/collections/virtual-ambassadors-column" target="_blank" rel="noopener noreferrer">レッドブル・バーチャル・アンバサダー<br>
                            月に1回コラム更新（月初）</a><br>
                        </p>
                    </li>
                    <li>・CD / Blu-ray
                        <p>
                            9月28日発売！<br>
                            <a href="https://bushiroad-music.com/musics/hoxb-10008" target="_blank" rel="noopener noreferrer">ワンマンライブ2022『あくあ色 in わんだ～☆らんど♪』</a><br>
                            Blu-ray予約受付中<br>
                            
                            メーカー特典：A4サイズ特製ペーパースタンド<br>
                            応援店先着特典：特製A3クリアポスター<br>
                        </p>
                        <p>
                            10月26日発売<br>
                            <a href="https://bushiroad-music.com/musics/hoxb-10009" target="_blank" rel="noopener noreferrer">hololive 3rd fes. Link Your Wish</a><br>
                            特典：特製三方背収納ケース<br>
                            封入特典：特製フォトブックレット<br>
                            先着購入特典：hololive 3rd fes. Link Your Wish Special Desktop Calender 2023<br>
                            全力応援店先着特典：特製A3クリアポスター
                        </p>
                        <p>
                            8月13日リリース<br>
                            <a href="https://honeyworks.jp/news/8555/" target="_blank" rel="noopener noreferrer">HoneyWorks 同人CD「告白実行委員会 -FLYING SONGS- 恋してる」</a>
                        </p>
                    </li>
                    <li>・歌ってみた
                        <p>
                            <a href="https://www.youtube.com/watch?v=XPbFLEloZnQ" target="_blank" rel="noopener noreferrer">7月18日 「ディスコミュ星人」（メンバー限定）</a><br>
                        </p>
                    </li>
                </ul>
                <p>
                    当サイトは爆速なサイトとして有名な「<a href="http://abehiroshi.la.coocan.jp/" target="_blank" rel="noopener noreferrer">阿部 寛のホームページ</a>」様のパロディで湊 あくあちゃんのファンサイトです。<br>
                    阿部 寛様、阿部寛のホームページ管理者様、湊あくあ様とは関係ありません。<br>
                    コードや素材の流用などもありません。<br>
                    当サイトに関わる問い合わせは上記オリジナル様には行わないようお願いします。
                </p>
            </div>
        </div>
    </div>
    <%- include(includePath+"_footer.ejs") %>
</body>
</html>