<%_ var includePath = "../include/" _%>
<% var pageData = {
    url: 'index.html',
    title: "",
    ogimage: ""
}; %>
<%- include(includePath+"_header.ejs", pageData) %>
<body style="margin:0;padding:0;">

<%- include(includePath+"_leftmenu.ejs") %>
    <style>
        .right-main {
            background-image: url('./minatoaqua_bg.webp');
        }
    </style>
    <div class="right-main">
        <h1 style="text-align:center;margin:0;">湊 あくあのホームページ【非公式】</h1>
        <div style="display:flex;max-width:1000px;margin:0 auto;">
            <div style="width:350px;padding-top:4em;">
                <img alt="湊あくあ" src="aqua_mmd.webp" width="350" height="413">
                <p style="margin:0;text-align:right;">©2016 cover corp.</p>
                <ul class="not_list">
                    <li>湊 あくあ（みなと あくあ）</li>
                    <li>誕生日 12月1日</li>
                    <li>初配信日 2018年8月8日</li>
                    <li>血液型 クワ型</li>
                    <li><a href="profile.html">プロフィール</a></li>
                </ul>
                <ul class="not_list">
                    <li>Twitter: <a href="https://twitter.com/minatoaqua" target="_blank" rel="noopener noreferrer">@minatoaqua</a></li>
                    <li><a href="https://www.youtube.com/channel/UC1opHUrw8rvnsadT-iGp7Cg" target="_blank" rel="noopener noreferrer">YouTube</a></li>
                    <li><a href="https://www.tiktok.com/@minatoaqua_hololive" target="_blank" rel="noopener noreferrer">TikTok</a></li>
                </ul>
                <p style="padding: 0 24px;">所属:<br>
                <a href="https://hololive.hololivepro.com/" target="_blank" rel="noopener noreferrer">ホロライブ ホロライブプロダクション</a></p>
            </div>
            <div style="width: calc(100% - 350px);padding:16px;">
                <h2 style="text-align:center;font-size:1em;font-weight:normal;">★★★　最新情報　★★★</h2>
                <ul class="new_info">
                    <li>
                        <p>
                            3/16,17 <a href="https://hololivepro.com/news/20231017-01-79/" target="_blank">《hololive SUPER EXPO 2024》&《hololive 5th fes》</a><br>
                            <a href="https://twitter.com/hololivetv/status/1714249943660249222" target="_blank">告知ツイート</a>
                        </p>
                    </li>
                    <li>・コラボカフェ
                        <p>
                            11/3～1/11 <a href="https://hololive.hololivepro.com/news/20231020-01-212" target="_blank">コラボカフェ第2弾「ANIPLUS cafe」（シンガポール）</a><br>
                            <a href="https://twitter.com/hololivetv/status/1715223819470737444" target="_blank">告知ツイート</a>
                        </p>
                        <p>
                            8/25～10/15 <a href="https://hololive.hololivepro.com/news/20230807-01-194/" target="_blank">ホロライブプロダクション コラボレーションカフェ</a>
                        </p>
                    </li>
                    <li>・あくありうむ Windows版
                        <p>
                            7/13 <a href="https://www.entergram.co.jp/aquarium/product/#spacialfavor_win" target="_blank">予約受付開始 10/26発売！</a><br>
                            各種店舗限定特典あり<br>
                            <br>
                            <a href="https://store.steampowered.com/app/2515070/_/" target="_blank">Steamページ</a><br>                            
                        </p>
                    </li>
                    <li>・UMISEA
                        <p>
                            8/13 <a href="https://www.youtube.com/watch?v=2v_BFL-kuWs" target="_blank" rel="noopener noreferrer">【MV】おーしゃんうぇーぶ・Party☆らぃ</a>
                            <a href="https://cover.lnk.to/OceanwavePartyLive" target="_blank" rel="noopener noreferrer">(https://cover.lnk.to/OceanwavePartyLive)</a>
                        </p>
                        <p>
                            9/2～ <a href="https://cafe.animate.co.jp/event/hololive-umisea_2309/" target="_blank">UMISEA animate cafe collaboration</a><br>
                            <a href="https://twitter.com/animate_cafe/status/1694273508669329446" target="_blank">告知ツイート</a>
                        </p>
                    </li>
                    <li>・湊あくあ5周年記念3DLive
                        <p>
                            8/15 <a href="https://www.youtube.com/watch?v=c9VW0E2Unl4" target="_blank">湊あくあ5周年記念3DLive『Dreamy day』</a>
                        </p>
                    </li>
                    <li>・Blue Journey
                        <p>
                            <a href="https://bluejourney1stlive.hololivepro.com/" target="_blank">Blue Journey 1st Live「夜明けのうた」</a><br>
                            2023年9月13日（水）東京ガーデンシアターにて開催🎉<br>
                            <a href="https://twitter.com/hololivetv/status/1677649223695884288" target="_blank">告知ツイート</a><br>
                        </p>
                        <p>
                            9/6 <a href="https://sp.universal-music.co.jp/bluejourney/yoakenouta/" target="_blank">Blue Journey 1st Album「#夜明けのうた」</a><br>
                            <a href="https://twitter.com/BlueJourneyInfo/status/1677638373471813632" target="_blank">告知ツイート</a><br>
                            <a href="https://twitter.com/BlueJourneyInfo/status/1680955523146055680" target="_blank">限定特典まとめ情報</a>
                        </p>
                        <p>
                            4/17 <a href="https://www.youtube.com/watch?v=I097di5uoBo" target="_blank" rel="noopener noreferrer">1st デジタルシングル「僕は独りだ」</a><br>
                            <a href="https://lnk.to/BJ_bh" target="_blank" rel="noopener noreferrer">Streaming & Download</a><br>
                            6/19 <a href="https://www.youtube.com/watch?v=p30XdSlkWOc" target="_blank" rel="noopener noreferrer">3rd デジタルシングル「あの日の僕らへ」</a><br>
                            <a href="https://lnk.to/BJ_ab" target="_blank" rel="noopener noreferrer">Streaming & Download</a><br>
                            （<a href="https://twitter.com/hololivetv/status/1646439138370142208" target="_blank" rel="noopener noreferrer">告知ツイート</a> <a href="https://prtimes.jp/main/html/rd/p/000000937.000030268.html" target="_blank" rel="noopener noreferrer">PRTIMES</a>）
                            （<a href="https://twitter.com/BlueJourneyInfo/status/1670431182645874689" target="_blank" rel="noopener noreferrer">告知ツイート</a>）
                        </p>
                        <p>
                            9/25～10/31 <a href="https://miruhaco.jp/bluejourney1stlive/" target="_blank">Blue Journey × JOYSOUND コラボキャンペーン 第1弾</a><br>
                            コラボドリンク購入でオリジナルコースタープレゼント（<a href="https://twitter.com/JOYSOUND_PR/status/1716650733792018638" target="_blank">告知ツイート</a>）<br>
                            <br>
                            10/14～12/10 <a href="https://miruhaco.jp/bluejourney1stlive/" target="_blank">JOYSOUND「みるハコ」 Journey 1st Live「夜明けのうた」</a><br>

                        </p>
                    </li>
                    <li>・コラボ
                        <p>
                            ソードアート・オンライン ラスコレ応援隊長<br>
                            <a href="https://twitter.com/sao_gameinfo/status/1680156500856012801" target="_blank">告知ツイート</a><br>
                            <a href="https://www.youtube.com/watch?v=q14mrz6BbgU" target="_blank">【SAOLR】ラスコレ応援隊長！ 湊あくあさん スペシャルコメント映像</a><br>
                            <br>
                            8/18 <a href="https://www.youtube.com/watch?v=UMmUzRJDSoo" target="_blank" rel="noopener noreferrer">【SAOLR】先行プレイ！SAOの最新作ゲームでキリトになる。</a><br>
                            （<a href="https://twitter.com/sao_gameinfo/status/1691026884622958593" target="_blank" rel="noopener noreferrer">告知</a>）<br>
                            9/16 <a href="https://www.youtube.com/watch?v=znQ9i7P_5V4" target="_blank" rel="noopener noreferrer">ほぼ10分でわかる『ソードアート・オンライン』</a><br>
                            10/6 <a href="https://www.youtube.com/watch?v=MZbvP2-Q6pI" target="_blank" rel="noopener noreferrer">【#SAOLR】最新作！遂に発売したSAOのゲームをプレイする！！</a><br>
                        </p>
                        <p>
                            8/30 <a href="https://vaultroom.shop/" target="_blank">Vault Room コラボ TEE/FOODIE</a><br>
                        </p>
                        <p>
                            9/2-10/1 <a target="_blank" href="https://www.animate-onlineshop.jp/corner/cc/hololive_202307_goods/cd/2690/?utm_source=twitter&utm_medium=social&utm_campaign=animate_Z1123">#ホロライブ ×アニメイトフェア Summer Season＆オンリーショップ</a><br>
                            （<a href="https://twitter.com/animateinfo/status/1678600401682137089" target="_blank">告知ツイート</a>）
                        </p>
                        <p>
                            6/30 <a href="https://sec.carddass.com/club/products/detail/hololive_03/" target="_blank" rel="noopener noreferrer">カードダス hololive</a><br>
                            7/22 <a href="https://bandai-lifestyle.jp/products/details.php?detail=4549660263067000" target="_blank" rel="noopener noreferrer">ブックマークコレクション ホロライブ　Vol.2</a>
                        </p>
                    </li>
                    <li>・ホロライブサマー（7/1～）
                        <p>
                            <a href="https://hololivesummer2023.hololivepro.com/" target="_blank" rel="noopener noreferrer">『ホロライブ・サマー2023』特設サイト</a><br>
                            <a href="https://twitter.com/hololivetv/status/1675127120572424192" target="_blank" rel="noopener noreferrer">告知ツイート</a>
                        </p>
                        <p>
                            7/1 <a href="https://www.youtube.com/watch?v=8aKFN2YbGLQ" target="_blank" rel="noopener noreferrer">【#hololivesummer2023】『ホロライブ・サマー2023 3DLIVE Splash Party!』ティザーPV</a><br>
                            7/1 <a href="https://www.youtube.com/watch?v=YzQCNmk3YYA" target="_blank" rel="noopener noreferrer">【#hololivesummer2023】メインテーマ『青春アーカイブ』アニメーションMV</a><br>
                            7/2 <a href="https://cover.lnk.to/SushiDesho" target="_blank" rel="noopener noreferrer">配信サイト（https://cover.lnk.to/SushiDesho）</a><br>
                            <a href="https://twitter.com/hololivetv/status/1675157320098267137" target="_blank" rel="noopener noreferrer">告知ツイート</a>
                        </p>
                        <p>
                            <a href="https://shop.hololivepro.com/collections/all?sort_by=manual&q=%22hololivesummer2023%22" target="_blank" rel="noopener noreferrer">『ホロライブ・サマー2023』グッズ発売 vo.1</a><br>
                            <a href="https://twitter.com/hololivetv/status/1675128369510227968" target="_blank" rel="noopener noreferrer">告知ツイート</a> ステッカー、ドリンクホルダー、アクキー、アクスタ
                        </p>
                        <p>
                            <a href="https://www.zan-live.com/live/detail/10292" target="_blank" rel="noopener noreferrer">8/26,27『ホロライブ・サマー2023 3DLIVESplash Party!』</a><br>
                            <a href="https://twitter.com/hololivetv/status/1675129644113342466" target="_blank" rel="noopener noreferrer">告知ツイート</a> (出演は8/26 Sunshine)
                        </p>
                        <p>
                            6/29 <a href="https://twitter.com/hololivetv/status/1674387249331585025" target="_blank" rel="noopener noreferrer">Twitter告知(ショートPV)</a><br>
                            6/30 配信告知 <a href="https://twitter.com/hololivetv/status/1674719466800947201" target="_blank" rel="noopener noreferrer">ツイート</a><br>
                            7/1 開催告知配信 <a href="https://www.youtube.com/watch?v=ujupwgvi39Q" target="_blank" rel="noopener noreferrer">ホロライブ史上最大の夏が始まる……【#hololivesummer2023】</a><br>
                            <a href="https://twitter.com/shirakamifubuki/status/1675059643754893314" target="_blank" rel="noopener noreferrer">直前ボイス1</a>
                            <a href="https://twitter.com/shirakamifubuki/status/1675061847081504769" target="_blank" rel="noopener noreferrer">直前ボイス2</a><br>
                            <br>
                            7/7 <a href="https://anibox.jp/shops/attractions" target="_blank">ホロライブシティ アトラクションズ限定グッズ販売スタート</a><br>
                            クリアファイルなど<br>
                            <br>
                            7/29 2nd テーマ<br>
                            8/1-9/3 <a href="https://www.0101.co.jp/405/info/index.html?contents_id=0633" target="_blank" rel="noopener noreferrer">マルイ ポップアップストア（店舗によって開催期間が異なる）</a><br>
                            8/1 <a href="https://search-voi.0101.co.jp/freeword/?store=&q=%E3%83%9E%E3%83%AB%E3%82%A4%E3%83%8E%E3%82%A2%E3%83%8B%E3%83%A12308011" target="_blank" rel="noopener noreferrer">マルイオンラインストア</a><br>
                            8/5 <a href="https://holochoco4.base.shop/" target="_blank" rel="noopener noreferrer">ホロライブプロダクションカードチョコ4</a><br>
                            8/12,13 コミックマーケット102 出展<br>
                            8/26 『ホロライブ・サマー2023 3DLIVESplash Party! Sunshine』
                        </p>
                        <p>
                            7/26 <a href="https://www.youtube.com/shorts/ohTubFd-blc" target="_blank" rel="noopener noreferrer">ホロサマ！Shorts リレー投稿</a>
                        </p>
                    </li>
                    <li>・レッドブル
                        <p>
                            8/12～ レッドブル3本購入でステッカープレゼント<br>
                            （<a href="https://twitter.com/RedBullGamingJP/status/1688822355030581248" target="_blank" rel="noopener noreferrer">告知ツイート</a>）
                        </p>
                    </li>
                    <li>・歌ってみた
                        <p>
                            7/28 <a href="https://www.youtube.com/watch?v=EZCLbzlK6zA" target="_blank" rel="noopener noreferrer">「妄想アスパルテーム／湊あくあ (cover)」</a><br>
                            8/2 <a href="https://www.youtube.com/watch?v=lGWeSfeKhhI" target="_blank" rel="noopener noreferrer">「寝起きヤシの木／湊あくあ」</a>
                        </p>
                    </li>
                    <li>・明治 推しチョコキャンペーン
                        <p>
                            6/30-9/20 <a href="https://www.meiji.co.jp/products/brand/cmp/open2306/" target="_blank" rel="noopener noreferrer">#明治 × #ホロライブ 推しチョコキャンペーン</a><br>
                            6/30-7/2 <a href="https://twitter.com/chocodaisakusen/status/1674674132514996224" target="_blank" rel="noopener noreferrer">Twitter フォロー&リツイート キャンペーン</a><br>
                            7/3-9/20 <a href="https://www.meiji.co.jp/products/brand/cmp/open2306/campaign2/" target="_blank" rel="noopener noreferrer">Twitter ハッシュタグ キャンペーン</a><br>
                            7/3- <a href="https://www.meiji.co.jp/products/brand/cmp/open2306/campaign3/" target="_blank" rel="noopener noreferrer">店頭キャンペーン 明治のチョコ3個購入でプレゼント（イオン等）</a><br>
                            7/25- <a href="https://www.meiji.co.jp/products/brand/cmp/open2306/origoods/" target="_blank" rel="noopener noreferrer">店頭キャンペーン 明治のチョコ3個購入でプレゼント（イオン）</a><br>
                            8/8- <a href="https://www.lawson.co.jp/lab/campaign/hololive_meiji/" target="_blank" rel="noopener noreferrer">店頭キャンペーン＆アクスタ販売＆店内放送 明治のチョコ3個購入でプレゼント（ローソン）</a><br>
                            <a href="https://twitter.com/akiko_lawson/status/1686648025140400129" target="_blank" rel="noopener noreferrer">（ツイート）</a><br>
                            8/8- <a href="https://twitter.com/chocodaisakusen/status/1686648028906831872" target="_blank" rel="noopener noreferrer">店頭キャンペーン 明治のチョコ3個購入でプレゼント（ファミマ）</a><br>
                            9/7- <a href="https://www.sej.co.jp/cmp/holo2309.html?utm_source=meijitw&utm_medium=social&utm_campaign=holo2309" target="_blank" rel="noopener noreferrer">店頭キャンペーン 明治のグミ3個購入でプレゼント（セブン）</a><br>
                            <a href="https://twitter.com/kajyu_gummi_cp/status/1698606831684202744" target="_blank" rel="noopener noreferrer">（ツイート）</a><br>
                        </p>
                    </li>
                    <!--li>・配信
                        <p>
                            #ぺこーら24<br>
                            7/16 21:30-23:30 2期生＆3期生一致するまで終われまテン<br>
                            7/17 17:30-19:00 湊あくあOnlyUp!対決＆対談<br>
                            7/17 21:00- ぺーこら24 Special Live<br>
                            
                        </p>
                    </li-->
                    <li>・グッズ
                        <p>
                            7/12 <a href="https://shop.hololivepro.com/products/hololive_3dacrylicstand_bright" target="_blank" rel="noopener noreferrer">【再販】hololive SUPER EXPO 2023 アクリルスタンド</a><br>
                            <br>
                            5/24 <a href="https://shop.hololivepro.com/products/hololivefriends_minatoaqua" target="_blank" rel="noopener noreferrer">hololive friends vol.5</a><br>
                            <a href="https://hololive-friends.hololivepro.com/" target="_blank" rel="noopener noreferrer">特設サイト</a><br>
                            <br>
                            10/24 <a href="https://shop.hololivepro.com/collections/all?sort_by=manual&q=%22holoEmblem%22" target="_blank" rel="noopener noreferrer">ホロエンブレム（公式ショップ）</a><br>
                            <a href="https://twitter.com/hololivetv/status/1716726225975288206" target="_blank" rel="noopener noreferrer">告知ツイート</a>
                        </p>
                    </li>

                    <li>・ボイス
                        <p>
                            6/29 <a href="https://shop.hololivepro.com/products/hololive_mysteryvoice" target="_blank" rel="noopener noreferrer">ホロライブミステリーボイス 「アメリアと3人の容疑者」</a><br>
                            <a href="https://www.youtube.com/watch?v=Rm1aLqCRTmo" target="_blank" rel="noopener noreferrer">告知動画 【新ボイス発表】私が犯人を見つけます！</a><br>
                            <a href="https://twitter.com/hololive_En/status/1674344705339817985" target="_blank" rel="noopener noreferrer">告知ツイート</a>
                        </p>
                        <p>
                            6/30 <a href="https://shop.hololivepro.com/collections/all?sort_by=manual&q=%22startingvoice%22" target="_blank" rel="noopener noreferrer">#スターティングボイス</a><br>
                            <a href="https://twitter.com/hololivetv/status/1674704329872224258" target="_blank" rel="noopener noreferrer">告知ツイート</a>
                        </p>
                    </li>
                    <!--li>・楽曲
                        <p>
                            5/3 UMISEA 『うみシーのさちハピ！』<br>
                            <a href="https://cover.lnk.to/SACHIHAPPY" target="_blank" rel="noopener noreferrer">配信サイト（https://cover.lnk.to/SACHIHAPPY）</a><br>
                            5/9 UMISEA <a href="https://www.youtube.com/watch?v=mTX41QjX_VI" target="_blank" rel="noopener noreferrer">『うみシーのさちハピ！』(PV)</a><br>
                            <br>
                            5/18 NEGI☆U <a href="https://www.youtube.com/watch?v=27pQ5ZePYqE" target="_blank" rel="noopener noreferrer">『寿司☆でしょ！』(PV)</a>（かっぱ寿司コラボ）<br>
                            <a href="https://cover.lnk.to/SushiDesho" target="_blank" rel="noopener noreferrer">配信サイト（https://cover.lnk.to/SushiDesho）</a><br>
                        </p>
                    </li-->
                    <!--li>・配信
                        <p>
                            5/2 21時 <a href="https://www.youtube.com/watch?v=GQhn3Op9o_w" target="_blank" rel="noopener noreferrer">【 GWコラボ 】一致するまで終われまテン！！🌸⚓🚑☄ ♌ 👿</a>
                        </p>
                        <p>
                            2/12 21時 <a href="https://www.youtube.com/watch?v=Wnt9cCDf2Gk" target="_blank" rel="noopener noreferrer">あくしおコラボ オムライス作って食べながら話しますか～！</a>
                        </p>
                        <p>
                            12/31 <a href="https://www.youtube.com/watch?v=fZIPM0GilhE" target="_blank" rel="noopener noreferrer">2023カウントダウン配信</a><br>
                            12/29 <a href="https://www.youtube.com/watch?v=IEzLd0w55_8" target="_blank" rel="noopener noreferrer">2期生コラボ</a><br>
                            12/25 <a href="https://www.youtube.com/watch?v=-5pE0rA2dBI" target="_blank" rel="noopener noreferrer">クリスマス歌枠リレー</a>（<a href="https://twitter.com/ookamimio/status/1605849351011667970" target="_blank" rel="noopener noreferrer">告知ツイート</a>）<br>
                            12/21 <a href="https://www.youtube.com/watch?v=HfaT-C0n8VQ" target="_blank" rel="noopener noreferrer">ゆるりとオフでタコパしてみた！【星街すいせい/湊あくあ/常闇トワ】</a>（YouTube）<br>
                            12/1 <a href="https://www.youtube.com/watch?v=sA4pyeRU4nc" target="_blank" rel="noopener noreferrer">誕生日凸待ち配信</a>（YouTube）
                        </p>
                    </li-->
                    <li>・コラボ
                        <p>
                            6/30 <a href="https://sec.carddass.com/club/products/detail/hololive_03/" target="_blank" rel="noopener noreferrer">カードダス hololive</a><br>
                            （<a href="https://twitter.com/bandai_carddass/status/1674613731601551360" target="_blank" rel="noopener noreferrer">告知ツイート</a>）<br>
                            <br>
                            7/7～（受付5/1） <a href="https://hololivecity.hololivepro.com/" target="_blank" rel="noopener noreferrer">#ホロライブシティ アトラクションズ</a><br>
                            スカイライン受付5/1～<br>
                            アトラクションズ期間7/24～8/15<br>
                            （<a href="https://twitter.com/at_raku/status/1651896571569803264" target="_blank" rel="noopener noreferrer">告知ツイート</a>）<br>
                            <br>
                            8月 <a href="https://twitter.com/candytoy_c/status/1648884309477199873" target="_blank" rel="noopener noreferrer">ホロライブ ウエハース3</a><br>
                            <br>
                            9月 <a href="https://www.bandai.co.jp/candy/products/2023/4549660958284000.html" target="_blank" rel="noopener noreferrer">イタジャガ ホロライブ vol.3</a><br>
                        </p>
                        <p>
                            9/8～<br>
                            <a href="https://cake.jp/tag/621/" target="_blank" rel="noopener noreferrer">VTuberオリジナルケーキ缶</a>（<a href="https://twitter.com/hololivetv/status/1567717059186036738" target="_blank" rel="noopener noreferrer">告知ツイート</a>）<a href="https://prtimes.jp/main/html/rd/p/000000791.000030268.html" target="_blank" rel="noopener noreferrer">PRTimes</a><br>
                            <br>
                            11/10 12:00～ <a href="https://cake.jp/hololive/cake/#lineup-section-12" target="_blank" rel="noopener noreferrer">#cakejp オリジナルケーキ</a><br>
                            （<a href="https://twitter.com/hololivetv/status/1605036483999543296" target="_blank" rel="noopener noreferrer">告知ツイート</a>）
                        </p>
                        <p>
                            <a href="https://www.redbull.com/jp-ja/collections/virtual-ambassadors-column" target="_blank" rel="noopener noreferrer">レッドブル・バーチャル・アンバサダー</a>
                        </p>
                    </li>
                    <li>・オリジナル曲
                        <p>
                            8/15 MV <a href="https://www.youtube.com/watch?v=S1Ln9-ksIQY" target="_blank" rel="noopener noreferrer">『君の最推しにしてよ！』</a>
                        </p>
                        <p>
                            12/9 <a href="https://www.youtube.com/watch?v=awHMIHpmeIo" target="_blank" rel="noopener noreferrer">『uni-birth』湊あくあ MV</a>
                            <a href="https://cover.lnk.to/uni-birth" target="_blank" rel="noopener noreferrer">(https://cover.lnk.to/uni-birth)</a><br>
                            12/2 『君の最推しにしてよ！』<br>
                            <a href="https://cover.lnk.to/LetmebeyourSAIOSHI" target="_blank" rel="noopener noreferrer">(https://cover.lnk.to/LetmebeyourSAIOSHI)</a>
                        </p>
                    </li>
                    <li>・出演                        
                        <p>
                            6/18 <a href="https://www.youtube.com/watch?v=ednupYyf7CI" target="_blank" rel="noopener noreferrer">【アニメ】ボクがテッペンだっ！</a><br>
                            7/9 <a href="https://www.youtube.com/watch?v=BuNaBi6yUNQ" target="_blank" rel="noopener noreferrer">【アニメ】夏なんて無くなれ～</a><br>
                            8/13 <a href="https://www.youtube.com/watch?v=6Za05AVwc88" target="_blank" rel="noopener noreferrer">【アニメ】海でバンドしよう！！</a><br>
                            10/15 <a href="https://www.youtube.com/watch?v=L4kP2gmM01A" target="_blank" rel="noopener noreferrer">【アニメ】自己肯定感が乱高下するメイド</a><br>
                            10/22 <a href="https://www.youtube.com/watch?v=yJOSI6d783Y" target="_blank" rel="noopener noreferrer">【アニメ】マニュアルじゃないホントの気持ち！</a><br>
                        </p>
                        <p>
                            6/2 TikTok <a href="https://www.tiktok.com/@hololive_official/video/7240010781385837825" target="_blank" rel="noopener noreferrer">uni-birth</a><br>
                            6/11 TikTok <a href="https://www.tiktok.com/@minatoaqua_hololive/video/7243308452334914818" target="_blank" rel="noopener noreferrer">#ヒロインは平均以下</a><br>
                            8/2 TikTok <a href="https://www.tiktok.com/@minatoaqua_hololive/video/7262196069973462279" target="_blank" rel="noopener noreferrer">#妄想アスパルテーム</a><br>
                            8/3 TikTok <a href="https://www.tiktok.com/@minatoaqua_hololive/video/7262889849085103378" target="_blank" rel="noopener noreferrer">#寝起きヤシの木</a><br>
                            8/8 TikTok <a href="https://www.tiktok.com/@hololive_official/video/7264826892048502024" target="_blank" rel="noopener noreferrer">#ホロサマTikTokフェス</a><br>
                            8/12 TikTok <a href="https://www.tiktok.com/@minatoaqua_hololive/video/7266326293740915976" target="_blank" rel="noopener noreferrer">5周年記念ライブPV</a><br>
                            8/16 TikTok <a href="https://www.tiktok.com/@minatoaqua_hololive/video/7267807057040985345" target="_blank" rel="noopener noreferrer">#君の最推しにしてよ</a><br>
                            8/18 TikTok <a href="https://www.tiktok.com/@minatoaqua_hololive/video/7268577719573613826" target="_blank" rel="noopener noreferrer">2期生 #五等分の気持ち</a><br>
                            8/20 TikTok <a href="https://www.tiktok.com/@minatoaqua_hololive/video/7269309726360423682" target="_blank" rel="noopener noreferrer">スタテン #No title</a><br>
                            8/24 TikTok <a href="https://www.tiktok.com/@minatoaqua_hololive/video/7270802537433894146" target="_blank" rel="noopener noreferrer">#あくあ色ぱれっと #ピンチズーム</a><br>
                            8/26 TikTok 公式 <a href="https://www.tiktok.com/@hololive_official/video/7271224620538236161" target="_blank" rel="noopener noreferrer">あてぃしがにー！#UMISEA</a><br>
                            9/10 TikTok 公式 <a href="https://www.tiktok.com/@hololive_official/video/7276846761128316161" target="_blank" rel="noopener noreferrer">僕は独りだ</a><br>
                            9/12 TikTok 公式 <a href="https://www.tiktok.com/@hololive_official/video/7277910723110505729" target="_blank" rel="noopener noreferrer">あの日の僕らへ</a><br>
                            9/17 TikTok <a href="https://www.tiktok.com/@minatoaqua_hololive/video/7279747080720108802" target="_blank" rel="noopener noreferrer">IQ5000によるフラッシュ暗算選手権</a><br>
                            9/22 TikTok 公式 <a href="https://www.tiktok.com/@hololive_official/video/7281565889357466881" target="_blank" rel="noopener noreferrer">Splash Party ダイジェスト</a><br>
                            10/6 TikTok 公式 <a href="https://www.tiktok.com/@hololive_official/video/7286774679740665089" target="_blank" rel="noopener noreferrer">Blue Journey ダイジェスト</a><br>
                            10/19 TikTok <a href="https://www.tiktok.com/@minatoaqua_hololive/video/7291531484010237186" target="_blank" rel="noopener noreferrer">粛清!!ロリ神レクイエム 歌ってみた</a><br>
                        </p>
                        <p>
                            6/25 <a href="https://www.youtube.com/watch?v=234RMlK0ntc" target="_blank" rel="noopener noreferrer">「強風オールバック / 天音かなた(cover)」</a>（イラスト出演）<br>
                            6/26 公式番組 <a href="https://www.youtube.com/watch?v=yDelnRHiXCI" target="_blank" rel="noopener noreferrer">【対談バラエティ】#わかり愛たいふたり【湊あくあ＆星街すいせい編】</a><br>
                            8/9 <a href="https://www.youtube.com/shorts/2TyRNNgoaNU" target="_blank" rel="noopener noreferrer">さかなー！ちんあなごー！あてぃしがに！　#UMISEA</a><br>
                            8/14 公式メン限 <a href="https://www.youtube.com/watch?v=wESwERqNd6s" target="_blank" rel="noopener noreferrer">【DXプラン限定】ショート撮影の裏側 【UMISEA】</a>
                            9/20 公式 <a href="https://www.youtube.com/watch?v=XzLs7f7-d44" target="_blank" rel="noopener noreferrer">SWANLAKE #笑い袋 #shorts #白鳥の湖</a>
                        </p>
                        <p>
                            8/1 <a href="https://www.youtube.com/watch?v=V761LnbkXYQ&t=2256s" target="_blank" rel="noopener noreferrer">#さくらみこ5周年 記念アイドルLIVE🌊アイドルよ🌟あてんしょんぷりーず！</a><br>
                            8/2 <a href="https://www.youtube.com/watch?v=77ft8GAGq2w&t=5523s" target="_blank" rel="noopener noreferrer">【占い凸待ち】ようこそ、ビッグゴッドミオーンの占いの館へ</a><br>
                            8/7 <a href="https://www.youtube.com/watch?v=F84NJUKyNtc&t=6008s" target="_blank" rel="noopener noreferrer">【4周年】凸待ちには2種類ある【不知火フレア】</a><br>
                            8/16 <a href="https://www.youtube.com/watch?v=dPSL-iEjzoU&t=5009s" target="_blank" rel="noopener noreferrer">【凸待ち】凸待ちあり！！誰も来なかったら行く！！ #尾丸ポルカ3周年</a><br>
                            8/17 <a href="https://www.youtube.com/watch?v=KdFYu1feK30" target="_blank" rel="noopener noreferrer">【3DLIVE】紫咲シオン 5th Anniversary LIVE【#紫咲シオン5周年記念⁠】</a><br>
                            8/19 <a href="https://www.youtube.com/watch?v=oxZk5n-eoaQ" target="_blank" rel="noopener noreferrer">親子のぶっちゃけ本音トーク【宝鐘マリン】</a><br>
                            8/19 <a href="https://www.youtube.com/watch?v=vioECDPtrdA" target="_blank" rel="noopener noreferrer">【#めあふぁんみ】2nd FanMeeting 「Dear My...」【神楽めあ】</a><br>
                            8/23 <a href="https://www.youtube.com/watch?v=tdIE3gtx6v4" target="_blank" rel="noopener noreferrer">【オフコラボ】兎田ぺこら/宝鐘マリン/星街すいせい/湊あくあ</a><br>
                            9/9 <a href="https://www.youtube.com/watch?v=l1GxSWH5glk" target="_blank" rel="noopener noreferrer">#ReGLOSS デビュー非公式配信同時視聴【ホロライブ / #miComet 】</a>
                            9/29 <a href="https://www.youtube.com/watch?v=215Bq5oo9Bw&t=2465s" target="_blank" rel="noopener noreferrer">【#雪花ラミィ3周年LIVE】Lamy＊Love♡Fest☆【雪花ラミィ】</a><br>
                            10/30 <a href="https://www.youtube.com/watch?v=US6ypkiIV3I" target="_blank" rel="noopener noreferrer">ツインズ／CHiCO with HoneyWorks #めあふぁんみ【神楽めあ】</a>
                        </p>
                        <p>
                            7/22 Shorts <a href="https://www.youtube.com/shorts/xS1cQERVlbc" target="_blank" rel="noopener noreferrer">( *ᴖ ᗜ ᴖ *)</a><br>
                            7/26 Shorts <a href="https://www.youtube.com/shorts/ohTubFd-blc" target="_blank" rel="noopener noreferrer">ホロサマ！Shorts リレー投稿</a><br>
                            8/3 Shorts <a href="https://www.youtube.com/shorts/7i8vt_PUyeE" target="_blank" rel="noopener noreferrer">#寝起きヤシの木</a><br>
                            8/16 Shorts <a href="https://www.youtube.com/shorts/w5HA3IOQB7Q" target="_blank" rel="noopener noreferrer">わ #shorts（3.0?）</a><br>
                            8/22 Shorts <a href="https://www.youtube.com/shorts/EhMR_DzSb6g" target="_blank" rel="noopener noreferrer">アイドル／YOASOBI　歌ってみた</a><br>
                            9/2 Shorts <a href="https://www.youtube.com/shorts/d5Ka2I69hUk" target="_blank" rel="noopener noreferrer">みて！！</a><br>
                            9/8 Shorts <a href="https://www.youtube.com/shorts/zUpCmSwPXSY" target="_blank" rel="noopener noreferrer">湊あくあに関する面白い雑学＜放送事故編＞</a><br>
                            9/9 Shorts <a href="https://www.youtube.com/shorts/O03QXxB3jd0" target="_blank" rel="noopener noreferrer">湊あくあに関する面白い雑学＜陰キャ編＞</a><br>
                            9/9 Shorts <a href="https://www.youtube.com/shorts/y18IAvmWBjk" target="_blank" rel="noopener noreferrer">お母さんヒス構文【あくあマリン】</a><br>
                            9/12 Shorts <a href="https://www.youtube.com/shorts/q01VlUxzwYg" target="_blank" rel="noopener noreferrer">#私の一番かわいいところ</a><br>
                            9/14 Shorts <a href="https://www.youtube.com/shorts/XgndcAhzkTs" target="_blank" rel="noopener noreferrer">IQ5000によるフラッシュ暗算選手権</a><br>
                            9/17 Shorts <a href="https://www.youtube.com/shorts/8REKx2ovNRY" target="_blank" rel="noopener noreferrer">Q.Vtuberをやっていてリア友にバレたりしないんですか？</a><br>
                            9/19 Shorts <a href="https://www.youtube.com/shorts/adfSsi1hn9c" target="_blank" rel="noopener noreferrer">Q.どうやったらダイエットができますか？</a><br>
                            9/21 Shorts <a href="https://www.youtube.com/shorts/7zhz1HaM5tU" target="_blank" rel="noopener noreferrer">ドレミの歌</a><br>
                            9/24 Shorts <a href="https://www.youtube.com/shorts/Dh3IUB3dk6o" target="_blank" rel="noopener noreferrer">リコーダー音外したら即終了</a><br>
                            9/29 Shorts <a href="https://www.youtube.com/shorts/GN1XNkavpjc" target="_blank" rel="noopener noreferrer">湊あくあ、かわいすぎる！！</a><br>
                            10/2 Shorts <a href="https://www.youtube.com/shorts/AUovQV1RBYs" target="_blank" rel="noopener noreferrer">Q.LINEの友達の人数少ないって本当ですか？</a><br>
                            10/5 Shorts <a href="https://www.youtube.com/shorts/mVbtPVpUVWU" target="_blank" rel="noopener noreferrer">【ヤバい】だんだんキーがあがる#あくあ色ぱれっと うたってみた結果</a><br>
                            10/8 Shorts <a href="https://www.youtube.com/shorts/4-3TTGBSnqk" target="_blank" rel="noopener noreferrer">偏見陰キャアキネーター【これな〜んだ？】</a><br>
                            10/16 Shorts <a href="https://www.youtube.com/shorts/P2JRlW8ShIA" target="_blank" rel="noopener noreferrer">粛聖!! ロリ神レクイエム☆ 歌ってみた！【あくたん5さい】</a><br>
                            10/25 Shorts <a href="https://www.youtube.com/shorts/uWYnnKX9h0E" target="_blank" rel="noopener noreferrer">衝撃！本当にあった陰キャあるある</a><br>
                            11/1 Shorts <a href="https://www.youtube.com/shorts/kbdKjI4Wfvk" target="_blank" rel="noopener noreferrer">メイドさんだぞっ☆</a><br>
                        </p>
                    </li>
                    <li>・10月27日発売 <a href="http://www.entergram.co.jp/aquarium/" target="_blank" rel="noopener noreferrer">Switch/PS4用ゲーム「あくありうむ。」</a>
                        <p style="color:red;"><a href="https://www.entergram.co.jp/aquarium/product/#spacialfavor_win" target="_blank" rel="noopener noreferrer">7/13 PC版予約受付開始(10/26発売)</a></p>
                        <p>
                            ホロメン実況：
                            <a href="https://www.youtube.com/watch?v=6NkqlYJTW94" target="_blank" rel="noopener noreferrer">兎田ぺこら</a>
                            <a href="https://www.youtube.com/watch?v=k_mVdmgsN9A" target="_blank" rel="noopener noreferrer">博衣こより</a>
                            <a href="https://www.youtube.com/watch?v=ej7JAuF0IM0" target="_blank" rel="noopener noreferrer">沙花叉クロヱ</a><br>
                            大空スバル <a href="https://www.youtube.com/watch?v=den-Hn1szMA" target="_blank" rel="noopener noreferrer">1</a>
                            <a href="https://www.youtube.com/watch?v=GS8hzC-yXYg" target="_blank" rel="noopener noreferrer">2</a>
                            尾丸ポルカ <a href="https://www.youtube.com/watch?v=k_1ET38Os0k" target="_blank" rel="noopener noreferrer">1</a>
                            <a href="https://www.youtube.com/watch?v=8fsPNnOXDqQ" target="_blank" rel="noopener noreferrer">2</a>
                            <a href="https://www.youtube.com/watch?v=wUnxHkP3PnY" target="_blank" rel="noopener noreferrer">紫咲シオン</a>
                            <a href="https://www.youtube.com/watch?v=qSKCLILrM0s" target="_blank" rel="noopener noreferrer">夜空メル</a><br>
                            夏色まつり <a href="https://www.youtube.com/watch?v=G--BO7A7WKc" target="_blank" rel="noopener noreferrer">1</a>
                            <a href="https://www.youtube.com/watch?v=074bWplmh6o" target="_blank" rel="noopener noreferrer">2</a>
                            <a href="https://www.youtube.com/watch?v=wkvybAQV_LI" target="_blank" rel="noopener noreferrer">猫又おかゆ</a>
                            <a href="https://www.youtube.com/watch?v=_pwLf_85i8k" target="_blank" rel="noopener noreferrer">風真いろは</a><br>
                            <a href="https://www.youtube.com/watch?v=fd6swekh_QY" target="_blank" rel="noopener noreferrer">友人A</a>
                            <a href="https://www.youtube.com/watch?v=rn6FplIZNc0" target="_blank" rel="noopener noreferrer">桃鈴ねね</a>
                        </p>
                    </li>
                    <!--li>・イベント
                        <p>
                            11/27　<a href="http://www.entergram.co.jp/aquarium/special/20221026fanmeeting.html" target="_blank" rel="noopener noreferrer">「あくありうむ。発売記念ファンミーティング」</a><br>
                            第一部 15:00　第二部 16:30
                            <a href="https://twitter.com/entergram_info/status/1588456127725207552" target="_blank" rel="noopener noreferrer">告知ツイート</a>
                            <a href="https://twitter.com/entergram_info/status/1585194852924289026" target="_blank" rel="noopener noreferrer">告知ツイート</a><br>
                            ファンミレポート <a href="https://www.gamer.ne.jp/news/202212020004/" target="_blank" rel="noopener noreferrer">第一部</a> <a href="https://www.famitsu.com/news/202212/02284332.html" target="_blank" rel="noopener noreferrer">第二部</a><br>
                        </p>
                    </li-->
                    <!--li>・レッドブル
                        <p>
                            レッドブルコラム<br>
                            <a href="https://www.redbull.com/jp-ja/minato-aqua-column-001" target="_blank" rel="noopener noreferrer">Vol1（5/1）</a>　
                            <a href="https://www.redbull.com/jp-ja/minato-aqua-column-002" target="_blank" rel="noopener noreferrer">Vol2（6/1）</a>　
                            <a href="https://www.redbull.com/jp-ja/minato-aqua-column-003" target="_blank" rel="noopener noreferrer">Vol3（7/4）</a>　
                            <a href="https://www.redbull.com/jp-ja/minato-aqua-column-004" target="_blank" rel="noopener noreferrer">Vol4（8/1）</a><br>
                            <a href="https://www.redbull.com/jp-ja/minato-aqua-column-005" target="_blank" rel="noopener noreferrer">Vol5（9/1）</a>　
                            <a href="https://www.redbull.com/jp-ja/minato-aqua-column-006" target="_blank" rel="noopener noreferrer">Vol6（10/3）</a>　
                            <a href="https://www.redbull.com/jp-ja/minato-aqua-column-007" target="_blank" rel="noopener noreferrer">Vol7 最終回（11/1）</a>
                        </p>
                    </li-->
                    <!--li>・CD / Blu-ray
                        <p>
                        </p>
                    </li-->
                </ul>
                <p>
                    当サイトは爆速なサイトとして有名な「<a href="http://abehiroshi.la.coocan.jp/" target="_blank" rel="noopener noreferrer">阿部 寛のホームページ</a>」様のパロディで湊 あくあちゃんのファンサイトです。<br>
                    阿部 寛様、阿部寛のホームページ管理者様、湊あくあ様とは関係ありません。<br>
                    コードや素材の流用などもありません。<br>
                    当サイトに関わる問い合わせは上記オリジナル様には行わないようお願いします。
                </p>
            </div>
        </div>
    </div>
    <%- include(includePath+"_footer.ejs") %>
</body>
</html>