<!DOCTYPE html>
<html lang="ja">
<%_ var includePath = "../include/" _%>
<%- include(includePath+"_header.ejs") %>
<body style="margin:0;padding:0;">

<%- include(includePath+"_leftmenu.ejs") %>
    <style>
        .right-main {
            background-image: url('./minatoaqua_bg.webp');
        }
    </style>
    <div class="right-main">
        <h1 style="text-align:center;margin:0;">湊 あくあのホームページ【非公式】</h1>
        <div style="display:flex;max-width:1000px;margin:0 auto;">
            <div style="width:350px;padding-top:4em;">
                <img src="aqua_mmd.webp">
                <p style="margin:0;text-align:right;">©2016 cover corp.</p>
                <ul class="not_list">
                    <li>湊 あくあ（みなと あくあ）</li>
                    <li>誕生日 12月1日</li>
                    <li>初配信日 2018年8月8日</li>
                    <li>血液型 クワ型</li>
                    <li><a href="profile.html">プロフィール</a></li>
                </ul>
                <ul class="not_list">
                    <li>Twitter: <a href="https://twitter.com/minatoaqua" target="_blank" rel="noopener noreferrer">@minatoaqua</a></li>
                    <li><a href="https://www.youtube.com/channel/UC1opHUrw8rvnsadT-iGp7Cg" target="_blank" rel="noopener noreferrer">YouTube</a></li>
                </ul>
                <p style="padding: 0 24px;">所属:<br>
                <a href="https://hololive.hololivepro.com/" target="_blank" rel="noopener noreferrer">ホロライブ ホロライブプロダクション</a></p>
            </div>
            <div style="width: calc(100% - 350px);padding:16px;">
                <h2 style="text-align:center;font-size:1em;font-weight:normal;">★★★　最新情報　★★★</h2>
                <ul class="new_info">
                    <li>・ライブ / ステージ
                        <p>8/11 4周年記念ライブ（YouTube）</p>
                        <p>
                            8/26 「Animelo Summer Live 2022 -Sparkle-」（アニサマ2022）<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000739.000030268.html" target="_blank" rel="noopener noreferrer">スペシャルオープニングアクトとして「スパイスラブ」ユニットで出演</a>
                        </p>
                    </li>
                    <li>・ゲーム
                        <p>
                            <a href="http://www.entergram.co.jp/aquarium/" target="_blank" rel="noopener noreferrer">Switch/PS4用ゲーム「あくありうむ」</a>（10/27発売）<br>
                        </p>
                    </li>
                    <li>・CD / Blu-ray
                        <p>
                            ワンマンライブ2022『あくあ色 in わんだ～☆らんど♪』<br>
                            Blu-ray予約受付中 9月28日発売！<br>
                            
                            メーカー特典：A4サイズ特製ペーパースタンド<br>
                            応援店先着特典：特製A3クリアポスター<br>
                        </p>
                        <p><a href="https://honeyworks.jp/news/8555/" target="_blank" rel="noopener noreferrer">HoneyWorks 同人CD「告白実行委員会 -FLYING SONGS- 恋してる」</a>(8/13発売)</p>
                    </li>
                    <li>・コラボ
                        <p>
                            <a href="https://twitter.com/menu_all/status/1549318842161106944" target="_blank" rel="noopener noreferrer">7/22～8/31 ホロライブ X 東京タワー コラボレーション</a><br>
                            <a href="https://paselabo.tv/colabo.php?id=506" target="_blank" rel="noopener noreferrer">7/22～8/31 ホロライブ X パセラ コラボレーション</a><br>
                            <a href="https://sanrio-animestore-a3.jp/" target="_blank" rel="noopener noreferrer">7/8～7/31 ホロライブ・サンリオキャラクターズ コラボ「ホロサンリオ」</a><br>
                            <a href="https://bpnavi.jp/s/kuji/pc/medias/show_by_key/hololive-2" target="_blank" rel="noopener noreferrer">2022年9月中旬発売予定 【再販】一番くじ ホロライブ</a><br>
                            <a href="https://www.bandai.co.jp/candy/products/2022/4549660821090000.html" target="_blank" rel="noopener noreferrer">2022年11月発売 イタジャガ ホロライブ vol.1 </a><br>
                            <a href="https://www.redbull.com/jp-ja/collections/virtual-ambassadors-column" target="_blank" rel="noopener noreferrer">レッドブル・バーチャル・アンバサダー<br>
                            月に1回コラム更新（月初）</a><br>
                        </p>
                    </li>
                    <li>・グッズ
                        <p>
                            <a href="https://www.goodsmile.info/ja/product/12862/POP+UP+PARADE+%E6%B9%8A%E3%81%82%E3%81%8F%E3%81%82.html" target="_blank" rel="noopener noreferrer">2022年11月発売 POP UP PARADE 湊あくあ</a>(予約7/5～ )<br>
                        </p>
                    </li>
                    <li>・歌ってみた
                        <p>
                            <a href="https://www.youtube.com/watch?v=XPbFLEloZnQ" target="_blank" rel="noopener noreferrer">7月18日 「ディスコミュ星人」（メンバー限定）</a><br>
                        </p>
                    </li>
                </ul>
                <p>
                    当サイトは爆速なサイトとして有名な「<a href="http://abehiroshi.la.coocan.jp/" target="_blank" rel="noopener noreferrer">阿部 寛のホームページ</a>」様のパロディで湊 あくあちゃんのファンサイトです。<br>
                    阿部 寛様、阿部寛のホームページ管理者様、湊あくあ様とは関係ありません。<br>
                    コードや素材の流用などもありません。<br>
                    当サイトに関わる問い合わせは上記オリジナル様には行わないようお願いします。
                </p>
            </div>
        </div>
    </div>
</body>
</html>