<%_ var includePath = "../include/" _%>
<% var pageData = {
    url: 'index.html',
    title: "",
    ogimage: ""
}; %>
<%- include(includePath+"_header.ejs", pageData) %>
<body style="margin:0;padding:0;">

<%- include(includePath+"_leftmenu.ejs") %>
    <style>
        .right-main {
            background-image: url('./minatoaqua_bg.webp');
        }
    </style>
    <div class="right-main">
        <h1 style="text-align:center;margin:0;">湊 あくあのホームページ【非公式】</h1>
        <div style="display:flex;max-width:1000px;margin:0 auto;">
            <div style="width:350px;padding-top:4em;">
                <img alt="湊あくあ" src="aqua_mmd.webp" width="350" height="413">
                <p style="margin:0;text-align:right;">©2016 cover corp.</p>
                <ul class="not_list">
                    <li>湊 あくあ（みなと あくあ）</li>
                    <li>誕生日 12月1日</li>
                    <li>初配信日 2018年8月8日</li>
                    <li>卒業日 2024年8月28日</li>
                    <li>血液型 クワ型</li>
                    <li>伝説のアイドルゲーマーメイド</li>
                    <li><a href="profile.html">プロフィール</a></li>
                </ul>
                <ul class="not_list">
                    <li>Twitter: <a href="https://twitter.com/minatoaqua" target="_blank" rel="noopener noreferrer">@minatoaqua</a></li>
                    <li><a href="https://www.youtube.com/channel/UC1opHUrw8rvnsadT-iGp7Cg" target="_blank" rel="noopener noreferrer">YouTube</a></li>
                    <li><a href="https://www.tiktok.com/@minatoaqua_hololive" target="_blank" rel="noopener noreferrer">TikTok</a></li>
                </ul>
                <p style="padding: 0 24px;">所属:<br>
                <a href="https://hololive.hololivepro.com/" target="_blank" rel="noopener noreferrer">ホロライブ ホロライブプロダクション</a></p>
            </div>
            <div style="width: calc(100% - 350px);padding:16px;">
                <h2 style="text-align:center;font-size:1em;font-weight:normal;">★★★　最新情報　★★★</h2>
                <ul class="new_info">
                    <li>・ライブ
                        <p>
                            2024年8月28日<br>
                            <a href="https://www.youtube.com/watch?v=fDtUy1PTor0" target="_blank">【#湊あくあ卒業ライブ】あくあ色に染まれ！／MinatoAqua Graduation LIVE</a>
                        </p>
                        <p>
                            2023年8月15日<br>
                            <a href="https://www.youtube.com/watch?v=c9VW0E2Unl4" target="_blank">【#⁠湊あくあ5周年LIVE】Dreamy day</a>
                        </p>
                        <p>
                            2022年8月11日<br>
                            <a href="https://www.youtube.com/watch?v=O4Ip7gZQOts" target="_blank">【3DLIVE】あくあ色ふぇすてぃばる。【#湊あくあ4周年記念】</a>
                        </p>
                        <p>
                            2021年8月9日<br>
                            <a href="https://www.youtube.com/watch?v=CtOkB0YQljY" target="_blank">【#湊あくあ3周年記念 】あくあ色 3rd Anniversary Live</a>
                        </p>
                        <p style="font-weight:normal;">
                            <a href="stage.html">more...</a>
                        </p>
                    </li>
                    <li>・ゲーム
                        <h3 style="margin-bottom:0;padding-left:40px;">あくありうむ。</h3>
                        <p style="margin-top:0;">
                            2022年10月27日発売 <a href="https://www.entergram.co.jp/aquarium/product/#products" target="_blank">CS(Switch/PS4)版</a><br>
                            2023年10月26日発売 <a href="https://www.entergram.co.jp/aquarium/product/#products_win" target="_blank">Windows(PC)版</a><br>
                            <a href="https://store.steampowered.com/app/2515070/_/" target="_blank">Steam(PC)版 ページ</a>
                        </p>
                        <h3 style="margin-bottom:0;padding-left:40px;">ソードアート・オンライン ラストリコレクション</h3>
                        <p style="margin-top:0;">
                            2024年3月7日 <a href="https://lr.sao-game.jp/dlc/aquaminato.php" target="_blank">無料アップデートでプレイアブルキャラクタとして登場。</a><br>
                            2024年3月8日 <a href="https://www.youtube.com/watch?v=4v5OKpIPfgg" target="_blank">アップデート紹介配信(Aqua Ch.湊あくあ)</a><br>
                            PS5、PS4、Xbox Series X|S、Xbox One、<a href="https://store.steampowered.com/app/1566880/_/?l=japanese" target="_blank">Steam</a><br>
                            <a href="https://lr.sao-game.jp/" target="_blank">公式サイト</a>
                        </p>
                    </li>
                    <li>・オリジナル曲
                        <p style="font-weight:normal;">
                            2020年8月21日発表<br>
                            2020年8月29日配信開始<br>
                            2020年12月1日MV公開<br>
                            <a href="https://www.youtube.com/watch?v=6bnaBnd4kyU" target="_blank" rel="noopener noreferrer" style="font-weight:bold;">「#あくあ色ぱれっと」1st original song</a><br>
                            <a href="https://aqua.streamlink.to/palette" target="_blank" rel="noopener noreferrer">配信サイト(https://aqua.streamlink.to/palette)</a>
                        </p>
                        <p style="font-weight:normal;">
                            2024年8月28日発表・MV公開<br>
                            2024年8月29日配信開始<br>
                            <a href="https://www.youtube.com/watch?v=RBBwfP1rtkE" target="_blank" rel="noopener noreferrer" style="font-weight:bold;">「#きみいろプリンセス」</a><br>
                            <a href="https://cover.lnk.to/qNbGii" target="_blank" rel="noopener noreferrer">配信サイト(https://cover.lnk.to/qNbGii)</a>
                        </p>
                        <p style="font-weight:normal;">
                            2024年8月28日発表・MV公開<br>
                            2024年8月29日配信開始<br>
                            <a href="https://www.youtube.com/watch?v=xtYdo3HteYU" target="_blank" rel="noopener noreferrer" style="font-weight:bold;">「キズナトキセキ」</a><br>
                            <a href="https://cover.lnk.to/FEY13a" target="_blank" rel="noopener noreferrer">配信サイト(https://cover.lnk.to/FEY13a)</a>
                        </p>
                        <p style="font-weight:normal;">
                            <a href="music.html">more...</a>
                        </p>
                    </li>
                    <li>・歌ってみた
                        <p style="font-weight:normal;">
                            2024年8月27日公開 Aqua Ch. 湊あくあ<br>
                            <a href="https://www.youtube.com/watch?v=pAFgy6hLjqc" target="_blank" rel="noopener noreferrer" style="font-weight:bold;">今はいいんだよ。／湊あくあ cover</a>
                        </p>
                        <p style="font-weight:normal;">
                            2024年8月20日公開 Aqua Ch. 湊あくあ<br>
                            <a href="https://www.youtube.com/watch?v=h-jHrHLG2eQ" target="_blank" rel="noopener noreferrer" style="font-weight:bold;">星座になれたら／湊あくあ cover</a>
                        </p>
                        <h3 style="margin-bottom:0;padding-left:40px;">Startend</h3>
                        <p style="margin-top:0;font-weight:normal;">
                            2024年8月25日公開 Aqua Ch. 湊あくあ<br>
                            <a href="https://www.youtube.com/watch?v=_T-1Vvm1fPA" target="_blank" rel="noopener noreferrer" style="font-weight:bold;">快晴 ／ Startend cover</a>
                        </p>
                        <p style="font-weight:normal;">
                            2024年8月27日公開 Towa Ch. 常闇トワ<br>
                            <a href="https://www.youtube.com/watch?v=35hMALocac8" target="_blank" rel="noopener noreferrer" style="font-weight:bold;">インテグラル / Startend (cover)</a>
                        </p>
                        <p style="font-weight:normal;">
                            2024年8月32日公開 Suisei Channel<br>
                            <a href="https://www.youtube.com/watch?v=pEIo7LHOxK8" target="_blank" rel="noopener noreferrer" style="font-weight:bold;">8.32 / Startend (Cover)</a>
                        </p>
                        <h3 style="margin-bottom:0;padding-left:40px;">hololive</h3>
                        <p style="margin-top:0;font-weight:normal;">
                            2024年8月18日公開 Aqua Ch. 湊あくあ<br>
                            <a href="https://www.youtube.com/watch?v=FG7pCu6ka-E" target="_blank" rel="noopener noreferrer" style="font-weight:bold;">林檎売りの泡沫少女／湊あくあ×紫咲シオン</a>
                        </p>
                        <p style="margin-top:0;font-weight:normal;">
                            2024年8月23日公開 Marine Ch. 宝鐘マリン<br>
                            <a href="https://www.youtube.com/watch?v=VikX8f_N2D4" target="_blank" rel="noopener noreferrer" style="font-weight:bold;">ツインテールは20歳まで♡ / あくあマリン cover</a>
                        </p>
                        <p style="margin-top:0;font-weight:normal;">
                            2024年8月24日公開 Shion Ch. 紫咲シオン<br>
                            <a href="https://www.youtube.com/watch?v=_l6fAIBDxFQ" target="_blank" rel="noopener noreferrer" style="font-weight:bold;">きみも悪い人でよかった／Covered by紫咲シオン＆湊あくあ</a>
                        </p>
                        <p style="margin-top:0;font-weight:normal;">
                            2024年8月15日公開 AZKi Channel<br>
                            <a href="https://www.youtube.com/watch?v=fHRTerc9sW4" target="_blank" rel="noopener noreferrer" style="font-weight:bold;">アイマイモコ / AZKi × 湊あくあ (Cover)</a>
                        </p>
                        <p style="margin-top:0;font-weight:normal;">
                            2024年9月4日公開 Kanata Ch. 天音かなた<br>
                            <a href="https://www.youtube.com/watch?v=EbWme7sDqgU" target="_blank" rel="noopener noreferrer" style="font-weight:bold;">メズマライザー / 天音かなた×湊あくあ(cover)</a>
                        </p>
                        <h3 style="margin-bottom:0;padding-left:40px;">Other</h3>
                        <p style="margin-top:0;font-weight:normal;">
                            2024年8月22日公開 神楽めあ / KaguraMea<br>
                            <a href="https://www.youtube.com/watch?v=38407nz1Mb0" target="_blank" rel="noopener noreferrer" style="font-weight:bold;">ソラシド～ねえねえ～／Buono!</a>
                        </p>
                        <p style="font-weight:normal;">
                            <a href="songing.html">more...</a>
                        </p>
                    </li>
                    <!--li>・配信
                        <p>
                            2/12 21時 <a href="https://www.youtube.com/watch?v=Wnt9cCDf2Gk" target="_blank" rel="noopener noreferrer">あくしおコラボ オムライス作って食べながら話しますか～！</a>
                        </p>
                        <p>
                            12/31 <a href="https://www.youtube.com/watch?v=fZIPM0GilhE" target="_blank" rel="noopener noreferrer">2023カウントダウン配信</a><br>
                            12/29 <a href="https://www.youtube.com/watch?v=IEzLd0w55_8" target="_blank" rel="noopener noreferrer">2期生コラボ</a><br>
                            12/25 <a href="https://www.youtube.com/watch?v=-5pE0rA2dBI" target="_blank" rel="noopener noreferrer">クリスマス歌枠リレー</a>（<a href="https://twitter.com/ookamimio/status/1605849351011667970" target="_blank" rel="noopener noreferrer">告知ツイート</a>）<br>
                            12/21 <a href="https://www.youtube.com/watch?v=HfaT-C0n8VQ" target="_blank" rel="noopener noreferrer">ゆるりとオフでタコパしてみた！【星街すいせい/湊あくあ/常闇トワ】</a>（YouTube）<br>
                            12/1 <a href="https://www.youtube.com/watch?v=sA4pyeRU4nc" target="_blank" rel="noopener noreferrer">誕生日凸待ち配信</a>（YouTube）
                        </p>
                    </li-->
                    <li>・アンバサダー
                        <p>
                            2021年,2022年,2023年,2024年<br>
                            <a href="https://www.redbull.com/jp-ja/collections/virtual-ambassadors-column" target="_blank" rel="noopener noreferrer">レッドブル・バーチャル・アンバサダー</a>
                        </p>
                        <p>
                            2023年7月15日<br>
                            <a href="collabo.html" target="_blank" rel="noopener noreferrer">ソードアート・オンライン ラストリコレクション 応援隊長</a>
                        </p>
                        <p>
                            2020年9月25日<br>
                            <a href="collabo.html" target="_blank" rel="noopener noreferrer">『ようこそ実力至上主義の教室へ』 高度育成高校生徒会 広報担当</a>
                        </p>
                    </li>
                    <!--li>・イベント
                        <p>
                            11/27　<a href="http://www.entergram.co.jp/aquarium/special/20221026fanmeeting.html" target="_blank" rel="noopener noreferrer">「あくありうむ。発売記念ファンミーティング」</a><br>
                            第一部 15:00　第二部 16:30
                            <a href="https://twitter.com/entergram_info/status/1588456127725207552" target="_blank" rel="noopener noreferrer">告知ツイート</a>
                            <a href="https://twitter.com/entergram_info/status/1585194852924289026" target="_blank" rel="noopener noreferrer">告知ツイート</a><br>
                            ファンミレポート <a href="https://www.gamer.ne.jp/news/202212020004/" target="_blank" rel="noopener noreferrer">第一部</a> <a href="https://www.famitsu.com/news/202212/02284332.html" target="_blank" rel="noopener noreferrer">第二部</a><br>
                        </p>
                    </li-->
                </ul>
                <p>
                    当サイトは爆速なサイトとして有名な「<a href="http://abehiroshi.la.coocan.jp/" target="_blank" rel="noopener noreferrer">阿部 寛のホームページ</a>」様のパロディで湊 あくあちゃんのファンサイトです。<br>
                    阿部 寛様、阿部寛のホームページ管理者様、湊あくあ様とは関係ありません。<br>
                    コードや素材の流用などもありません。<br>
                    当サイトに関わる問い合わせは上記オリジナル様には行わないようお願いします。
                </p>
            </div>
        </div>
    </div>
    <%- include(includePath+"_footer.ejs") %>
</body>
</html>