<%_ var includePath = "../include/" _%>
<% var pageData = {
    url: 'index.html',
    title: "",
    ogimage: ""
}; %>
<%- include(includePath+"_header.ejs", pageData) %>
<body style="margin:0;padding:0;">

<%- include(includePath+"_leftmenu.ejs") %>
    <style>
        .right-main {
            background-image: url('./minatoaqua_bg.webp');
        }
    </style>
    <div class="right-main">
        <h1 style="text-align:center;margin:0;">湊 あくあのホームページ【非公式】</h1>
        <div style="display:flex;max-width:1000px;margin:0 auto;">
            <div style="width:350px;padding-top:4em;">
                <img alt="湊あくあ" src="aqua_mmd.webp" width="350" height="413">
                <p style="margin:0;text-align:right;">©2016 cover corp.</p>
                <ul class="not_list">
                    <li>湊 あくあ（みなと あくあ）</li>
                    <li>誕生日 12月1日</li>
                    <li>初配信日 2018年8月8日</li>
                    <li>血液型 クワ型</li>
                    <li><a href="profile.html">プロフィール</a></li>
                </ul>
                <ul class="not_list">
                    <li>Twitter: <a href="https://twitter.com/minatoaqua" target="_blank" rel="noopener noreferrer">@minatoaqua</a></li>
                    <li><a href="https://www.youtube.com/channel/UC1opHUrw8rvnsadT-iGp7Cg" target="_blank" rel="noopener noreferrer">YouTube</a></li>
                    <li><a href="https://www.tiktok.com/@minatoaqua_hololive" target="_blank" rel="noopener noreferrer">TikTok</a></li>
                </ul>
                <p style="padding: 0 24px;">所属:<br>
                <a href="https://hololive.hololivepro.com/" target="_blank" rel="noopener noreferrer">ホロライブ ホロライブプロダクション</a></p>
            </div>
            <div style="width: calc(100% - 350px);padding:16px;">
                <h2 style="text-align:center;font-size:1em;font-weight:normal;">★★★　最新情報　★★★</h2>
                <ul class="new_info">
                    <li>・配信
                        <p>
                            2/12 21時 <a href="https://www.youtube.com/watch?v=Wnt9cCDf2Gk" target="_blank" rel="noopener noreferrer">あくしおコラボ オムライス作って食べながら話しますか～！</a>
                        </p>
                        <!--p>
                            12/31 <a href="https://www.youtube.com/watch?v=fZIPM0GilhE" target="_blank" rel="noopener noreferrer">2023カウントダウン配信</a><br>
                            12/29 <a href="https://www.youtube.com/watch?v=IEzLd0w55_8" target="_blank" rel="noopener noreferrer">2期生コラボ</a><br>
                            12/25 <a href="https://www.youtube.com/watch?v=-5pE0rA2dBI" target="_blank" rel="noopener noreferrer">クリスマス歌枠リレー</a>（<a href="https://twitter.com/ookamimio/status/1605849351011667970" target="_blank" rel="noopener noreferrer">告知ツイート</a>）<br>
                            12/21 <a href="https://www.youtube.com/watch?v=HfaT-C0n8VQ" target="_blank" rel="noopener noreferrer">ゆるりとオフでタコパしてみた！【星街すいせい/湊あくあ/常闇トワ】</a>（YouTube）<br>
                            12/1 <a href="https://www.youtube.com/watch?v=sA4pyeRU4nc" target="_blank" rel="noopener noreferrer">誕生日凸待ち配信</a>（YouTube）
                        </p-->
                    </li>
                    <li>・歌ってみた
                        <p>
                            12/30 <a href="https://www.youtube.com/watch?v=UFKpgozTers" target="_blank" rel="noopener noreferrer">「可愛くてごめん」</a><br>
                            2/1 メンバー限定 <a href="https://www.youtube.com/watch?v=rdTyneoVDkc" target="_blank" rel="noopener noreferrer">「夜撫でるメノウ」</a>
                        </p>
                    </li>
                    <li>・オリジナル曲
                        <p>
                            12/9 <a href="https://www.youtube.com/watch?v=awHMIHpmeIo" target="_blank" rel="noopener noreferrer">『uni-birth』湊あくあ MV</a><br>
                            12/2 『君の最推しにしてよ！』<a href="https://cover.lnk.to/LetmebeyourSAIOSHI" target="_blank" rel="noopener noreferrer">(https://cover.lnk.to/LetmebeyourSAIOSHI)</a>
                        </p>
                    </li>
                    <li>・グッズ
                        <p>
                            5月 ふわコロりん（<a href="https://twitter.com/maxlimitedinc2/status/1620981548781805568" target="_blank" rel="noopener noreferrer">告知ツイート</a>）<br>
                            <br>
                            12/14～ <a href="https://shop.hololivepro.com/collections/all?sort_by=manual&q=%22Recommended_%E3%82%B9%E3%82%BF%E3%83%BC%E3%82%BF%E3%83%BC%E3%82%B0%E3%83%83%E3%82%BA%22" target="_blank" rel="noopener noreferrer">ホロライブスターターグッズ</a><br>
                            アクキー、クリアファイル、ステッカーカードケース、<br>
                            ミニタペストリー／ランダム缶バッジ <a href="https://twitter.com/hololivetv/status/1602951528053997568" target="_blank" rel="noopener noreferrer">告知ツイート</a><br>
                            <br>
                            12/23～ <a href="https://parks2.bandainamco-am.co.jp/item/PRE_4549660786436.html?utm_source=Twitter%28GASHAPON%29&utm_medium=4549660786436" target="_blank" rel="noopener noreferrer">ガシャポンオンライン カプセルラバーマスコットコレクション01＆02</a><br>
                            <a href="https://twitter.com/Gashapon_Bandai/status/1606118659402842112" target="_blank" rel="noopener noreferrer">告知ツイート</a><br>
                            <br>
                            10/25～ <a href="https://p-bandai.jp/item/item-1000182214/?nr=1" target="_blank" rel="noopener noreferrer">プレミアムバンダイ ＃ホロライブサマーコレクション!! 湊あくあ</a><br>
                            <a href="https://twitter.com/Gashapon_Bandai/status/1584726949314068480" target="_blank" rel="noopener noreferrer">告知ツイート</a>
                        </p>
                    </li>
                    <li>・出演
                        <p>
                            2/9 <a href="https://amzn.to/40BoPG6" target="_blank" rel="noopener noreferrer">週刊ファミ通 2023年2月23日号 No.1784</a><br>
                            『Apex Legends』4周年記念 お祝いメッセージ参加<br>
                            <a href="https://www.famitsu.com/news/202302/07291828.html" target="_blank" rel="noopener noreferrer">ファミ通記事</a>
                        </p>
                        <p>
                            12/30 #60秒で学べるNews 年末スペシャル<br>
                            12/28 VTuberスタイル2023年1月号（<a href="https://twitter.com/VTuber_style/status/1605473164368019456" target="_blank" rel="noopener noreferrer">告知ツイート</a>）<br>
                            あくありうむ。制作チーム＆シナリオライターインタビュー<br>
                            ファンミーティングレポート
                        </p>
                        <p>
                            2/12 <a href="https://www.youtube.com/watch?v=2mQFojrPOSI" target="_blank" rel="noopener noreferrer">【アニメ】行こうぜ！スピードの向こう側へ！</a><br>
                            1/15 <a href="https://www.youtube.com/watch?v=VbkGgTxEEeA" target="_blank" rel="noopener noreferrer">【アニメ】ライブやっぞ！ライブ！</a><br>
                            1/3 <a href="https://www.youtube.com/watch?v=NXtnPogJjK0" target="_blank" rel="noopener noreferrer">‼完全アポ無し逆凸耐久‼年始のご挨拶に向かう🎍【星街すいせい】</a>
                        </p>
                        <p>
                            2/8 TikTok <a href="https://www.tiktok.com/@minatoaqua_hololive/video/7197673750677032194" target="_blank" rel="noopener noreferrer">#あいわな</a><br>
                            2/1 TikTok <a href="https://www.tiktok.com/@hololive_official/video/7195096930307853570" target="_blank" rel="noopener noreferrer">#君の最推しにしてよ！</a>
                        </p>
                        <p>
                            12/26 TVアニメ『夫婦以上、恋人未満。』12話<br>
                            作中背景にファミ通あくありうむ表紙が登場
                        </p>
                    </li>
                    <li>・コラボ
                        <p>
                            9/8～<br>
                            <a href="https://cake.jp/tag/621/" target="_blank" rel="noopener noreferrer">VTuberオリジナルケーキ缶</a>（<a href="https://twitter.com/hololivetv/status/1567717059186036738" target="_blank" rel="noopener noreferrer">告知ツイート</a>）<a href="https://prtimes.jp/main/html/rd/p/000000791.000030268.html" target="_blank" rel="noopener noreferrer">PRTimes</a><br>
                            <br>
                            11/10 12:00～ <a href="https://cake.jp/hololive/cake/#lineup-section-12" target="_blank" rel="noopener noreferrer">#cakejp オリジナルケーキ</a><br>
                            （<a href="https://twitter.com/hololivetv/status/1605036483999543296" target="_blank" rel="noopener noreferrer">告知ツイート</a>）
                        </p>
                        <p>
                            11/28 <a href="https://www.bandai.co.jp/candy/products/2022/4549660821090000.html" target="_blank" rel="noopener noreferrer">イタジャガ ホロライブ vol.1 </a><br>
                            <a href="https://www.redbull.com/jp-ja/collections/virtual-ambassadors-column" target="_blank" rel="noopener noreferrer">レッドブル・バーチャル・アンバサダー</a>
                        </p>
                    </li>
                    <li>・ライブ / ステージ
                        <p>
                            3/19 <a href="https://hololivesuperexpo2023.hololivepro.com/" target="_blank" rel="noopener noreferrer">hololive 4th Fes. Day2</a>
                            (<a href="https://twitter.com/hololivetv/status/1598666423618134016" target="_blank" rel="noopener noreferrer">告知ツイート</a>)
                        </p>
                    </li>
                    <li>・10月27日発売 <a href="http://www.entergram.co.jp/aquarium/" target="_blank" rel="noopener noreferrer">Switch/PS4用ゲーム「あくありうむ。」</a>
                        <p>
                            対象店舗で立て看板設置(<a href="http://www.entergram.co.jp/aquarium/special/20220810storelist.html" target="_blank" rel="noopener noreferrer">設置店舗</a>)
                        </p>
                        <p style="color:red;">PC版制作決定！</p>
                        <p>
                            ホロメン実況：
                            <a href="https://www.youtube.com/watch?v=6NkqlYJTW94" target="_blank" rel="noopener noreferrer">兎田ぺこら</a>
                            <a href="https://www.youtube.com/watch?v=k_mVdmgsN9A" target="_blank" rel="noopener noreferrer">博衣こより</a>
                            <a href="https://www.youtube.com/watch?v=ej7JAuF0IM0" target="_blank" rel="noopener noreferrer">沙花叉クロヱ</a><br>
                            大空スバル <a href="https://www.youtube.com/watch?v=den-Hn1szMA" target="_blank" rel="noopener noreferrer">1</a>
                            <a href="https://www.youtube.com/watch?v=GS8hzC-yXYg" target="_blank" rel="noopener noreferrer">2</a>
                            尾丸ポルカ <a href="https://www.youtube.com/watch?v=k_1ET38Os0k" target="_blank" rel="noopener noreferrer">1</a>
                            <a href="https://www.youtube.com/watch?v=8fsPNnOXDqQ" target="_blank" rel="noopener noreferrer">2</a>
                            <a href="https://www.youtube.com/watch?v=wUnxHkP3PnY" target="_blank" rel="noopener noreferrer">紫咲シオン</a>
                            <a href="https://www.youtube.com/watch?v=qSKCLILrM0s" target="_blank" rel="noopener noreferrer">夜空メル</a><br>
                            夏色まつり <a href="https://www.youtube.com/watch?v=G--BO7A7WKc" target="_blank" rel="noopener noreferrer">1</a>
                            <a href="https://www.youtube.com/watch?v=074bWplmh6o" target="_blank" rel="noopener noreferrer">2</a>
                            <a href="https://www.youtube.com/watch?v=wkvybAQV_LI" target="_blank" rel="noopener noreferrer">猫又おかゆ</a>
                            <a href="https://www.youtube.com/watch?v=_pwLf_85i8k" target="_blank" rel="noopener noreferrer">風真いろは</a><br>
                            <a href="https://www.youtube.com/watch?v=fd6swekh_QY" target="_blank" rel="noopener noreferrer">友人A(1/14 14:00-)</a>                            
                        </p>
                    </li>
                    <!--li>・イベント
                        <p>
                            11/27　<a href="http://www.entergram.co.jp/aquarium/special/20221026fanmeeting.html" target="_blank" rel="noopener noreferrer">「あくありうむ。発売記念ファンミーティング」</a><br>
                            第一部 15:00　第二部 16:30
                            <a href="https://twitter.com/entergram_info/status/1588456127725207552" target="_blank" rel="noopener noreferrer">告知ツイート</a>
                            <a href="https://twitter.com/entergram_info/status/1585194852924289026" target="_blank" rel="noopener noreferrer">告知ツイート</a><br>
                            ファンミレポート <a href="https://www.gamer.ne.jp/news/202212020004/" target="_blank" rel="noopener noreferrer">第一部</a> <a href="https://www.famitsu.com/news/202212/02284332.html" target="_blank" rel="noopener noreferrer">第二部</a><br>
                        </p>
                    </li-->
                    <!--li>・レッドブル
                        <p>
                            レッドブルコラム<br>
                            <a href="https://www.redbull.com/jp-ja/minato-aqua-column-001" target="_blank" rel="noopener noreferrer">Vol1（5/1）</a>　
                            <a href="https://www.redbull.com/jp-ja/minato-aqua-column-002" target="_blank" rel="noopener noreferrer">Vol2（6/1）</a>　
                            <a href="https://www.redbull.com/jp-ja/minato-aqua-column-003" target="_blank" rel="noopener noreferrer">Vol3（7/4）</a>　
                            <a href="https://www.redbull.com/jp-ja/minato-aqua-column-004" target="_blank" rel="noopener noreferrer">Vol4（8/1）</a><br>
                            <a href="https://www.redbull.com/jp-ja/minato-aqua-column-005" target="_blank" rel="noopener noreferrer">Vol5（9/1）</a>　
                            <a href="https://www.redbull.com/jp-ja/minato-aqua-column-006" target="_blank" rel="noopener noreferrer">Vol6（10/3）</a>　
                            <a href="https://www.redbull.com/jp-ja/minato-aqua-column-007" target="_blank" rel="noopener noreferrer">Vol7 最終回（11/1）</a>
                        </p>
                    </li-->
                    <li>・CD / Blu-ray
                        <p>
                            9/28 Blu-ray<br>
                            <a href="https://bushiroad-music.com/musics/hoxb-10008" target="_blank" rel="noopener noreferrer">ワンマンライブ2022『あくあ色 in わんだ～☆らんど♪』</a><br>
                            <br>
                            11/9 <a href="https://bushiroad-music.com/musics/hoxb-10009" target="_blank" rel="noopener noreferrer">hololive 3rd fes. Link Your Wish</a>
                        </p>
                    </li>
                </ul>
                <p>
                    当サイトは爆速なサイトとして有名な「<a href="http://abehiroshi.la.coocan.jp/" target="_blank" rel="noopener noreferrer">阿部 寛のホームページ</a>」様のパロディで湊 あくあちゃんのファンサイトです。<br>
                    阿部 寛様、阿部寛のホームページ管理者様、湊あくあ様とは関係ありません。<br>
                    コードや素材の流用などもありません。<br>
                    当サイトに関わる問い合わせは上記オリジナル様には行わないようお願いします。
                </p>
            </div>
        </div>
    </div>
    <%- include(includePath+"_footer.ejs") %>
</body>
</html>