<%_ var includePath = "../include/" _%>
<% var pageData = {
    url: 'index.html',
    title: "",
    ogimage: ""
}; %>
<%- include(includePath+"_header.ejs", pageData) %>
<body style="margin:0;padding:0;">

<%- include(includePath+"_leftmenu.ejs") %>
    <style>
        .right-main {
            background-image: url('./minatoaqua_bg.webp');
        }
    </style>
    <div class="right-main">
        <h1 style="text-align:center;margin:0;">湊 あくあのホームページ【非公式】</h1>
        <div style="display:flex;max-width:1000px;margin:0 auto;">
            <div style="width:350px;padding-top:4em;">
                <img alt="湊あくあ" src="aqua_mmd.webp" width="350" height="413">
                <p style="margin:0;text-align:right;">©2016 cover corp.</p>
                <ul class="not_list">
                    <li>湊 あくあ（みなと あくあ）</li>
                    <li>誕生日 12月1日</li>
                    <li>初配信日 2018年8月8日</li>
                    <li>血液型 クワ型</li>
                    <li><a href="profile.html">プロフィール</a></li>
                </ul>
                <ul class="not_list">
                    <li>Twitter: <a href="https://twitter.com/minatoaqua" target="_blank" rel="noopener noreferrer">@minatoaqua</a></li>
                    <li><a href="https://www.youtube.com/channel/UC1opHUrw8rvnsadT-iGp7Cg" target="_blank" rel="noopener noreferrer">YouTube</a></li>
                    <li><a href="https://www.tiktok.com/@minatoaqua_hololive" target="_blank" rel="noopener noreferrer">TikTok</a></li>
                </ul>
                <p style="padding: 0 24px;">所属:<br>
                <a href="https://hololive.hololivepro.com/" target="_blank" rel="noopener noreferrer">ホロライブ ホロライブプロダクション</a></p>
            </div>
            <div style="width: calc(100% - 350px);padding:16px;">
                <h2 style="text-align:center;font-size:1em;font-weight:normal;">★★★　最新情報　★★★</h2>
                <ul class="new_info">
                    <li>・10月27日発売 <a href="http://www.entergram.co.jp/aquarium/" target="_blank" rel="noopener noreferrer">Switch/PS4用ゲーム「あくありうむ。」</a>
                        <p>
                            体験版配信中（9/15～）（<a href="https://twitter.com/entergram_info/status/1568164131232174081" target="_blank" rel="noopener noreferrer">告知ツイート</a>）<br>
                            <a href="https://www.youtube.com/watch?v=CBUuVwKyB_Y" target="_blank" rel="noopener noreferrer"> 『未だ、青い』ゲームOPMV（8/9）</a><br>
                            <span style="color:red;text-decoration: underline;font-weight: bold;">10/20 20:00公開 <a href="https://www.youtube.com/watch?v=9hPA5g8Nylo" target="_blank" rel="noopener noreferrer"> 【あくありうむ。EDテーマ】カシオペア【Vo.湊あくあ】</a></span><br>
                            <br>
                            <a href="https://www.youtube.com/watch?v=5IuYqcGhrRw" target="_blank" rel="noopener noreferrer"> カウントダウンムービー【発売30日前】（9/27）</a>
                            （<a href="https://twitter.com/entergram_info/status/1574700688872919040" target="_blank" rel="noopener noreferrer">告知ツイート</a>）<br>
                            <a href="https://www.youtube.com/watch?v=bk4i94xaKcY" target="_blank" rel="noopener noreferrer"> カウントダウンムービー【発売20日前】（10/7）</a>
                            （<a href="https://twitter.com/entergram_info/status/1578309162500444161" target="_blank" rel="noopener noreferrer">告知ツイート</a>）<br>
                            <a href="https://www.youtube.com/watch?v=9hqh3vbcMZQ" target="_blank" rel="noopener noreferrer"> カウントダウンムービー【発売10日前】（10/17）</a>
                            （<a href="https://twitter.com/entergram_info/status/1581933041596833792" target="_blank" rel="noopener noreferrer">告知ツイート</a>）<br>
                            10/22 カウントダウンムービー【発売5日前】<br>
                            <br>
                            対象店舗で立て看板設置(<a href="http://www.entergram.co.jp/aquarium/special/20220810storelist.html" target="_blank" rel="noopener noreferrer">設置店舗</a>)
                        </p>
                    </li>
                    <li>・出演
                        <p>
                            9/28 VTuberスタイル 10月号<br>
                            「あくありうむ。」世界最速プレイレポート
                        </p>
                        <p>
                            10/20 週刊ファミ通 『#あくありうむ。』表紙、出演者3人によるスペシャル対談、VTuber活動振り返り企画<br>
                            <a href="https://www.famitsu.com/news/202210/18279266.html" style="" target="_blank" rel="noopener noreferrer">記事</a>　
                            <a href="https://twitter.com/famitsu/status/1582318115513589760" style="" target="_blank" rel="noopener noreferrer">告知ツイート</a>　
                            <a href="https://twitter.com/entergram_info/status/1582321771675471872" style="" target="_blank" rel="noopener noreferrer">告知ツイート</a><br>
                            <br>
                            9/30 <a href="https://hololive-fc.com/live/smoQSnB3pC6Vbm7QDrt3crxk" style="" target="_blank" rel="noopener noreferrer">公式FC番組 ホロライブのそれテストに出ますか？#07</a><br>
                            <a href="https://twitter.com/hololivetv/status/1571740877793394688" style="" target="_blank" rel="noopener noreferrer">告知ツイート</a><br>
                            <br>
                            9/25 ホロぐら <a href="https://www.youtube.com/watch?v=RSi00fM6ryg" style="" target="_blank" rel="noopener noreferrer">【アニメ】天音かなたはきのこ派</a>
                        </p>
                    </li>
                    <li>・レッドブル
                        <p>
                            9/1更新　<a href="https://www.redbull.com/jp-ja/minato-aqua-column-005" target="_blank" rel="noopener noreferrer">レッドブルコラム Vol5</a><br>
                            10/3更新　<a href="https://www.redbull.com/jp-ja/minato-aqua-column-006" target="_blank" rel="noopener noreferrer">レッドブルコラム Vol6</a>
                        </p>
                    </li>
                    <li>・CD / Blu-ray
                        <p>
                            9/28 発売 Blu-ray<br>
                            <a href="https://bushiroad-music.com/musics/hoxb-10008" target="_blank" rel="noopener noreferrer">ワンマンライブ2022『あくあ色 in わんだ～☆らんど♪』</a><br>
                            <br>
                            <a href="https://www.youtube.com/watch?v=BYTP2oLr59Q" target="_blank" rel="noopener noreferrer">ライブ映像 「あくたんのこと好きすぎ☆ソング」公開</a><br>
                            <a href="https://www.youtube.com/watch?v=ugTie-8HXLw" style="color:red;" target="_blank" rel="noopener noreferrer">ライブ映像 「uni-birth」公開</a><br>
                            <br>
                            9/17～ TVCM放映（ブシロードスポンサー枠?）<br>
                            10/3～10/16 秋葉原駅電気街口 ADビジョンCM掲載（<a href="https://twitter.com/BUSHIM_ongaku/status/1576867153910841345" target="_blank" rel="noopener noreferrer">告知ツイート</a>）<br>
                            <br>
                            9/27～10/10 <a href="https://tower.jp/article/feature_item/2022/09/09/0703" target="_blank" rel="noopener noreferrer">「湊あくあ×TOWER RECORDS」キャンペーン</a><br>
                            <a href="https://twitter.com/TOWER_Anime/status/1568163048036175872" style="" target="_blank" rel="noopener noreferrer">告知ツイート</a>
                        </p>
                        <p>
                            10/26　<a href="https://bushiroad-music.com/musics/hoxb-10009" target="_blank" rel="noopener noreferrer">hololive 3rd fes. Link Your Wish</a>
                        </p>
                    </li>
                    <li>・グッズ
                        <p>
                            ??/?? プレミアムバンダイ ホロライブサマーコレクション<br>
                            9/13～ フィギュア 【再販】 <a href="https://www.kotobukiya.co.jp/product/product-0000004035/" style="color:red;" target="_blank" rel="noopener noreferrer">KOTOBUKIYA 湊あくあ</a>
                        </p>
                        <p>
                            9/27～ <a href="https://aqua2ndlive.hololivepro.com/news" target="_blank" rel="noopener noreferrer">「あくあ色 in わんだ～☆らんど♪」ライブグッズ再販</a>
                        </p>
                    </li>
                    <li>・ライブ / ステージ
                        <p>
                            9/22 <a href="https://www.youtube.com/watch?v=cTusR-ffRjs" style="color:red;" target="_blank" rel="noopener noreferrer">【#犬山たまき4周年】3DLIVE/Dream Custom Made</a><br>
                            <br>
                            2023/3/18,19 hololive SUPER EXPO 2023 & hololive 4th Fes.
                        </p>
                    </li>
                    <!-- li>・配信
                        <p>
                            8/27 22:00<br>
                            <a href="https://www.youtube.com/watch?v=gVP3vlN0D8o" target="_blank" rel="noopener noreferrer">「あくありうむ。」体験版 先行実況プレイ</a>（YouTube）
                        </p>
                    </li -->
                    <li>・コラボ
                        <p>
                            9/1～10/17<br>
                            <a href="https://paselabo.tv/colabo.php?id=509" target="_blank" rel="noopener noreferrer">ホロライブ X パセラ コラボカフェ</a>
                        </p>
                        <p>
                            <a href="https://www.bandai.co.jp/candy/products/2022/4549660821090000.html" target="_blank" rel="noopener noreferrer">2022年11月発売 イタジャガ ホロライブ vol.1 </a>
                        </p>
                        <p>
                            <a href="https://www.redbull.com/jp-ja/collections/virtual-ambassadors-column" target="_blank" rel="noopener noreferrer">レッドブル・バーチャル・アンバサダー<br>
                            月に1回コラム更新（月初）</a><br>
                        </p>
                    </li>
                    <li>・オリジナル曲
                        <p>
                            8/9　<a href="https://www.youtube.com/watch?v=16WxRVoTAx0" target="_blank" rel="noopener noreferrer">『未だ、青い』（4周年記念・「あくありうむ。」主題歌）</a><br>
                            <a href="https://cover.lnk.to/StayBlue" target="_blank" rel="noopener noreferrer">配信サイト（https://cover.lnk.to/StayBlue）</a>　
                            <a href="http://www.entergram.co.jp/aquarium/special/20220808music_info.html" target="_blank" rel="noopener noreferrer">紹介ページ</a>
                        </p>
                        <p>
                            8/29 UMISEA　<a href="https://www.youtube.com/watch?v=VOFOmeHAmfk" target="_blank" rel="noopener noreferrer">「りゅーーっときてきゅーーっ!!!」</a><br>
                            <a href="https://cover.lnk.to/ICRAIGK" target="_blank" rel="noopener noreferrer">(https://cover.lnk.to/ICRAIGK)</a>
                        </p>
                    </li>
                    <li>・歌ってみた
                        <p>
                            8月29日　<a href="https://www.youtube.com/watch?v=8nCpQFvr-U4" target="_blank" rel="noopener noreferrer">「INTERNET OVERDOSE」</a>
                        </p>
                    </li>
                </ul>
                <p>
                    当サイトは爆速なサイトとして有名な「<a href="http://abehiroshi.la.coocan.jp/" target="_blank" rel="noopener noreferrer">阿部 寛のホームページ</a>」様のパロディで湊 あくあちゃんのファンサイトです。<br>
                    阿部 寛様、阿部寛のホームページ管理者様、湊あくあ様とは関係ありません。<br>
                    コードや素材の流用などもありません。<br>
                    当サイトに関わる問い合わせは上記オリジナル様には行わないようお願いします。
                </p>
            </div>
        </div>
    </div>
    <%- include(includePath+"_footer.ejs") %>
</body>
</html>