<%_ var includePath = "../include/" _%>
<% var pageData = {
    url: 'index.html',
    title: "",
    ogimage: ""
}; %>
<%- include(includePath+"_header.ejs", pageData) %>
<body style="margin:0;padding:0;">

<%- include(includePath+"_leftmenu.ejs") %>
    <style>
        .right-main {
            background-image: url('./minatoaqua_bg.webp');
        }
    </style>
    <div class="right-main">
        <h1 style="text-align:center;margin:0;">湊 あくあのホームページ【非公式】</h1>
        <div style="display:flex;max-width:1000px;margin:0 auto;">
            <div style="width:350px;padding-top:4em;">
                <img alt="湊あくあ" src="aqua_mmd.webp" width="350" height="413">
                <p style="margin:0;text-align:right;">©2016 cover corp.</p>
                <ul class="not_list">
                    <li>湊 あくあ（みなと あくあ）</li>
                    <li>誕生日 12月1日</li>
                    <li>初配信日 2018年8月8日</li>
                    <li>血液型 クワ型</li>
                    <li><a href="profile.html">プロフィール</a></li>
                </ul>
                <ul class="not_list">
                    <li>Twitter: <a href="https://twitter.com/minatoaqua" target="_blank" rel="noopener noreferrer">@minatoaqua</a></li>
                    <li><a href="https://www.youtube.com/channel/UC1opHUrw8rvnsadT-iGp7Cg" target="_blank" rel="noopener noreferrer">YouTube</a></li>
                    <li><a href="https://www.tiktok.com/@minatoaqua_hololive" target="_blank" rel="noopener noreferrer">TikTok</a></li>
                </ul>
                <p style="padding: 0 24px;">所属:<br>
                <a href="https://hololive.hololivepro.com/" target="_blank" rel="noopener noreferrer">ホロライブ ホロライブプロダクション</a></p>
            </div>
            <div style="width: calc(100% - 350px);padding:16px;">
                <h2 style="text-align:center;font-size:1em;font-weight:normal;">★★★　最新情報　★★★</h2>
                <ul class="new_info">
                    <li>・オリジナル曲
                        <p>
                            12/9 再投稿 <a href="https://www.youtube.com/watch?v=awHMIHpmeIo" target="_blank" rel="noopener noreferrer">『uni-birth』湊あくあ MV</a><br>
                            12/2 『君の最推しにしてよ！』<a href="https://cover.lnk.to/LetmebeyourSAIOSHI" target="_blank" rel="noopener noreferrer">(https://cover.lnk.to/LetmebeyourSAIOSHI)</a>
                        </p>
                    </li>
                    <li>・グッズ
                        <p>
                            2022/12/1～2023/1/2<br>
                            <a href="https://shop.hololivepro.com/products/minatoaqua_bd2022" target="_blank" rel="noopener noreferrer">湊あくあ 誕生日記念2022 グッズ</a><br>
                            <a href="https://twitter.com/hololivetv/status/1598315992563609600" target="_blank" rel="noopener noreferrer">告知ツイート</a>
                        </p>
                        <p>
                            12/30,31 コミックマーケット101<br>
                            <a href="https://www.entergram.co.jp/c101/" target="_blank" rel="noopener noreferrer">「エンターグラムブース」</a>：<br>
                            『あくありうむ。』関連グッズ・フォトスポット<br>
                            <br>
                            <a href="https://hololive-5th-anniversary.hololivepro.com/topics/c101/" target="_blank" rel="noopener noreferrer">「エンターグラムブース」</a>：<br>
                            カレンダー、クリアファイル、アクキー、etc
                        </p>
                        <p>
                            10/25～ <a href="https://p-bandai.jp/item/item-1000182214/?nr=1" target="_blank" rel="noopener noreferrer">プレミアムバンダイ ＃ホロライブサマーコレクション!! 湊あくあ</a><br>
                            <a href="https://twitter.com/Gashapon_Bandai/status/1584726949314068480" target="_blank" rel="noopener noreferrer">告知ツイート</a>
                        </p>
                    </li>
                    <li>・コラボ
                        <p style="font-weight:bold;color:red;">
                            12/16～1/9 <a href="https://tree-village.jp/news/014197.html" target="_blank" rel="noopener noreferrer">東京スカイツリータウンコラボ 第二弾</a><br>
                            <br>
                            12/9～ #ホロライブ × SMILE BASE CAFE 限定おせち<br>
                            <a href="https://smilebase.co.jp/announcement/4529/" target="_blank" rel="noopener noreferrer">ホロライブおせち2023</a><br>
                            (<a href="https://twitter.com/smilebasecafe/status/1597108026208567298" target="_blank" rel="noopener noreferrer">告知ツイート</a>
                            <a href="https://twitter.com/smilebasecafe/status/1601094292138708992" target="_blank" rel="noopener noreferrer">詳細 告知ツイート</a>)

                        </p>
                        <p>
                            11/28 <a href="https://www.bandai.co.jp/candy/products/2022/4549660821090000.html" target="_blank" rel="noopener noreferrer">イタジャガ ホロライブ vol.1 </a><br>
                            <a href="https://www.redbull.com/jp-ja/collections/virtual-ambassadors-column" target="_blank" rel="noopener noreferrer">レッドブル・バーチャル・アンバサダー</a>
                        </p>
                    </li>
                    <li>・ライブ / ステージ
                        <p>
                            12/31 23:00～<br>
                            『hololive production COUNTDOWN LIVE 2022▷2023』<br>
                            (YouTube完全無料) <a href="https://twitter.com/hololivetv/status/1598226077327167488" target="_blank" rel="noopener noreferrer">告知ツイート</a><br>
                            <br>
                            2023/3/19 <a href="https://hololivesuperexpo2023.hololivepro.com/" target="_blank" rel="noopener noreferrer">hololive 4th Fes. Day2</a>
                            (<a href="https://twitter.com/hololivetv/status/1598666423618134016" target="_blank" rel="noopener noreferrer">告知ツイート</a>)
                        </p>
                    </li>
                    <li>・10月27日発売 <a href="http://www.entergram.co.jp/aquarium/" target="_blank" rel="noopener noreferrer">Switch/PS4用ゲーム「あくありうむ。」</a>
                        <p>
                            12/30,31  <a href="https://www.entergram.co.jp/c101/" target="_blank" rel="noopener noreferrer">コミックマーケット101「エンターグラムブース」</a><br>
                            『あくありうむ。』関連グッズの販売、フォトスポットを設置予定<br>
                            (<a href="https://twitter.com/entergram_info/status/1598610863875063808" target="_blank" rel="noopener noreferrer">告知ツイート</a>)<br>
                            <br>
                            対象店舗で立て看板設置(<a href="http://www.entergram.co.jp/aquarium/special/20220810storelist.html" target="_blank" rel="noopener noreferrer">設置店舗</a>)
                        </p>
                        <p>
                            ホロメン実況：
                            <a href="https://www.youtube.com/watch?v=6NkqlYJTW94" target="_blank" rel="noopener noreferrer">兎田ぺこら</a>
                            <a href="https://www.youtube.com/watch?v=k_mVdmgsN9A" target="_blank" rel="noopener noreferrer">博衣こより</a>
                            <a href="https://www.youtube.com/watch?v=ej7JAuF0IM0" target="_blank" rel="noopener noreferrer">沙花叉クロヱ</a><br>
                            大空スバル <a href="https://www.youtube.com/watch?v=den-Hn1szMA" target="_blank" rel="noopener noreferrer">1</a>
                            <a href="https://www.youtube.com/watch?v=GS8hzC-yXYg" target="_blank" rel="noopener noreferrer">2</a>
                            尾丸ポルカ <a href="https://www.youtube.com/watch?v=k_1ET38Os0k" target="_blank" rel="noopener noreferrer">1</a>
                            <a href="https://www.youtube.com/watch?v=8fsPNnOXDqQ" target="_blank" rel="noopener noreferrer">2</a>
                            <a href="https://www.youtube.com/watch?v=wUnxHkP3PnY" target="_blank" rel="noopener noreferrer">紫咲シオン</a>
                            <a href="https://www.youtube.com/watch?v=qSKCLILrM0s" target="_blank" rel="noopener noreferrer">夜空メル</a><br>
                            夏色まつり <a href="https://www.youtube.com/watch?v=G--BO7A7WKc" target="_blank" rel="noopener noreferrer">1</a>
                            <a href="https://www.youtube.com/watch?v=074bWplmh6o" target="_blank" rel="noopener noreferrer">2(11/20予定)</a>
                            <a href="https://www.youtube.com/watch?v=wkvybAQV_LI" target="_blank" rel="noopener noreferrer">猫又おかゆ</a>
                            <a href="https://www.youtube.com/watch?v=_pwLf_85i8k" target="_blank" rel="noopener noreferrer">風真いろは</a>
                        </p>
                    </li>
                    <li>・出演
                        <p>
                            12/2 <a href="https://www.youtube.com/watch?v=c6pKpKjprsA" target="_blank" rel="noopener noreferrer">『青空のラプソディ』 fhána(犬山たまき×湊あくあ)</a>
                        </p>
                        <p>
                            12/8 <a href="https://www.youtube.com/watch?v=hkUaabSu-kY" target="_blank" rel="noopener noreferrer">【#紫咲シオン生誕祭2022】視聴者からの凄すぎるプレゼントを見る！！</a>
                        </p>
                        <p>
                            12/9 <a href="https://www.tiktok.com/@minatoaqua_hololive/video/7175026368944590082" target="_blank" rel="noopener noreferrer">TikTok #だいしきゅーだいしゅき</a><br>
                            12/3 <a href="https://www.tiktok.com/@minatoaqua_hololive/video/7172871980306156802" target="_blank" rel="noopener noreferrer">TikTok #可愛くてごめん</a><br>

                            12/3 <a href="https://www.youtube.com/watch?v=k2WUwC1PaMs" target="_blank" rel="noopener noreferrer">お客様ご来店？！？おはスバしゅばああ！！！【大空スバル】</a><br>
                            <br>
                            11/20 <a href="https://www.youtube.com/watch?v=TSVhLnEhGLI" target="_blank" rel="noopener noreferrer">星街すいせい理解度チェック⁉私のこと理解してるよね？【 #ぎらぎらほしまち 】</a><br>
                            <a href="https://twitter.com/suisei_hosimati/status/1594275832843108353" target="_blank" rel="noopener noreferrer">直前ショート動画</a><br>
                            <br>
                            11/20 <a href="https://www.tiktok.com/@minatoaqua_hololive/video/7167928601248075010" target="_blank" rel="noopener noreferrer">TikTok #P丸様 #MOTTAI</a>
                        </p>
                    </li>
                    <!--li>・イベント
                        <p>
                            11/27　<a href="http://www.entergram.co.jp/aquarium/special/20221026fanmeeting.html" target="_blank" rel="noopener noreferrer">「あくありうむ。発売記念ファンミーティング」</a><br>
                            第一部 15:00　第二部 16:30
                            <a href="https://twitter.com/entergram_info/status/1588456127725207552" target="_blank" rel="noopener noreferrer">告知ツイート</a>
                            <a href="https://twitter.com/entergram_info/status/1585194852924289026" target="_blank" rel="noopener noreferrer">告知ツイート</a><br>
                            ファンミレポート <a href="https://www.gamer.ne.jp/news/202212020004/" target="_blank" rel="noopener noreferrer">第一部</a> <a href="https://www.famitsu.com/news/202212/02284332.html" target="_blank" rel="noopener noreferrer">第二部</a><br>
                        </p>
                    </li-->
                    <li>・配信
                        <p>
                            12/1 <a href="https://www.youtube.com/watch?v=sA4pyeRU4nc" target="_blank" rel="noopener noreferrer">誕生日凸待ち配信</a>（YouTube）<br>
                            11/30 <a href="https://www.youtube.com/watch?v=toGkFD-mg7M" target="_blank" rel="noopener noreferrer">カウントダウン配信</a>（YouTube）<br>
                            11/26 <a href="https://www.youtube.com/watch?v=wyOl7wcU07Y" target="_blank" rel="noopener noreferrer">新衣装お披露目配信！</a>（YouTube）
                        </p>
                    </li>
                    <li>・レッドブル
                        <p>
                            レッドブルコラム<br>
                            <a href="https://www.redbull.com/jp-ja/minato-aqua-column-001" target="_blank" rel="noopener noreferrer">Vol1（5/1）</a>　
                            <a href="https://www.redbull.com/jp-ja/minato-aqua-column-002" target="_blank" rel="noopener noreferrer">Vol2（6/1）</a>　
                            <a href="https://www.redbull.com/jp-ja/minato-aqua-column-003" target="_blank" rel="noopener noreferrer">Vol3（7/4）</a>　
                            <a href="https://www.redbull.com/jp-ja/minato-aqua-column-004" target="_blank" rel="noopener noreferrer">Vol4（8/1）</a><br>
                            <a href="https://www.redbull.com/jp-ja/minato-aqua-column-005" target="_blank" rel="noopener noreferrer">Vol5（9/1）</a>　
                            <a href="https://www.redbull.com/jp-ja/minato-aqua-column-006" target="_blank" rel="noopener noreferrer">Vol6（10/3）</a>　
                            <a href="https://www.redbull.com/jp-ja/minato-aqua-column-007" target="_blank" rel="noopener noreferrer">Vol7 最終回（11/1）</a>
                        </p>
                    </li>
                    <li>・CD / Blu-ray
                        <p>
                            9/28 Blu-ray<br>
                            <a href="https://bushiroad-music.com/musics/hoxb-10008" target="_blank" rel="noopener noreferrer">ワンマンライブ2022『あくあ色 in わんだ～☆らんど♪』</a><br>
                            <br>
                            11/9 <a href="https://bushiroad-music.com/musics/hoxb-10009" target="_blank" rel="noopener noreferrer">hololive 3rd fes. Link Your Wish</a>
                        </p>
                    </li>
                    <li>・歌ってみた
                        <p>
                            8/29 <a href="https://www.youtube.com/watch?v=8nCpQFvr-U4" target="_blank" rel="noopener noreferrer">「INTERNET OVERDOSE」</a>
                        </p>
                    </li>
                </ul>
                <p>
                    当サイトは爆速なサイトとして有名な「<a href="http://abehiroshi.la.coocan.jp/" target="_blank" rel="noopener noreferrer">阿部 寛のホームページ</a>」様のパロディで湊 あくあちゃんのファンサイトです。<br>
                    阿部 寛様、阿部寛のホームページ管理者様、湊あくあ様とは関係ありません。<br>
                    コードや素材の流用などもありません。<br>
                    当サイトに関わる問い合わせは上記オリジナル様には行わないようお願いします。
                </p>
            </div>
        </div>
    </div>
    <%- include(includePath+"_footer.ejs") %>
</body>
</html>