<%_ var includePath = "../include/" _%>
<% var pageData = {
    url: 'index.html',
    title: "",
    ogimage: ""
}; %>
<%- include(includePath+"_header.ejs", pageData) %>
<body style="margin:0;padding:0;">

<%- include(includePath+"_leftmenu.ejs") %>
    <style>
        .right-main {
            background-image: url('./minatoaqua_bg.webp');
        }
    </style>
    <div class="right-main">
        <h1 style="text-align:center;margin:0;">湊 あくあのホームページ【非公式】</h1>
        <div style="display:flex;max-width:1000px;margin:0 auto;">
            <div style="width:350px;padding-top:4em;">
                <img alt="湊あくあ" src="aqua_mmd.webp" width="350" height="413">
                <p style="margin:0;text-align:right;">©2016 cover corp.</p>
                <ul class="not_list">
                    <li>湊 あくあ（みなと あくあ）</li>
                    <li>誕生日 12月1日</li>
                    <li>初配信日 2018年8月8日</li>
                    <li>血液型 クワ型</li>
                    <li><a href="profile.html">プロフィール</a></li>
                </ul>
                <ul class="not_list">
                    <li>Twitter: <a href="https://twitter.com/minatoaqua" target="_blank" rel="noopener noreferrer">@minatoaqua</a></li>
                    <li><a href="https://www.youtube.com/channel/UC1opHUrw8rvnsadT-iGp7Cg" target="_blank" rel="noopener noreferrer">YouTube</a></li>
                    <li><a href="https://www.tiktok.com/@minatoaqua_hololive" target="_blank" rel="noopener noreferrer">TikTok</a></li>
                </ul>
                <p style="padding: 0 24px;">所属:<br>
                <a href="https://hololive.hololivepro.com/" target="_blank" rel="noopener noreferrer">ホロライブ ホロライブプロダクション</a></p>
            </div>
            <div style="width: calc(100% - 350px);padding:16px;">
                <h2 style="text-align:center;font-size:1em;font-weight:normal;">★★★　最新情報　★★★</h2>
                <ul class="new_info">
                    <li>・配信
                        <p>
                            8/27 22:00<br>
                            <a href="https://www.youtube.com/watch?v=gVP3vlN0D8o" target="_blank" rel="noopener noreferrer">「あくありうむ。」体験版 先行実況プレイ</a>（YouTube）
                        </p>
                    </li>
                    <li>・ライブ / ステージ
                        <p>
                            8/31 21:00～<br>
                            <a href="https://www.youtube.com/channel/UCJFZiqLMntJufDCHc6bQixg" target="_blank" rel="noopener noreferrer">ホロライブ公式</a>「Climax Story Live」（YouTube）<br>
                            <a href="https://twitter.com/hololivetv/status/1562769956902645760" target="_blank" rel="noopener noreferrer">告知ツイート</a><br>
                            <br>
                            8/11　<a href="https://www.youtube.com/watch?v=O4Ip7gZQOts" target="_blank" rel="noopener noreferrer">4周年記念LIVE「あくあ色ふぇすてぃばる。」（YouTube）</a><br>
                            8/17　<a href="https://www.youtube.com/watch?v=WkUXJUQMZ-8" target="_blank" rel="noopener noreferrer">「紫咲シオン 4th Anniversary Live」（YouTube）</a>
                        </p>
                    </li>
                    <li>・出演
                        <p>
                            8/28 17:00　3Dアニメ「ホロのぐらふぃてぃ」UMISEA回<br>
                            <br>
                            9/9　コンプティーク 2022年10月号<br>
                            表紙・巻頭掲載。水着クリアファイル／水着B2ポスター
                        </p>
                    </li>
                    <li>・歌ってみた
                        <p>
                            8月29日週？ 新歌ってみたアップ予定
                        </p>
                    </li>
                    <li>・オリジナル曲
                        <p>
                            『未だ、青い』（4周年記念・「あくありうむ。」主題歌）<br>
                            <a href="https://cover.lnk.to/StayBlue" target="_blank" rel="noopener noreferrer">配信サイト</a>　
                            <a href="http://www.entergram.co.jp/aquarium/special/20220808music_info.html" target="_blank" rel="noopener noreferrer">紹介ページ</a><br>
                            <br>
                            MV：　<a href="https://www.youtube.com/watch?v=16WxRVoTAx0" target="_blank" rel="noopener noreferrer">未だ、青い／湊あくあ【ゲーム「あくありうむ。」主題歌】</a>
                        </p>
                    </li>
                    <li>・グッズ
                        <p>
                            8/8～9/12<br>
                            <a href="https://shop.hololivepro.com/products/minatoaqua_an4th?variant=43235425517788" target="_blank" rel="noopener noreferrer">湊あくあ 活動4周年記念 グッズ</a><br>
                            抱き枕カバー・アイマスク・ブランケット
                        </p>
                        <p>
                            8/31～<br>
                            『ホロライブ・サマー2022』の水着衣装グッズ<br>
                            3Dアクリルスタンド／ランダム缶バッジ／プレミアムアクリルパネル<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000770.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>　
                            <a href="https://shop.hololivepro.com/" target="_blank" rel="noopener noreferrer">ホロライブ公式ストア</a>
                        </p>
                    </li>
                    <li>・コラボ
                        <p>
                            7/22～8/31<br>
                            <a href="https://twitter.com/menu_all/status/1549318842161106944" target="_blank" rel="noopener noreferrer">ホロライブ X 東京タワー コラボレーション</a><br>
                            <a href="https://paselabo.tv/colabo.php?id=506" target="_blank" rel="noopener noreferrer">ホロライブ X パセラ コラボレーション</a><br>
                            <br>
                            9/1～10/17<br>
                            <a href="https://paselabo.tv/colabo.php?id=509" target="_blank" rel="noopener noreferrer">ホロライブ X パセラ コラボカフェ</a>
                        </p>
                        <p>
                            <a href="https://bpnavi.jp/s/kuji/pc/medias/show_by_key/hololive-2" target="_blank" rel="noopener noreferrer">2022年9月中旬発売予定 【再販】一番くじ ホロライブ</a><br>
                            <a href="https://www.bandai.co.jp/candy/products/2022/4549660821090000.html" target="_blank" rel="noopener noreferrer">2022年11月発売 イタジャガ ホロライブ vol.1 </a>
                        </p>
                        <p>
                            <a href="https://www.redbull.com/jp-ja/collections/virtual-ambassadors-column" target="_blank" rel="noopener noreferrer">レッドブル・バーチャル・アンバサダー<br>
                            月に1回コラム更新（月初）</a><br>
                        </p>
                    </li>
                    <li>・ゲーム
                        <p>
                            10月27日発売！<br>
                            <a href="http://www.entergram.co.jp/aquarium/" target="_blank" rel="noopener noreferrer">Switch/PS4用ゲーム「あくありうむ。」</a><br>
                            <a href="https://www.youtube.com/watch?v=CBUuVwKyB_Y" target="_blank" rel="noopener noreferrer">8月9日12時公開 『未だ、青い』ゲームOPMV</a><br>
                            <br>
                            7/7～8/31<br>
                            ソフマップ AKIBA アミューズメント館<br>
                            等身大アクリルパネル設置(<a href="https://twitter.com/entergram_info/status/1544954371632467969" target="_blank" rel="noopener noreferrer">告知ツイート</a>)<br>
                            <br>
                            8/8～<br>
                            JR秋葉原駅 中央改札口 デジタルサイネージに広告掲載<br>
                            <br>
                            対象店舗で立て看板設置(<a href="http://www.entergram.co.jp/aquarium/special/20220810storelist.html" target="_blank" rel="noopener noreferrer">設置店舗</a>)
                        </p>
                    </li>
                    <li>・CD / Blu-ray
                        <p>
                            9/28 発売！<br>
                            <a href="https://bushiroad-music.com/musics/hoxb-10008" target="_blank" rel="noopener noreferrer">ワンマンライブ2022『あくあ色 in わんだ～☆らんど♪』</a><br>
                            Blu-ray予約受付中<br>
                            
                            メーカー特典：A4サイズ特製ペーパースタンド<br>
                            応援店先着特典：特製A3クリアポスター<br>
                        </p>
                        <p>
                            10/26　<a href="https://bushiroad-music.com/musics/hoxb-10009" target="_blank" rel="noopener noreferrer">hololive 3rd fes. Link Your Wish</a>
                        </p>
                    </li>
                </ul>
                <p>
                    当サイトは爆速なサイトとして有名な「<a href="http://abehiroshi.la.coocan.jp/" target="_blank" rel="noopener noreferrer">阿部 寛のホームページ</a>」様のパロディで湊 あくあちゃんのファンサイトです。<br>
                    阿部 寛様、阿部寛のホームページ管理者様、湊あくあ様とは関係ありません。<br>
                    コードや素材の流用などもありません。<br>
                    当サイトに関わる問い合わせは上記オリジナル様には行わないようお願いします。
                </p>
            </div>
        </div>
    </div>
    <%- include(includePath+"_footer.ejs") %>
</body>
</html>