<%_ var includePath = "../include/" _%>
<% var pageData = {
    url: 'index.html',
    title: "",
    ogimage: ""
}; %>
<%- include(includePath+"_header.ejs", pageData) %>
<body style="margin:0;padding:0;">

<%- include(includePath+"_leftmenu.ejs") %>
    <style>
        .right-main {
            background-image: url('./minatoaqua_bg.webp');
        }
    </style>
    <div class="right-main">
        <h1 style="text-align:center;margin:0;">湊 あくあのホームページ【非公式】</h1>
        <div style="display:flex;max-width:1000px;margin:0 auto;">
            <div style="width:350px;padding-top:4em;">
                <img alt="湊あくあ" src="aqua_mmd.webp" width="350" height="413">
                <p style="margin:0;text-align:right;">©2016 cover corp.</p>
                <ul class="not_list">
                    <li>湊 あくあ（みなと あくあ）</li>
                    <li>誕生日 12月1日</li>
                    <li>初配信日 2018年8月8日</li>
                    <li>血液型 クワ型</li>
                    <li><a href="profile.html">プロフィール</a></li>
                </ul>
                <ul class="not_list">
                    <li>Twitter: <a href="https://twitter.com/minatoaqua" target="_blank" rel="noopener noreferrer">@minatoaqua</a></li>
                    <li><a href="https://www.youtube.com/channel/UC1opHUrw8rvnsadT-iGp7Cg" target="_blank" rel="noopener noreferrer">YouTube</a></li>
                    <li><a href="https://www.tiktok.com/@minatoaqua_hololive" target="_blank" rel="noopener noreferrer">TikTok</a></li>
                </ul>
                <p style="padding: 0 24px;">所属:<br>
                <a href="https://hololive.hololivepro.com/" target="_blank" rel="noopener noreferrer">ホロライブ ホロライブプロダクション</a></p>
            </div>
            <div style="width: calc(100% - 350px);padding:16px;">
                <h2 style="text-align:center;font-size:1em;font-weight:normal;">★★★　最新情報　★★★</h2>
                <ul class="new_info">
                    <li>・楽曲
                        <p>
                            5/3 UMISEA 『うみシーのさちハピ！』<br>
                            <a href="https://cover.lnk.to/SACHIHAPPY" target="_blank" rel="noopener noreferrer">配信サイト（https://cover.lnk.to/SACHIHAPPY）</a><br>
                            5/9 UMISEA <a href="https://www.youtube.com/watch?v=mTX41QjX_VI" target="_blank" rel="noopener noreferrer">『うみシーのさちハピ！』(PV)</a><br>
                            <br>
                            ?/? NEGI☆U 『寿司☆でしょ！』（かっぱ寿司コラボ）
                        </p>
                    </li>

                    <!--li>・配信
                        <p>
                            5/2 21時 <a href="https://www.youtube.com/watch?v=GQhn3Op9o_w" target="_blank" rel="noopener noreferrer">【 GWコラボ 】一致するまで終われまテン！！🌸⚓🚑☄ ♌ 👿</a>
                        </p>
                        <p>
                            2/12 21時 <a href="https://www.youtube.com/watch?v=Wnt9cCDf2Gk" target="_blank" rel="noopener noreferrer">あくしおコラボ オムライス作って食べながら話しますか～！</a>
                        </p>
                        <p>
                            12/31 <a href="https://www.youtube.com/watch?v=fZIPM0GilhE" target="_blank" rel="noopener noreferrer">2023カウントダウン配信</a><br>
                            12/29 <a href="https://www.youtube.com/watch?v=IEzLd0w55_8" target="_blank" rel="noopener noreferrer">2期生コラボ</a><br>
                            12/25 <a href="https://www.youtube.com/watch?v=-5pE0rA2dBI" target="_blank" rel="noopener noreferrer">クリスマス歌枠リレー</a>（<a href="https://twitter.com/ookamimio/status/1605849351011667970" target="_blank" rel="noopener noreferrer">告知ツイート</a>）<br>
                            12/21 <a href="https://www.youtube.com/watch?v=HfaT-C0n8VQ" target="_blank" rel="noopener noreferrer">ゆるりとオフでタコパしてみた！【星街すいせい/湊あくあ/常闇トワ】</a>（YouTube）<br>
                            12/1 <a href="https://www.youtube.com/watch?v=sA4pyeRU4nc" target="_blank" rel="noopener noreferrer">誕生日凸待ち配信</a>（YouTube）
                        </p>
                    </li-->
                    <li>・Blue Journey
                        <p>
                            4/17 <a href="https://www.youtube.com/watch?v=I097di5uoBo" target="_blank" rel="noopener noreferrer">1st デジタルシングル「僕は独りだ」</a><br>
                            <a href="https://lnk.to/BJ_bh" target="_blank" rel="noopener noreferrer">Streaming & Download</a><br>
                            6/19 3rd デジタルシングル「あの日の僕らへ」<br>
                            （<a href="https://twitter.com/hololivetv/status/1646439138370142208" target="_blank" rel="noopener noreferrer">告知ツイート</a> <a href="https://prtimes.jp/main/html/rd/p/000000937.000030268.html" target="_blank" rel="noopener noreferrer">PRTIMES</a>）
                        </p>
                    </li>
                    <li>・コラボ
                        <p>
                            5/1-5/21 <a href="https://hololive-kandamatsuri.com/" target="_blank" rel="noopener noreferrer">ホロライブ神田祭2023 withアトレ秋葉原</a><br>
                            （<a href="https://twitter.com/hololive_event/status/1647797036115431425" target="_blank" rel="noopener noreferrer">告知ツイート</a>）<br>
                            <br>
                            5/2 19:00～ <a href="https://yoshida-kanko.myshopify.com/pages/hololive2023" target="_blank" rel="noopener noreferrer">UMISEA × 北海道海産物コラボ オンライン通販</a>(<a href="https://prtimes.jp/main/html/rd/p/000000949.000030268.html" target="_blank" rel="noopener noreferrer">PRTIMES</a>)<br>
                            （<a href="https://twitter.com/hololivetv/status/1651421738071375872" target="_blank" rel="noopener noreferrer">告知ツイート</a>）<br>
                            5/2 UMISEA × 北海道海産物コラボ配信<br>
                            <br>
                            5/16 <a href="https://www.lawson.co.jp/lab/campaign/hololive/" target="_blank" rel="noopener noreferrer">ホロライブ×ローソンコラボ</a><br>
                            （<a href="https://twitter.com/shirakamifubuki/status/1651873902585602048" target="_blank" rel="noopener noreferrer">告知ツイート</a>）<br>
                            <br>
                            5/16 <a href="https://kujist.jp/kuji/hololive3/" target="_blank" rel="noopener noreferrer">ホロライブ ホロクッキングくじ～ホロっとカフェテリア～</a><br>
                            （<a href="https://twitter.com/hololivetv/status/1646098335215026177" target="_blank" rel="noopener noreferrer">告知ツイート</a>）<br>
                            <br>
                            5/18 <a href="https://www.kappasushi.jp/cp/2023/hololive" target="_blank" rel="noopener noreferrer">#かっぱ寿司 × NEGI☆U</a><br>
                            （<a href="https://twitter.com/minatoaqua/status/1656934387815174144" target="_blank" rel="noopener noreferrer">告知ツイート</a>）<br>
                            <br>
                            7/7～（受付5/1） <a href="https://hololivecity.hololivepro.com/" target="_blank" rel="noopener noreferrer">#ホロライブシティ アトラクションズ</a><br>
                            スカイライン受付5/1～<br>
                            アトラクションズ期間7/24～8/15<br>
                            （<a href="https://twitter.com/at_raku/status/1651896571569803264" target="_blank" rel="noopener noreferrer">告知ツイート</a>）<br>
                            <br>
                            8月 <a href="https://twitter.com/candytoy_c/status/1648884309477199873" target="_blank" rel="noopener noreferrer">ホロライブ ウエハース3</a><br>
                            <br>
                            <a href="https://www.redbull.com/jp-ja/collections/virtual-ambassadors-column" target="_blank" rel="noopener noreferrer">レッドブル・バーチャル・アンバサダー</a>
                        </p>
                        <p>
                            9/8～<br>
                            <a href="https://cake.jp/tag/621/" target="_blank" rel="noopener noreferrer">VTuberオリジナルケーキ缶</a>（<a href="https://twitter.com/hololivetv/status/1567717059186036738" target="_blank" rel="noopener noreferrer">告知ツイート</a>）<a href="https://prtimes.jp/main/html/rd/p/000000791.000030268.html" target="_blank" rel="noopener noreferrer">PRTimes</a><br>
                            <br>
                            11/10 12:00～ <a href="https://cake.jp/hololive/cake/#lineup-section-12" target="_blank" rel="noopener noreferrer">#cakejp オリジナルケーキ</a><br>
                            （<a href="https://twitter.com/hololivetv/status/1605036483999543296" target="_blank" rel="noopener noreferrer">告知ツイート</a>）
                        </p>
                    </li>
                    <!--li>・STAGE
                        <p>
                            3/19 <a href="https://hololivesuperexpo2023.hololivepro.com/" target="_blank" rel="noopener noreferrer">hololive SUPER EXPO 2023 4th Fes. Day2</a><br>
                            - 3/16 <a href="https://twitter.com/hololivetv/status/1636313862415810562" target="_blank" rel="noopener noreferrer">Twitterカウントダウン動画</a><br>
                            - 3/17 <a href="https://hololivesuperexpo2023.hololivepro.com/special/cast_message_day2/" target="_blank" rel="noopener noreferrer">意気込みコメント</a>
                            （<a href="https://twitter.com/hololivetv/status/1636566134936985600" target="_blank" rel="noopener noreferrer">告知ツイート</a>）
                        </p>
                    </li-->
                    <li>・歌ってみた
                        <p>
                            3/17 <a href="https://www.youtube.com/watch?v=p1lfwyWSGV4" target="_blank" rel="noopener noreferrer">「空奏列車 ／ Startend cover」</a>
                        </p>
                    </li>
                    <!--li>・出演
                        <p>
                        </p>
                    </li-->
                    <li>・オリジナル曲
                        <p>
                            12/9 <a href="https://www.youtube.com/watch?v=awHMIHpmeIo" target="_blank" rel="noopener noreferrer">『uni-birth』湊あくあ MV</a>
                            <a href="https://cover.lnk.to/uni-birth" target="_blank" rel="noopener noreferrer">(https://cover.lnk.to/uni-birth)</a><br>
                            12/2 『君の最推しにしてよ！』
                            <a href="https://cover.lnk.to/LetmebeyourSAIOSHI" target="_blank" rel="noopener noreferrer">(https://cover.lnk.to/LetmebeyourSAIOSHI)</a>
                        </p>
                    </li>
                    <li>・グッズ
                        <p>
                            2023年6月発売予定 「ててコレ」（<a href="https://twitter.com/maxlimitedinc2/status/1631492154551062528" target="_blank" rel="noopener noreferrer">告知ツイート</a>）<br>
                            <br>
                            5月 ふわコロりん（<a href="https://twitter.com/maxlimitedinc2/status/1620981548781805568" target="_blank" rel="noopener noreferrer">告知ツイート</a>）
                        </p>
                    </li>
                    <li>・出演
                        <p>
                            5/7 <a href="https://www.youtube.com/watch?v=eZc9OGrjKwA" target="_blank" rel="noopener noreferrer">【アニメ】あたしが推し</a><br>
                            4/19 <a href="https://www.youtube.com/shorts/xQ8v1TWmg88" target="_blank" rel="noopener noreferrer">mumumumumumu(＞_＜ 三 ＞_＜) #shorts</a><br>
                            4/2 <a href="https://www.youtube.com/watch?v=fNt54n5fF-Q" target="_blank" rel="noopener noreferrer">【アニメ】「エモい」について考えてみた</a>
                        </p>
                    </li>
                    <!--li>・ライブ / ステージ
                        <p>
                        </p>
                    </li-->
                    <li>・10月27日発売 <a href="http://www.entergram.co.jp/aquarium/" target="_blank" rel="noopener noreferrer">Switch/PS4用ゲーム「あくありうむ。」</a>
                        <p style="color:red;">PC版制作決定！</p>
                        <p>
                            ホロメン実況：
                            <a href="https://www.youtube.com/watch?v=6NkqlYJTW94" target="_blank" rel="noopener noreferrer">兎田ぺこら</a>
                            <a href="https://www.youtube.com/watch?v=k_mVdmgsN9A" target="_blank" rel="noopener noreferrer">博衣こより</a>
                            <a href="https://www.youtube.com/watch?v=ej7JAuF0IM0" target="_blank" rel="noopener noreferrer">沙花叉クロヱ</a><br>
                            大空スバル <a href="https://www.youtube.com/watch?v=den-Hn1szMA" target="_blank" rel="noopener noreferrer">1</a>
                            <a href="https://www.youtube.com/watch?v=GS8hzC-yXYg" target="_blank" rel="noopener noreferrer">2</a>
                            尾丸ポルカ <a href="https://www.youtube.com/watch?v=k_1ET38Os0k" target="_blank" rel="noopener noreferrer">1</a>
                            <a href="https://www.youtube.com/watch?v=8fsPNnOXDqQ" target="_blank" rel="noopener noreferrer">2</a>
                            <a href="https://www.youtube.com/watch?v=wUnxHkP3PnY" target="_blank" rel="noopener noreferrer">紫咲シオン</a>
                            <a href="https://www.youtube.com/watch?v=qSKCLILrM0s" target="_blank" rel="noopener noreferrer">夜空メル</a><br>
                            夏色まつり <a href="https://www.youtube.com/watch?v=G--BO7A7WKc" target="_blank" rel="noopener noreferrer">1</a>
                            <a href="https://www.youtube.com/watch?v=074bWplmh6o" target="_blank" rel="noopener noreferrer">2</a>
                            <a href="https://www.youtube.com/watch?v=wkvybAQV_LI" target="_blank" rel="noopener noreferrer">猫又おかゆ</a>
                            <a href="https://www.youtube.com/watch?v=_pwLf_85i8k" target="_blank" rel="noopener noreferrer">風真いろは</a><br>
                            <a href="https://www.youtube.com/watch?v=fd6swekh_QY" target="_blank" rel="noopener noreferrer">友人A</a>
                            <a href="https://www.youtube.com/watch?v=rn6FplIZNc0" target="_blank" rel="noopener noreferrer">桃鈴ねね</a>
                        </p>
                    </li>
                    <!--li>・イベント
                        <p>
                            11/27　<a href="http://www.entergram.co.jp/aquarium/special/20221026fanmeeting.html" target="_blank" rel="noopener noreferrer">「あくありうむ。発売記念ファンミーティング」</a><br>
                            第一部 15:00　第二部 16:30
                            <a href="https://twitter.com/entergram_info/status/1588456127725207552" target="_blank" rel="noopener noreferrer">告知ツイート</a>
                            <a href="https://twitter.com/entergram_info/status/1585194852924289026" target="_blank" rel="noopener noreferrer">告知ツイート</a><br>
                            ファンミレポート <a href="https://www.gamer.ne.jp/news/202212020004/" target="_blank" rel="noopener noreferrer">第一部</a> <a href="https://www.famitsu.com/news/202212/02284332.html" target="_blank" rel="noopener noreferrer">第二部</a><br>
                        </p>
                    </li-->
                    <!--li>・レッドブル
                        <p>
                            レッドブルコラム<br>
                            <a href="https://www.redbull.com/jp-ja/minato-aqua-column-001" target="_blank" rel="noopener noreferrer">Vol1（5/1）</a>　
                            <a href="https://www.redbull.com/jp-ja/minato-aqua-column-002" target="_blank" rel="noopener noreferrer">Vol2（6/1）</a>　
                            <a href="https://www.redbull.com/jp-ja/minato-aqua-column-003" target="_blank" rel="noopener noreferrer">Vol3（7/4）</a>　
                            <a href="https://www.redbull.com/jp-ja/minato-aqua-column-004" target="_blank" rel="noopener noreferrer">Vol4（8/1）</a><br>
                            <a href="https://www.redbull.com/jp-ja/minato-aqua-column-005" target="_blank" rel="noopener noreferrer">Vol5（9/1）</a>　
                            <a href="https://www.redbull.com/jp-ja/minato-aqua-column-006" target="_blank" rel="noopener noreferrer">Vol6（10/3）</a>　
                            <a href="https://www.redbull.com/jp-ja/minato-aqua-column-007" target="_blank" rel="noopener noreferrer">Vol7 最終回（11/1）</a>
                        </p>
                    </li-->
                    <!--li>・CD / Blu-ray
                        <p>
                        </p>
                    </li-->
                </ul>
                <p>
                    当サイトは爆速なサイトとして有名な「<a href="http://abehiroshi.la.coocan.jp/" target="_blank" rel="noopener noreferrer">阿部 寛のホームページ</a>」様のパロディで湊 あくあちゃんのファンサイトです。<br>
                    阿部 寛様、阿部寛のホームページ管理者様、湊あくあ様とは関係ありません。<br>
                    コードや素材の流用などもありません。<br>
                    当サイトに関わる問い合わせは上記オリジナル様には行わないようお願いします。
                </p>
            </div>
        </div>
    </div>
    <%- include(includePath+"_footer.ejs") %>
</body>
</html>