<%_ var includePath = "../include/" _%>
<% var pageData = {
    url: 'index.html',
    title: "",
    ogimage: ""
}; %>
<%- include(includePath+"_header.ejs", pageData) %>
<body style="margin:0;padding:0;">

<%- include(includePath+"_leftmenu.ejs") %>
    <style>
        .right-main {
            background-image: url('./minatoaqua_bg.webp');
        }
    </style>
    <div class="right-main">
        <h1 style="text-align:center;margin:0;">湊 あくあのホームページ【非公式】</h1>
        <div style="display:flex;max-width:1000px;margin:0 auto;">
            <div style="width:350px;padding-top:4em;">
                <img alt="湊あくあ" src="aqua_mmd.webp" width="350" height="413">
                <p style="margin:0;text-align:right;">©2016 cover corp.</p>
                <ul class="not_list">
                    <li>湊 あくあ（みなと あくあ）</li>
                    <li>誕生日 12月1日</li>
                    <li>初配信日 2018年8月8日</li>
                    <li>血液型 クワ型</li>
                    <li><a href="profile.html">プロフィール</a></li>
                </ul>
                <ul class="not_list">
                    <li>Twitter: <a href="https://twitter.com/minatoaqua" target="_blank" rel="noopener noreferrer">@minatoaqua</a></li>
                    <li><a href="https://www.youtube.com/channel/UC1opHUrw8rvnsadT-iGp7Cg" target="_blank" rel="noopener noreferrer">YouTube</a></li>
                    <li><a href="https://www.tiktok.com/@minatoaqua_hololive" target="_blank" rel="noopener noreferrer">TikTok</a></li>
                </ul>
                <p style="padding: 0 24px;">所属:<br>
                <a href="https://hololive.hololivepro.com/" target="_blank" rel="noopener noreferrer">ホロライブ ホロライブプロダクション</a></p>
            </div>
            <div style="width: calc(100% - 350px);padding:16px;">
                <h2 style="text-align:center;font-size:1em;font-weight:normal;">★★★　最新情報　★★★</h2>
                <ul class="new_info">
                    <li>・イベント
                        <p>
                            11/27　<a href="http://www.entergram.co.jp/aquarium/special/20221026fanmeeting.html" target="_blank" rel="noopener noreferrer">「あくありうむ。発売記念ファンミーティング」</a><br>
                            第一部 14:30　第二部 16:30<br>
                            <a href="https://twitter.com/entergram_info/status/1588456127725207552" target="_blank" rel="noopener noreferrer">告知ツイート</a>
                        </p>
                    </li>
                    <li>・出演
                        <p>
                            11/14 <a href="https://www.youtube.com/watch?v=QBmgwTnLDao" style="" target="_blank" rel="noopener noreferrer">【3DLIVE】神っぽいな / 天音かなた×湊あくあ【ホロライブ】</a><br>
                            11/10 <a href="https://www.youtube.com/watch?v=yyauDZNxILM" style="" target="_blank" rel="noopener noreferrer">【#ホロライブ裁判】EXPO2022の会場ONLYだった裁判を初公開！【大神ミオ・尾丸ポルカ・博衣こより】</a><br>
                            <br>
                            10/20 週刊ファミ通 『#あくありうむ。』表紙、<br>
                            出演者3人によるスペシャル対談、VTuber活動振り返り企画<br>
                            <a href="https://www.famitsu.com/news/202210/18279266.html" style="" target="_blank" rel="noopener noreferrer">記事</a>　
                            <a href="https://twitter.com/famitsu/status/1582318115513589760" style="" target="_blank" rel="noopener noreferrer">告知ツイート</a>　
                            <a href="https://twitter.com/entergram_info/status/1582321771675471872" style="" target="_blank" rel="noopener noreferrer">告知ツイート</a><br>
                            <br>
                            10/23 ホロぐら <a href="https://www.youtube.com/watch?v=fQ5hbR4H4wg" style="" target="_blank" rel="noopener noreferrer">【アニメ】助けて！暴走腹筋ローラーの逆襲</a><br>
                            11/6 ホロぐら <a href="https://www.youtube.com/watch?v=4kmdCxIm0E8" style="" target="_blank" rel="noopener noreferrer">【アニメ】余の連帯保証人になってくれ！</a>
                        </p>
                        <p>
                            9/28 VTuberスタイル 10月号<br>
                            「あくありうむ。」世界最速プレイレポート
                        </p>
                        <p>
                            10/26 <a href="https://www.tiktok.com/@hololive_official/video/7158741736443989250" style="" target="_blank" rel="noopener noreferrer">TikTok(#あくあ色ぱれっと)</a>
                        </p>
                    </li>
                    <li>・ライブ / ステージ
                        <p>
                            <a href="https://www.youtube.com/watch?v=3LaDuoHDC_g" target="_blank" rel="noopener noreferrer">昭和老人会♪宝鐘マリン3周年記念歌謡祭【hololive/宝鐘マリン】</a>(11/3)<br>
                            <br>
                            2023/3/18,19 hololive SUPER EXPO 2023 & hololive 4th Fes.
                        </p>
                    </li>
                    <li>・10月27日発売 <a href="http://www.entergram.co.jp/aquarium/" target="_blank" rel="noopener noreferrer">Switch/PS4用ゲーム「あくありうむ。」</a>
                        <p>
                            体験版（9/15～）（<a href="https://twitter.com/entergram_info/status/1568164131232174081" target="_blank" rel="noopener noreferrer">告知ツイート</a>）<br>
                            <a href="https://www.youtube.com/watch?v=CBUuVwKyB_Y" target="_blank" rel="noopener noreferrer"> 『未だ、青い』ゲームOPMV（8/9）</a><br>
                            <span><a href="https://www.youtube.com/watch?v=9hPA5g8Nylo" target="_blank" rel="noopener noreferrer"> 『カシオペア』EDテーマ(10/20)</a></span><br>
                            <br>
                            11月 <a href="https://www.entergram.co.jp/aquarium/special/20221026fanmeeting.html" target="_blank" rel="noopener noreferrer">ファンミーティング開催決定</a>
                            （<a href="https://twitter.com/entergram_info/status/1585194852924289026" target="_blank" rel="noopener noreferrer">告知ツイート</a>）<br>
                            <br>
                            カウントダウンムービー<br>
                            <a href="https://www.youtube.com/watch?v=5IuYqcGhrRw" target="_blank" rel="noopener noreferrer">30日前（9/27）</a>
                            （<a href="https://twitter.com/entergram_info/status/1574700688872919040" target="_blank" rel="noopener noreferrer">告知</a>）　
                            <a href="https://www.youtube.com/watch?v=bk4i94xaKcY" target="_blank" rel="noopener noreferrer">20日前（10/7）</a>
                            （<a href="https://twitter.com/entergram_info/status/1578309162500444161" target="_blank" rel="noopener noreferrer">告知</a>）<br>
                            <a href="https://www.youtube.com/watch?v=9hqh3vbcMZQ" target="_blank" rel="noopener noreferrer">10日前（10/17）</a>
                            （<a href="https://twitter.com/entergram_info/status/1581933041596833792" target="_blank" rel="noopener noreferrer">告知</a>）　
                            <a href="https://www.youtube.com/watch?v=_VqsXpCOxPc" target="_blank" rel="noopener noreferrer">5日前（10/22）</a>
                            （<a href="https://twitter.com/entergram_info/status/1583775178722451457" target="_blank" rel="noopener noreferrer">告知</a>）<br>
                            <a href="https://www.youtube.com/watch?v=bHFKNzj-8PA" target="_blank" rel="noopener noreferrer">4日前（10/23）</a>
                            （<a href="https://twitter.com/entergram_info/status/1584137558396502018" target="_blank" rel="noopener noreferrer">告知</a>）　
                            <a href="https://www.youtube.com/watch?v=Q45G44FSK8U" target="_blank" rel="noopener noreferrer">3日前（10/24）</a>
                            （<a href="https://twitter.com/entergram_info/status/1584469748007391232" target="_blank" rel="noopener noreferrer">告知</a>）<br>
                            <a href="https://www.youtube.com/watch?v=Fumj_10n4IY" target="_blank" rel="noopener noreferrer">2日前（10/25）</a>
                            （<a href="https://twitter.com/entergram_info/status/1584832137236082688" target="_blank" rel="noopener noreferrer">告知</a>）　
                            <a href="https://www.youtube.com/watch?v=TUsWUcy-SlE" target="_blank" rel="noopener noreferrer">前日（10/26）</a>
                            （<a href="https://twitter.com/entergram_info/status/1585194533654069249" target="_blank" rel="noopener noreferrer">告知</a>）<br>
                            <br>
                            <a href="https://www.youtube.com/watch?v=i4UkQwpBEMk" target="_blank" rel="noopener noreferrer">発売当日（10/27）</a>
                            （<a href="https://twitter.com/entergram_info/status/1585466364906852352" target="_blank" rel="noopener noreferrer">告知ツイート</a>）<br>
                            <br>
                            対象店舗で立て看板設置(<a href="http://www.entergram.co.jp/aquarium/special/20220810storelist.html" target="_blank" rel="noopener noreferrer">設置店舗</a>)
                        </p>
                        <p>
                            ホロメン実況：
                            <a href="https://www.youtube.com/watch?v=6NkqlYJTW94" target="_blank" rel="noopener noreferrer">兎田ぺこら</a>
                            <a href="https://www.youtube.com/watch?v=k_mVdmgsN9A" target="_blank" rel="noopener noreferrer">博衣こより</a>
                            <a href="https://www.youtube.com/watch?v=ej7JAuF0IM0" target="_blank" rel="noopener noreferrer">沙花叉クロヱ</a><br>
                            大空スバル <a href="https://www.youtube.com/watch?v=den-Hn1szMA" target="_blank" rel="noopener noreferrer">1</a>
                            <a href="https://www.youtube.com/watch?v=GS8hzC-yXYg" target="_blank" rel="noopener noreferrer">2</a>
                            尾丸ポルカ <a href="https://www.youtube.com/watch?v=k_1ET38Os0k" target="_blank" rel="noopener noreferrer">1</a>
                            <a href="https://www.youtube.com/watch?v=8fsPNnOXDqQ" target="_blank" rel="noopener noreferrer">2</a>
                            <a href="https://www.youtube.com/watch?v=wUnxHkP3PnY" target="_blank" rel="noopener noreferrer">紫咲シオン</a>
                            <a href="https://www.youtube.com/watch?v=qSKCLILrM0s" target="_blank" rel="noopener noreferrer">夜空メル</a>
                        </p>
                    </li>
                    <li>・レッドブル
                        <p>
                            レッドブルコラム<br>
                            <a href="https://www.redbull.com/jp-ja/minato-aqua-column-001" target="_blank" rel="noopener noreferrer">Vol1（5/1）</a>　
                            <a href="https://www.redbull.com/jp-ja/minato-aqua-column-002" target="_blank" rel="noopener noreferrer">Vol2（6/1）</a>　
                            <a href="https://www.redbull.com/jp-ja/minato-aqua-column-003" target="_blank" rel="noopener noreferrer">Vol3（7/4）</a>　
                            <a href="https://www.redbull.com/jp-ja/minato-aqua-column-004" target="_blank" rel="noopener noreferrer">Vol4（8/1）</a><br>
                            <a href="https://www.redbull.com/jp-ja/minato-aqua-column-005" target="_blank" rel="noopener noreferrer">Vol5（9/1）</a>　
                            <a href="https://www.redbull.com/jp-ja/minato-aqua-column-006" target="_blank" rel="noopener noreferrer">Vol6（10/3）</a>　
                            <a href="https://www.redbull.com/jp-ja/minato-aqua-column-007" target="_blank" rel="noopener noreferrer">Vol7 最終回（11/1）</a>
                        </p>
                    </li>
                    <li>・グッズ
                        <p>
                            10/25～ <a href="https://p-bandai.jp/item/item-1000182214/?nr=1" style="color:red;" target="_blank" rel="noopener noreferrer">プレミアムバンダイ ＃ホロライブサマーコレクション!! 湊あくあ</a><br>
                            <a href="https://twitter.com/Gashapon_Bandai/status/1584726949314068480" target="_blank" rel="noopener noreferrer">告知ツイート</a><br>
                            <br>
                            9/13～ フィギュア 【再販】 <a href="https://www.kotobukiya.co.jp/product/product-0000004035/" target="_blank" rel="noopener noreferrer">KOTOBUKIYA 湊あくあ</a>
                        </p>
                        <p>
                            9/27～ <a href="https://aqua2ndlive.hololivepro.com/news" target="_blank" rel="noopener noreferrer">「あくあ色 in わんだ～☆らんど♪」ライブグッズ再販</a>
                        </p>
                    </li>
                    <li>・コラボ
                        <p>
                            10/24 <a href="https://www.youtube.com/watch?v=osH8YZxFu0U" target="_blank" rel="noopener noreferrer">SAOVS PR配信</a>
                        </p>
                        <p>
                            <a href="https://www.bandai.co.jp/candy/products/2022/4549660821090000.html" target="_blank" rel="noopener noreferrer">2022年11月発売 イタジャガ ホロライブ vol.1 </a>
                        </p>
                        <p>
                            <a href="https://www.redbull.com/jp-ja/collections/virtual-ambassadors-column" target="_blank" rel="noopener noreferrer">レッドブル・バーチャル・アンバサダー<br>
                            月に1回コラム更新（月初）</a><br>
                        </p>
                    </li>
                    <li>・CD / Blu-ray
                        <p>
                            9/28 発売 Blu-ray<br>
                            <a href="https://bushiroad-music.com/musics/hoxb-10008" target="_blank" rel="noopener noreferrer">ワンマンライブ2022『あくあ色 in わんだ～☆らんど♪』</a><br>
                            <br>
                            <a href="https://www.youtube.com/watch?v=BYTP2oLr59Q" target="_blank" rel="noopener noreferrer">ライブ映像 「あくたんのこと好きすぎ☆ソング」公開</a><br>
                            <a href="https://www.youtube.com/watch?v=ugTie-8HXLw" style="color:red;" target="_blank" rel="noopener noreferrer">ライブ映像 「uni-birth」公開</a><br>
                            <br>
                            9/17～ TVCM放映（ブシロードスポンサー枠?）
                        </p>
                        <p>
                            10/26 → 11/9　<a href="https://bushiroad-music.com/musics/hoxb-10009" target="_blank" rel="noopener noreferrer">hololive 3rd fes. Link Your Wish</a>
                        </p>
                    </li>
                    <!-- li>・配信
                        <p>
                            8/27 22:00<br>
                            <a href="https://www.youtube.com/watch?v=gVP3vlN0D8o" target="_blank" rel="noopener noreferrer">「あくありうむ。」体験版 先行実況プレイ</a>（YouTube）
                        </p>
                    </li -->
                    <li>・オリジナル曲
                        <p>
                            10/20　<a href="https://www.youtube.com/watch?v=16WxRVoTAx0" target="_blank" rel="noopener noreferrer">『カシオペア』Vo.湊あくあ（「あくありうむ。」EDテーマ）</a><br>
                            8/9　<a href="https://www.youtube.com/watch?v=16WxRVoTAx0" target="_blank" rel="noopener noreferrer">『未だ、青い』（4周年記念・「あくありうむ。」主題歌）</a><br>
                            <a href="https://cover.lnk.to/StayBlue" target="_blank" rel="noopener noreferrer">配信サイト（https://cover.lnk.to/StayBlue）</a>　
                            <a href="http://www.entergram.co.jp/aquarium/special/20220808music_info.html" target="_blank" rel="noopener noreferrer">紹介ページ</a>
                        </p>
                        <p>
                            8/29 UMISEA　<a href="https://www.youtube.com/watch?v=VOFOmeHAmfk" target="_blank" rel="noopener noreferrer">「りゅーーっときてきゅーーっ!!!」</a><br>
                            <a href="https://cover.lnk.to/ICRAIGK" target="_blank" rel="noopener noreferrer">(https://cover.lnk.to/ICRAIGK)</a>
                        </p>
                    </li>
                    <li>・歌ってみた
                        <p>
                            8月29日　<a href="https://www.youtube.com/watch?v=8nCpQFvr-U4" target="_blank" rel="noopener noreferrer">「INTERNET OVERDOSE」</a>
                        </p>
                    </li>
                </ul>
                <p>
                    当サイトは爆速なサイトとして有名な「<a href="http://abehiroshi.la.coocan.jp/" target="_blank" rel="noopener noreferrer">阿部 寛のホームページ</a>」様のパロディで湊 あくあちゃんのファンサイトです。<br>
                    阿部 寛様、阿部寛のホームページ管理者様、湊あくあ様とは関係ありません。<br>
                    コードや素材の流用などもありません。<br>
                    当サイトに関わる問い合わせは上記オリジナル様には行わないようお願いします。
                </p>
            </div>
        </div>
    </div>
    <%- include(includePath+"_footer.ejs") %>
</body>
</html>