<%_ var includePath = "../include/" _%>
<% var pageData = {
    url: 'media.html',
    title: "CD・Blu-ray",
    ogimage: ""
}; %>
<%- include(includePath+"_header.ejs", pageData) %>
<body style="margin:0;padding:0;">

<%- include(includePath+"_leftmenu.ejs") %>
    <style>
        .right-main {
            background-image: url('./minatoaqua_bg_media.webp');
        }
        table, tr, td {
            border:solid 1px black;
        }
    </style>
    <div class="right-main">
        <h2 style="text-align:center;margin:0;">CD・Blu-ray</h2>
        <div style="display:flex;max-width:1000px;margin:0 auto;">
            <table style="width: 720px;margin: 16px auto;">
                <tbody>
                    <!--tr>
                        <td>

                        </td>
                        <td>
                            <br>
                            <a href="" target="_blank" rel="noopener noreferrer"></a>
                        </td>
                    </tr-->
                    <tr>
                        <td>
                            2022年10月27日
                        </td>
                        <td>
                            Switch/PS4用ゲーム「あくありうむ。」<br>
                            <br>
                            7/7～8/31 ソフマップ AKIBA 等身大アクリルパネル設置(<a href="https://twitter.com/entergram_info/status/1544954371632467969" target="_blank" rel="noopener noreferrer">告知ツイート</a>)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2022年10月26日
                        </td>
                        <td>
                            <a href="https://bushiroad-music.com/musics/hoxb-10009" target="_blank" rel="noopener noreferrer">hololive 3rd fes. Link Your Wish</a><br>
                            特典：特製三方背収納ケース<br>
                            封入特典：特製フォトブックレット<br>
                            先着購入特典：hololive 3rd fes. Link Your Wish Special Desktop Calender 2023<br>
                            全力応援店先着特典：特製A3クリアポスター
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2022年9月28日
                        </td>
                        <td>
                            <a href="https://bushiroad-music.com/musics/hoxb-10008" target="_blank" rel="noopener noreferrer">湊あくあ ワンマンライブ2022「あくあ色 in わんだ～☆らんど♪」Blu-ray</a><br>
                            メーカー特典：A4サイズ特製ペーパースタンド<br>
                            応援店先着特典：特製A3クリアポスター<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000736.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a><br>
                            9/27～10/10 <a href="https://tower.jp/article/feature_item/2022/09/09/0703" target="_blank" rel="noopener noreferrer">「湊あくあ×TOWER RECORDS」キャンペーン</a>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            2022年8月31日
                        </td>
                        <td>
                            <a href="https://shop.hololivepro.com/products/hololive_summer2022_minialbum" target="_blank" rel="noopener noreferrer">hololive IDOL PROJECT ミニアルバム『ホロライブ・サマー2022』</a>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            2022年8月13日
                        </td>
                        <td>
                            <a href="https://honeyworks.jp/news/8555/" target="_blank" rel="noopener noreferrer">HoneyWorks 同人CD「告白実行委員会 -FLYING SONGS- 恋してる」</a><br>
                            <a href="https://www.youtube.com/watch?v=j08N71wwxuk" target="_blank" rel="noopener noreferrer">クロスフェード</a>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            2022年1月28日
                        </td>
                        <td>
                            <a href="https://shop.hololivepro.com/products/minatoaqua_aquatimeselect" target="_blank" rel="noopener noreferrer">湊あくあ1stEP『♡あくあたいむ・せれくと♡』</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2021年12月8日
                        </td>
                        <td>
                            <a href="https://bonanza-base.com/shop/ywshop" target="_blank" rel="noopener noreferrer">e-ma e-maプロジェクト『e-ma e-ma』+ 湊あくあ Ver.</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2021年9月1日
                        </td>
                        <td>
                            「NEGI☆U」の1stシングル「つまりはいつもくじけない！」リリース<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000435.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2021年8月25日
                        </td>
                        <td>
                            <a href="https://bushiroad-music.com/musics/hoxb-10003" target="_blank" rel="noopener noreferrer">「hololive IDOL PROJECT 1st Live.『Bloom,』」Blu-ray 発売</a><br>
                            <a href="https://prtimes.jp/main/html/rd/p/000004156.000014827.html" target="_blank" rel="noopener noreferrer">PR Times</a>　
                            <a href="https://prtimes.jp/main/html/rd/p/000004702.000014827.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2021年7月28日
                        </td>
                        <td>
                            <a href="https://bushiroad-music.com/musics/hoxb-10001" target="_blank" rel="noopener noreferrer">「hololive 1st fes. 『ノンストップ・ストーリー』」Blu-ray 発売</a><br>
                            <a href="https://prtimes.jp/main/html/rd/p/000004156.000014827.html" target="_blank" rel="noopener noreferrer">PR Times</a>　
                            <a href="https://prtimes.jp/main/html/rd/p/000004597.000014827.html" target="_blank" rel="noopener noreferrer">PR Times</a>　
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2021年6月23日
                        </td>
                        <td>
                            <a href="https://bushiroad-music.com/musics/hoxb-10002" target="_blank" rel="noopener noreferrer">「hololive 2nd fes. Beyond the Stage」Blu-ray 発売</a><br>
                            <a href="https://prtimes.jp/main/html/rd/p/000004156.000014827.html" target="_blank" rel="noopener noreferrer">PR Times</a>　
                            <a href="https://prtimes.jp/main/html/rd/p/000000445.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2021年6月4日
                        </td>
                        <td>
                            <a href="https://bonanza-base.com/shop/ywshop" target="_blank" rel="noopener noreferrer">『e-ma e-ma』CD</a>
                        </td>
                    </tr>
                    <tr>
                        <td>2021年4月21日</td>
                        <td>
                            『hololive IDOL PROJECT』<br>
                            初の全国流通フルアルバム『Bouquet』販売開始<br>
                            <a href="https://prtimes.jp/main/html/rd/p/000000372.000030268.html" target="_blank" rel="noopener noreferrer">PR Times</a>
                        </td>
                    </tr>
                    <tr>
                        <td>2020年10月14日</td>
                        <td>
                            スパイスラブ「カレーメシ・イン・ミラクル」CD<br>
                            数量限定（5000）日清カレーメシホロライブ特別BOXセット付属<br>
                            <a href="https://twitter.com/currymeshikun/status/1316181982024404992" target="_blank" rel="noopener noreferrer">告知ツイート</a>
                        </td>
                    </tr>

                    <tr>
                        <td>2020年7月24日</td>
                        <td>
                            BOOTH限定販売 2020年7月16日先行予約受付開始<br>
                            追加生産分 2020年7月24日～2020年7月31日<br>
                            <a href="https://hololive.booth.pm/items/2166945" target="_blank" rel="noopener noreferrer">hololive 1st fes.「ノンストップ・ストーリー」Blu-ray DISC</a>
                        </td>
                    </tr>
                    <!--tr>
                        <td>年月日公開</td>
                        <td><a href="" target="_blank" rel="noopener noreferrer">「」</a></td>
                        <td></td>
                    </tr-->
                </tbody>
            </table>
        </div>
    </div>
    <%- include(includePath+"_footer.ejs") %>
</body>
</html>