<%_ var includePath = "../include/" _%>
<% var pageData = {
    url: 'music.html',
    title: "オリジナル曲",
    ogimage: ""
}; %>
<%- include(includePath+"_header.ejs", pageData) %>
<body style="margin:0;padding:0;">

<%- include(includePath+"_leftmenu.ejs") %>
    <style>
        .right-main {
            background-image: url('./minatoaqua_bg_music.webp');
        }
        table, tr, td {
            border:solid 1px black;
        }
    </style>
    <div class="right-main">
        <h2 style="text-align:center;margin:0;">オリジナル曲</h2>
        <div style="display:flex;max-width:1000px;margin:0 auto;">
            <table style="margin: 16px auto;">
                <tbody>
                    <tr>
                        <td>
                            2020年8月21日発表<br>
                            2020年8月22日配信開始<br>
                            2020年12月1日MV公開
                        </td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=6bnaBnd4kyU" target="_blank" rel="noopener noreferrer">「#あくあ色ぱれっと」1st original song</a><br>
                            <br>
                            <a href="https://aqua.streamlink.to/palette" target="_blank" rel="noopener noreferrer">配信サイト(https://aqua.streamlink.to/palette)</a>
                        </td>
                        <td>
                            湊あくあ アニバーサリーライブ2020<br>
                            あくあ色すーぱー☆どり～む♪
                        </td>
                    </tr>

                    <tr>
                        <td>
                            2021年9月26日配信開始
                        </td>
                        <td>
                            「aqua iro palette」<br>
                            <br>
                            <a href="https://cover.lnk.to/aquairopalette" target="_blank" rel="noopener noreferrer">配信サイト(https://cover.lnk.to/aquairopalette)</a>
                        </td>
                        <td>「#あくあ色ぱれっと」英語版</td>
                    </tr>
                    <tr>
                        <td>
                            2022年8月9日配信開始<br>
                            2022年8月9日12時<br>
                            OPMV公開
                        </td>
                        <td>
                            「未だ、青い」<br>
                            <br>
                            <a href="https://cover.lnk.to/StayBlue" target="_blank" rel="noopener noreferrer">配信サイト(https://cover.lnk.to/StayBlue)</a>
                        </td>
                        <td>
                            4周年記念<br>
                            「あくありうむ。」主題歌
                        </td>
                    </tr>

                    <tr>
                        <td>
                            2022年1月28日発表<br>
                            2022年1月29日配信開始<br>
                            2022年2月18日MV公開
                        </td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=swX1O_a_vAk" target="_blank" rel="noopener noreferrer">「あいわな」7th single</a><br>
                            <br>
                            <a href="https://cover.lnk.to/Iwanna" target="_blank" rel="noopener noreferrer">配信サイト(https://cover.lnk.to/Iwanna)</a>
                        </td>
                        <td>
                            湊あくあ ワンマンライブ2022<br>
                            「あくあ色 in わんだ～☆らんど♪」
                        </td>
                    </tr>

                    <tr>
                        <td>
                            2022年1月23日公開<br>
                            2022年1月24日配信開始
                        </td>
                        <td>
                            「For The Win (2022 ver.)」<br>
                            <br>
                            <a href="https://cover.lnk.to/aqutan" target="_blank" rel="noopener noreferrer">配信サイト(https://cover.lnk.to/aqutan)</a>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            2022年1月23日発表<br>
                            2022年1月24日配信開始
                        </td>
                        <td>
                            「あくたんのこと好きすぎ☆ソング」<br>
                            <br>
                            <a href="https://cover.lnk.to/aqutan" target="_blank" rel="noopener noreferrer">配信サイト(https://cover.lnk.to/aqutan)</a>
                        </td>
                        <td><a href="https://www.youtube.com/watch?v=tqeEX-bvHMc&t=2595s" target="_blank" rel="noopener noreferrer">お知らせ配信内にて発表</a></td>
                    </tr>

                    <tr>
                        <td>
                            2021年12月1日発表<br>
                            2021年12月2日配信開始
                        </td>
                        <td>
                            「uni-birth」<br>
                            <br>
                            <a href="https://cover.lnk.to/uni-birth" target="_blank" rel="noopener noreferrer">配信サイト(https://cover.lnk.to/uni-birth)</a>
                        </td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=s_6FlkJS3ew&t=2213s" target="_blank" rel="noopener noreferrer">誕生日カウントダウン配信内にて発表</a>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            2021年11月8日発表<br>
                            2021年11月9日配信開始<br>
                            2021年12月1日MV公開
                        </td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=fXeM0fXvOp8" target="_blank" rel="noopener noreferrer">「きらきら」4th single</a><br>
                            <br>
                            <a href="https://cover.lnk.to/kirakira" target="_blank" rel="noopener noreferrer">配信サイト(https://cover.lnk.to/kirakira)</a>
                        </td>
                        <td><a href="https://www.youtube.com/watch?v=0kGVDYAKcGc" target="_blank" rel="noopener noreferrer">3DLIVE 重大発表にて発表</a></td>
                    </tr>

                    <tr>
                        <td>
                            2021年8月9日公開<br>
                            2021年8月9日MV公開
                        </td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=tuWw5EQPGlc" target="_blank" rel="noopener noreferrer">「海想列車」3rd single</a><br>
                            <br>
                            <a href="https://aqua.streamlink.to/KAISOU" target="_blank" rel="noopener noreferrer">配信サイト(https://aqua.streamlink.to/KAISOU)</a>
                        </td>
                        <td>あくあ色 3rd Anniversary Live</td>
                    </tr>

                    <tr>
                        <td>
                            2021年7月15日MV公開
                        </td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=gP8iNSq6Kwc" target="_blank" rel="noopener noreferrer">「ヨーコソ！Sweet Carnival！」</a>
                        </td>
                        <td>
                            「よこすか海のアニメカーニバル」<br>
                            テーマソング
                        </td>
                    </tr>

                    <tr>
                        <td>2020年10月26日公開</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=CZGFm-O5IOU" target="_blank" rel="noopener noreferrer">「For The Win」</a>
                        </td>
                        <td></td>
                    </tr>



                    <!--tr>
                        <td>年月日公開</td>
                        <td><a href="" target="_blank" rel="noopener noreferrer">「」</a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>年月日公開</td>
                        <td><a href="" target="_blank" rel="noopener noreferrer">「」</a></td>
                        <td></td>
                    </tr-->
                </tbody>
            </table>
        </div>
        <h2 style="text-align:center;margin:0;">ユニット等参加曲</h2>
        <div style="display:flex;max-width:1000px;margin:0 auto;">
            <table style="margin: 16px auto;">
                <tbody>
                    <tr>
                        <td>
                            2022年6月1日配信開始<br>
                            2022年7月20日MV公開
                        </td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=WCJ22SU5sBs" target="_blank" rel="noopener noreferrer">「よくばりキュートガール」</a><br>
                            <br>
                            <a href="https://cover.lnk.to/PANAIUTA" target="_blank" rel="noopener noreferrer">配信サイト(https://cover.lnk.to/PANAIUTA)</a>
                        </td>
                        <td>
                            NEGI☆U
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2022年3月27日発表(<a href="https://www.tiktok.com/@hololive_official/video/7079702290592025857" target="_blank" rel="noopener noreferrer">TikTok Short</a>)<br>
                            2022年6月1日配信開始
                        </td>
                        <td>
                            「ナンデダメナン？」<br>
                            <br>
                            <a href="https://cover.lnk.to/PANAIUTA" target="_blank" rel="noopener noreferrer">配信サイト(https://cover.lnk.to/PANAIUTA)</a>
                        </td>
                        <td>
                            NEGI☆U
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2021年12月26日発表(<a href="https://www.tiktok.com/@hololive_official/video/7045933416570719489" target="_blank" rel="noopener noreferrer">TikTok Short</a>)<br>
                            2022年6月1日配信開始
                        </td>
                        <td>
                            「ドヤっとVピース☆」<br>
                            <br>
                            <a href="https://cover.lnk.to/PANAIUTA" target="_blank" rel="noopener noreferrer">配信サイト(https://cover.lnk.to/PANAIUTA)</a>
                        </td>
                        <td>
                            NEGI☆U
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2022年2月6日発表(<a href="https://www.tiktok.com/@hololive_official/video/7061519325282307329" target="_blank" rel="noopener noreferrer">TikTok Short</a>)<br>
                            2022年5月26日先行配信開始<br>
                            2022年5月29日MV公開<br>
                            (6月3日修正版再公開)
                        </td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=zxTarx9eJAM" target="_blank" rel="noopener noreferrer">「PANIGHT」</a><br>
                            <br>
                            <a href="https://cover.lnk.to/PANAIUTA" target="_blank" rel="noopener noreferrer">配信サイト(https://cover.lnk.to/PANAIUTA)</a>
                        </td>
                        <td>
                            NEGI☆U
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2022年3月13日配信開始
                        </td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=1fX6qYFXemY" target="_blank" rel="noopener noreferrer">「Prism Melody」</a><br>
                            <br>
                            <a href="https://cover.lnk.to/PrismMelody" target="_blank" rel="noopener noreferrer">配信サイト(https://cover.lnk.to/PrismMelody)</a>
                        </td>
                        <td>
                            hololive IDOL PROJECT<br>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            2021年11月17日動画公開
                        </td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=7afoD1ZBn3I" target="_blank" rel="noopener noreferrer">「あくあ色ぱれっと-TEKINA//remix-」</a><br>
                            <br>
                            <a href="https://cover.lnk.to/TEKINAremix" target="_blank" rel="noopener noreferrer">配信サイト(https://cover.lnk.to/TEKINAremix)</a>
                        </td>
                        <td>
                            #holo_remix
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2021年9月19日配信開始<br>
                            2021年9月19日MV公開
                        </td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=MKEb-Ox1KEw" target="_blank" rel="noopener noreferrer">「浸食!! 地球全域全おーしゃん」</a><br>
                            <br>
                            <a href="https://cover.lnk.to/UMISEA/" target="_blank" rel="noopener noreferrer">配信サイト(https://cover.lnk.to/UMISEA/)</a>
                        </td>
                        <td>
                            UMISEA<br>
                            （湊あくあ、宝鐘マリン、<br>
                            一伊那尓栖、がうる・ぐら）
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2021年7月11日発表<br>
                            2021年8月1日配信開始<br>
                            2021年9月1日CD RELEASE
                        </td>
                        <td>
                            「めいくあっぷとぅるぅ！ 」<br>
                            <br>
                            <a href="https://linkco.re/m4dnXhHd" target="_blank" rel="noopener noreferrer">配信サイト(https://linkco.re/m4dnXhHd)</a>
                        </td>
                        <td>
                            NEGI☆U
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2021年7月11日発表（ワンコーラス）<br>
                            2021年8月1日配信開始<br>
                            2021年9月1日CD RELEASE
                        </td>
                        <td>
                            「つまりはいつもくじけない！」<br>
                            <br>
                            <a href="https://linkco.re/m4dnXhHd" target="_blank" rel="noopener noreferrer">配信サイト(https://linkco.re/m4dnXhHd)</a>
                        </td>
                        <td>
                            NEGI☆U
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2021年4月21日配信開始
                        </td>
                        <td>
                            「大切フォトグラフ」<br>
                            <br>
                            <a href="https://hip.streamlink.to/BouquetCD" target="_blank" rel="noopener noreferrer">配信サイト(https://hip.streamlink.to/BouquetCD)</a>
                        </td>
                        <td>
                            hololive IDOL PROJECT<br>
                            白上フブキ、湊あくあ、宝鐘マリン、<br>
                            天音かなた、桃鈴ねね
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2021年2月19日配信開始<br>
                            2021年2月18日ショートMV公開
                        </td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=UYyzAlbcw8w" target="_blank" rel="noopener noreferrer">「あすいろClearSky」</a><br>
                            <br>
                            <a href="https://hip.streamlink.to/AsuiroClearSky" target="_blank" rel="noopener noreferrer">配信サイト(https://hip.streamlink.to/AsuiroClearSky)</a>
                        </td>
                        <td>
                            hololive IDOL PROJECT<br>
                            ロボ子さん、夜空メル、<br>
                            アキ・ローゼンタール、<br>
                            夏色まつり、湊あくあ、大神ミオ、<br>
                            さくらみこ、不知火フレア、常闇トワ
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2021年1月14日配信開始<br>
                            2021年1月13日試聴PV公開
                        </td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=Ciq_CDwmICU" target="_blank" rel="noopener noreferrer">「Candy-Go-Round」</a><br>
                            <br>
                            <a href="https://hip.streamlink.to/CandyGoRound" target="_blank" rel="noopener noreferrer">配信サイト(https://hip.streamlink.to/CandyGoRound)</a>
                        </td>
                        <td>
                            hololive IDOL PROJECT<br>
                            ロボ子さん、夜空メル、<br>
                            アキ・ローゼンタール、<br>
                            湊あくあ、不知火フレア
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2020年12月18日配信開始
                        </td>
                        <td>
                            「Hacha-Mecha ミラクル」<br>
                            <br>
                            <a href="https://streamlink.to/hacha" target="_blank" rel="noopener noreferrer">配信サイト(https://streamlink.to/hacha)</a>
                        </td>
                        <td>
                            湊あくあ・大空スバル・兎田ぺこら<br>
                            （スパイスラブ）
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2020年10月11日リリックビデオ公開
                        </td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=3QJD9iekpDQ" target="_blank" rel="noopener noreferrer">「カレーメシ・イン・ミラクル」</a>
                        </td>
                        <td>
                            スパイスラブ
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2020年2月24日配信開始<br>
                            2020年2月24日試聴PV公開
                        </td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=0o3VrBLh8jI" target="_blank" rel="noopener noreferrer">「キラメキライダー☆」</a><br>
                            <br>
                            <a href="https://hip.streamlink.to/KiramekiRider" target="_blank" rel="noopener noreferrer">配信サイト(https://hip.streamlink.to/KiramekiRider)</a>
                        </td>
                        <td>
                            hololive IDOL PROJECT<br>
                            ときのそ、ロボ⼦さん、⽩上フブキ、<br>
                            湊あくあ、⽩銀ノエル
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2019年9月16日配信開始<br>
                            2020年1月10日試聴MV公開
                        </td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=68KV7JnrvDo" target="_blank" rel="noopener noreferrer">「Shiny Smily Story」</a><br>
                            <br>
                            <a href="https://hip.streamlink.to/ShinySmilyStory" target="_blank" rel="noopener noreferrer">配信サイト(https://hip.streamlink.to/ShinySmilyStory)</a>
                        </td>
                        <td>
                            hololive IDOL PROJECT
                        </td>
                    </tr>

                    <!--tr>
                        <td>年月日公開</td>
                        <td><a href="" target="_blank" rel="noopener noreferrer">「」</a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>年月日公開</td>
                        <td><a href="" target="_blank" rel="noopener noreferrer">「」</a></td>
                        <td></td>
                    </tr-->
                </tbody>
            </table>
        </div>

    </div>
    <%- include(includePath+"_footer.ejs") %>
</body>
</html>