<%_ var includePath = "../include/" _%>
<% var pageData = {
    url: 'profile.html',
    title: "プロフィール",
    ogimage: ""
}; %>
<%- include(includePath+"_header.ejs", pageData) %>
<body style="margin:0;padding:0;">

<%- include(includePath+"_leftmenu.ejs") %>
    <style>
        .right-main {
            background-image: url('./minatoaqua_bg_profile.webp');
        }
        table, tr, td, th {
            border:solid 1px black;
        }
    </style>
    <div class="right-main">
        <h2 style="text-align:center;margin:0;">プロフィール</h2>
        <div style="max-width:1000px;margin:0 auto;">
            <table style="width: 720px;margin: 16px auto;">
                <tbody>
                    <tr>
                        <th>誕生日</th>
                        <td>12月1日</td>
                    </tr>
                    <tr>
                        <th>初配信日</th>
                        <td>2018年8月8日</td>
                    </tr>
                    <tr>
                        <th>初配信日</th>
                        <td>2024年8月28日</td>
                    </tr>
                    <tr>
                        <th>身長</th>
                        <td>148cm</td>
                    </tr>
                    <tr>
                        <th>ユニット</th>
                        <td>ホロライブ2期生</td>
                    </tr>
                    <tr>
                        <th>ファンネーム</th>
                        <td>あくあクルー</td>
                    </tr>
                    <tr>
                        <th>イラストレーター</th>
                        <td><a href="https://twitter.com/umaiyo_puyoman" target="_blank" rel="noopener noreferrer">がおう@umaiyo_puyoman</a></td>
                    </tr>
                    <tr>
                        <th>ハッシュタグ</th>
                        <td>
                            配信タグ：<a href="https://twitter.com/search?q=%23%E6%B9%8A%E3%81%82%E3%81%8F%E3%81%82%E7%94%9F%E6%94%BE%E9%80%81" target="_blank" rel="noopener noreferrer">#湊あくあ生放送</a><br>
                            ファンアート：<a href="https://twitter.com/search?q=%23%E3%81%82%E3%81%8F%E3%81%82%E3%83%BC%E3%81%A8" target="_blank" rel="noopener noreferrer">#あくあーと</a>
                        </td>
                    </tr>
                    <tr>
                        <th>好きなもの</th>
                        <td>アニメ、漫画、オムライス</td>
                    </tr>
                    <tr>
                        <th>公式プロフィール</th>
                        <td><a href="https://hololive.hololivepro.com/talents/minato-aqua/" target="_blank" rel="noopener noreferrer">https://hololive.hololivepro.com/talents/minato-aqua/</a></td>
                    </tr>
                    <!--tr>
                        <td>年月日公開</td>
                        <td><a href="" target="_blank" rel="noopener noreferrer">「」</a></td>
                        <td></td>
                    </tr-->
                </tbody>
            </table>

        </div>
    </div>
    <%- include(includePath+"_footer.ejs") %>
</body>
</html>