<!DOCTYPE html>
<html lang="ja">
<%_ var includePath = "../include/" _%>
<%- include(includePath+"_header.ejs") %>
<body style="margin:0;padding:0;">

<%- include(includePath+"_leftmenu.ejs") %>
    <style>
        .right-main {
            background-image: url('./minatoaqua_bg.webp');
        }
        table, tr, td {
            border:solid 1px black;
        }
    </style>
    <div class="right-main">
        <h2 style="text-align:center;margin:0;">歌ってみた</h2>
        <div style="display:flex;max-width:1000px;margin:0 auto;">
            <table style="margin: 16px auto;">
                <tbody>
                    <tr>
                        <td>2022年7月18日公開</td>
                        <td><a href="https://www.youtube.com/watch?v=XPbFLEloZnQ" target="_blank" rel="noopener noreferrer">「ディスコミュ星人」</a></td>
                        <td>メンバー限定</td>
                    </tr>
                    <tr>
                        <td>2022年6月19日公開</td>
                        <td><a href="https://www.youtube.com/watch?v=ytcMLL-pjzQ" target="_blank" rel="noopener noreferrer">「ナイショの話」【神楽めあ/湊あくあ】</a></td>
                        <td>コラボ</td>
                    </tr>
                    <tr>
                        <td>2022年6月10日公開</td>
                        <td><a href="https://www.youtube.com/watch?v=eAk9Vn4psQI" target="_blank" rel="noopener noreferrer">「ぎゅっと。」</a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>2022年6月3日公開</td>
                        <td><a href="https://www.youtube.com/watch?v=zCGJYUi24kM" target="_blank" rel="noopener noreferrer">「おねがいダーリン」</a></td>
                        <td>メンバー限定</td>
                    </tr>
                    <tr>
                        <td>2022年4月16日公開</td>
                        <td><a href="https://www.youtube.com/watch?v=XpgSrULHibg" target="_blank" rel="noopener noreferrer">「アスノヨゾラ哨戒班」</a></td>
                        <td>Startend コラボ</td>
                    </tr>
                    <tr>
                        <td>2022年3月27日公開</td>
                        <td><a href="https://www.youtube.com/watch?v=0oMT_6Zu4a4" target="_blank" rel="noopener noreferrer">「ねぇねぇねぇ。」【紫咲シオン/湊あくあ】</a></td>
                        <td>コラボ</td>
                    </tr>
                    <tr>
                        <td>2022年3月23日公開</td>
                        <td><a href="https://www.youtube.com/watch?v=AUP3OI9Yhmc" target="_blank" rel="noopener noreferrer">「点描の唄」【湊あくあ/猫又おかゆ】</a></td>
                        <td>コラボ</td>
                    </tr>
                    <tr>
                        <td>2022年2月9日公開</td>
                        <td><a href="https://www.youtube.com/watch?v=E6LWLQjgynE" target="_blank" rel="noopener noreferrer">「神っぽいな」【湊あくあ/天音かなた】</a></td>
                        <td>コラボ</td>
                    </tr>
                    <tr>
                        <td>2021年12月21日公開</td>
                        <td><a href="https://www.youtube.com/watch?v=2pYaIr-4pfA" target="_blank" rel="noopener noreferrer">「誇り高きアイドル」</a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>2021年10月3日公開</td>
                        <td><a href="https://www.youtube.com/watch?v=6Wbto57VKWk" target="_blank" rel="noopener noreferrer">「うまぴょい伝説」<br>【湊あくあ/白上フブキ/大神ミオ/宝鐘マリン/潤羽るしあ/天音かなた】</a></td>
                        <td>コラボ</td>
                    </tr>
                    <tr>
                        <td>2021年9月16日公開</td>
                        <td><a href="https://www.youtube.com/watch?v=uBS7xpLWSNM" target="_blank" rel="noopener noreferrer">「シンデレラ」</a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>2021年9月5日公開</td>
                        <td><a href="https://www.youtube.com/watch?v=j7pM4M9tO70" target="_blank" rel="noopener noreferrer">「メンヘラじゃないもん」【湊あくあ/紫咲シオン】</a></td>
                        <td>コラボ</td>
                    </tr>
                    <tr>
                        <td>2021年6月12日公開</td>
                        <td><a href="https://www.youtube.com/watch?v=rbPa0Qp3zJQ" target="_blank" rel="noopener noreferrer">「ヴァンパイア」</a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>2021年5月9日公開</td>
                        <td><a href="https://www.youtube.com/watch?v=Snn2gWq-3KY" target="_blank" rel="noopener noreferrer">「Nyan Cat」</a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>2021年4月30日公開</td>
                        <td><a href="https://www.youtube.com/watch?v=4N_HwrzWCac" target="_blank" rel="noopener noreferrer">「グッバイ宣言」</a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>2021年2月20日公開</td>
                        <td><a href="https://www.youtube.com/watch?v=0BBZs5rZktc" target="_blank" rel="noopener noreferrer">「e-ma e-ma」</a></td>
                        <td>UHA味覚糖 コラボ</td>
                    </tr>
                    <tr>
                        <td>2021年1月8日公開</td>
                        <td><a href="https://www.youtube.com/watch?v=mZ0sJQC8qkE" target="_blank" rel="noopener noreferrer">「ホロライブ言えるかな？ Beyond the Stage ver.」</a></td>
                        <td>ホロライブ公式</td>
                    </tr>
                    <tr>
                        <td>2020年12月8日公開</td>
                        <td><a href="https://www.youtube.com/watch?v=SoSuMVviNaU" target="_blank" rel="noopener noreferrer">「おこちゃま戦争」【紫咲シオン/湊あくあ】</a></td>
                        <td>コラボ</td>
                    </tr>
                    <tr>
                        <td>2020年9月27日公開</td>
                        <td><a href="https://www.youtube.com/watch?v=0OtNQEpSeIA" target="_blank" rel="noopener noreferrer">「チューリングラブ」【湊あくあ/猫又おかゆ】</a></td>
                        <td>コラボ</td>
                    </tr>
                    <tr>
                        <td>2020年8月9日公開</td>
                        <td><a href="https://www.youtube.com/watch?v=UXUn_ZqeM4Q" target="_blank" rel="noopener noreferrer">「ワンルームシュガーライフ」</a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>2020年4月6日公開</td>
                        <td><a href="https://www.youtube.com/watch?v=9kQ2GtvDV3s" target="_blank" rel="noopener noreferrer">「おちゃめ機能」【ホロライブ24名】</a></td>
                        <td>ホロライブ公式</td>
                    </tr>
                    <tr>
                        <td>2020年1月14日公開</td>
                        <td><a href="https://www.youtube.com/watch?v=m1mbRCgWO90" target="_blank" rel="noopener noreferrer">「ガヴリールドロップキック」<br>【犬山たまき/神楽めあ/湊あくあ/白上フブキ】</a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>2019年12月25日公開</td>
                        <td><a href="https://www.youtube.com/watch?v=rZURT15BljE" target="_blank" rel="noopener noreferrer">「おおかみは赤ずきんに恋をした」【神楽めあ/湊あくあ】</a></td>
                        <td>コラボ</td>
                    </tr>
                    <tr>
                        <td>2019年12月8日公開</td>
                        <td><a href="https://www.youtube.com/watch?v=0fTmEfBvp50" target="_blank" rel="noopener noreferrer">「Ubiquitous dB」</a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>2019年11月15日公開</td>
                        <td><a href="https://www.youtube.com/watch?v=KdsFfcBknxM" target="_blank" rel="noopener noreferrer">「お願いマッスル」【犬山たまき/湊あくあ】</a></td>
                        <td>コラボ</td>
                    </tr>
                    <tr>
                        <td>2019年9月8日公開</td>
                        <td><a href="https://www.youtube.com/watch?v=O-SXhtYjprc" target="_blank" rel="noopener noreferrer">「お願いマッスル」【ホロライブ17名】</a></td>
                        <td>ホロライブ公式</td>
                    </tr>
                    <tr>
                        <td>2019年8月17日公開</td>
                        <td><a href="https://www.youtube.com/watch?v=O8v5S1nhKzo" target="_blank" rel="noopener noreferrer">「ダダダダ天使」</a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>2019年4月26日公開</td>
                        <td><a href="https://www.youtube.com/watch?v=yS2rcvR6tFI" target="_blank" rel="noopener noreferrer">「クノイチでも恋がしたい」【神楽めあ/湊あくあ】</a></td>
                        <td>コラボ</td>
                    </tr>
                    <tr>
                        <td>2019年2月14日公開</td>
                        <td><a href="https://www.youtube.com/watch?v=-aB6MQU8l1s" target="_blank" rel="noopener noreferrer">「インドア系ならトラックメイカー」</a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>2018年11月26日公開</td>
                        <td><a href="https://www.youtube.com/watch?v=PqY1-Zsy5vo" target="_blank" rel="noopener noreferrer">「Blessing」【LOL部】</a></td>
                        <td>コラボ</td>
                    </tr>
                    <!--tr>
                        <td>年月日公開</td>
                        <td><a href="" target="_blank" rel="noopener noreferrer">「」</a></td>
                        <td></td>
                    </tr-->
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>