<!DOCTYPE html>
<html lang="ja">
<%_ var includePath = "../include/" _%>
<%- include(includePath+"_header.ejs") %>
<body style="margin:0;padding:0;">

<%- include(includePath+"_leftmenu.ejs") %>
    <style>
        .right-main {
            background-image: url('./minatoaqua_bg_stage.webp');
        }
        table, tr, td {
            border:solid 1px black;
        }
    </style>
    <div class="right-main">
        <h2 style="text-align:center;margin:0;">ライブ・ステージ</h2>
        <div style="display:flex;max-width:1000px;margin:0 auto;">
            <table style="margin: 16px auto;">
                <tbody>
                    <tr>
                        <td>2022年8月11日予定</td>
                        <td>4周年記念ライブ</td>
                        <td>オンライン(YouTube)</td>
                    </tr>
                    <tr>
                        <td>2022年8月26日予定</td>
                        <td><a href="https://prtimes.jp/main/html/rd/p/000000739.000030268.html" target="_blank" rel="noopener noreferrer">「Animelo Summer Live 2022 -Sparkle-」スペシャルオープニングアクト</a></td>
                        <td>埼玉スーパーアリーナ</td>
                    </tr>
                    <tr>
                        <td>2022年6月11日</td>
                        <td><a href="https://www.v-carnival.jp/" target="_blank" rel="noopener noreferrer">「V-Carnival VOL.2」Day1 出演</a></td>
                        <td>オンライン</td>
                    </tr>
                    <tr>
                        <td>2022年6月5日</td>
                        <td><a href="https://www.youtube.com/watch?v=FWXAnb08CPg" target="_blank" rel="noopener noreferrer">【新曲あり！？】hololive IDOL PROJECTユニット初集合LIVE！</a></td>
                        <td>
                            YouTube
                        </td>
                    </tr>
                    <tr>
                        <td>2022年3月20日</td>
                        <td><a href="https://hololivesuperexpo.hololivepro.com/" target="_blank" rel="noopener noreferrer">「hololive 3rd fes. Link Your Wish Supported By ヴァイスシュヴァルツ」DAY2 出演</a></td>
                        <td>
                            幕張メッセ<br>
                            オンライン(SPWN、ニコニコ)
                        </td>
                    </tr>
                    <tr>
                        <td>2022年3月2日</td>
                        <td><a href="https://www.youtube.com/watch?v=czfjbNitJ4M" target="_blank" rel="noopener noreferrer">【 3DLIVE 】ねねが主役！！！！！ #桃鈴ねね誕生日2022【 桃鈴ねね / ホロライブ 】</a></td>
                        <td>
                            YouTube
                        </td>
                    </tr>
                    <tr>
                        <td>2022年2月22日</td>
                        <td><a href="https://www.youtube.com/watch?v=epPYcIwJ5aQ" target="_blank" rel="noopener noreferrer">【#猫又おかゆ生誕ライブ2022】歌って踊ってみんな！楽しんでって！✨：OKAYU Birthday Live🎉【ホロライブ】</a></td>
                        <td>
                            YouTube
                        </td>
                    </tr>
                    <tr>
                        <td>2022年2月19日</td>
                        <td><a href="#" target="_blank" rel="noopener noreferrer">「湊あくあ SEASIDE AQUA FES」</a></td>
                        <td>オンライン(日清 POWER STATION[REBOOT])</td>
                    </tr>
                    <tr>
                        <td>2022年1月30日</td>
                        <td><a href="https://www.youtube.com/watch?v=ywvR52V7HiI" target="_blank" rel="noopener noreferrer">【#尾丸ポルカ生誕祭】ポルカプロデュース!最強アイドルグループ3DLIVE!</a></td>
                        <td>
                            YouTube
                        </td>
                    </tr>
                    <tr>
                        <td>2022年1月28日</td>
                        <td><a href="https://aqua2ndlive.hololivepro.com/" target="_blank" rel="noopener noreferrer">湊あくあ ワンマンライブ2022「あくあ色 in わんだ～☆らんど♪」</a></td>
                        <td>
                            豊洲PIT<br>
                            オンライン(SPWN)
                        </td>
                    </tr>
                    <tr>
                        <td>2021年9月5日</td>
                        <td><a href="https://www.youtube.com/watch?v=_xL58zG9k5k" target="_blank" rel="noopener noreferrer">【#あくシオ3Dライブ】おうたのはっぴょうかい！【ホロライブ/湊あくあ・紫咲シオン】</a></td>
                        <td>
                            YouTube<br>
                            あくシオコラボ
                        </td>
                    </tr>
                    <tr>
                        <td>2021年8月9日</td>
                        <td><a href="https://www.youtube.com/watch?v=CtOkB0YQljY" target="_blank" rel="noopener noreferrer">【#湊あくあ3周年記念 】あくあ色 3rd Anniversary Live【湊あくあ/ホロライブ】</a></td>
                        <td>
                            YouTube
                        </td>
                    </tr>
                    <tr>
                        <td>2021年5月9日</td>
                        <td><a href="https://www.youtube.com/watch?v=gf7RSwmp8dM" target="_blank" rel="noopener noreferrer">【3DLIVE】あくあ色すーぱーみらくる☆どり〜む♪【#湊あくあ3Dライブ 】</a></td>
                        <td>
                            YouTube
                        </td>
                    </tr>
                    <tr>
                        <td>2021年2月17日</td>
                        <td><a href="https://bloom.hololive.tv/" target="_blank" rel="noopener noreferrer">hololive IDOL PROJECT 1st Live.『Bloom,』 @東京ガーデンシアター</a></td>
                        <td>
                            現地(中止)<br>
                            オンライン(SPWN、ニコニコ)
                        </td>
                    </tr>
                    <tr>
                        <td>2021年1月30日</td>
                        <td><a href="https://vtuberfesjapan.jp/2021/" target="_blank" rel="noopener noreferrer">「VTuber Fes Japan 2021」DAY1 出演</a></td>
                        <td>
                            川口総合文化センター<br>
                            オンライン(ニコニコ)
                        </td>
                    </tr>
                    <tr>
                        <td>2020年12月21日</td>
                        <td><a href="https://beyondthestage.hololive.tv/" target="_blank" rel="noopener noreferrer">「hololive 2nd fes. Beyond the Stage Supported By Bushiroad」STAGE1(day1)</a></td>
                        <td>
                            オンライン(SPWN、ニコニコ)
                        </td>
                    </tr>
                    <tr>
                        <td>2020年10月18日</td>
                        <td><a href="https://www.youtube.com/watch?v=IbtmfYz_LAY" target="_blank" rel="noopener noreferrer">日清食品presents #カレーメシスパイスライブ</a></td>
                        <td>
                            YouTube
                        </td>
                    </tr>
                    <tr>
                        <td>2020年8月21日</td>
                        <td>
                            湊あくあ アニバーサリーライブ 2020 『あくあ色すーぱー☆どり～む♪』<br>
                            <a href="https://twitter.com/hololivetv/status/1312277279087587328" target="_blank" rel="noopener noreferrer">同時視聴ディレイビューイング(10/3)</a>
                        </td>
                        <td>
                            オンライン(ニコニコ、bilibili)
                        </td>
                    </tr>

                    <tr>
                        <td>2020年1月24日</td>
                        <td><a href="https://www.nonstop.hololive.tv/" target="_blank" rel="noopener noreferrer">hololive 1st fes.『ノンストップ・ストーリー』</a></td>
                        <td>
                            豊洲PIT<br>
                            オンライン(ニコニコ)
                        </td>
                    </tr>
                    <tr>
                        <td>2019年8月18日</td>
                        <td><a href="https://cluster.mu/e/421f4298-32c0-11ea-ba92-0ef3638656a6" target="_blank" rel="noopener noreferrer">「Vアニ 2019」出演</a></td>
                        <td>
                            LV(対象JOYSOUND直営店)<br>
                            オンライン(cluster)<br>
                            <a href="https://twitter.com/minatoaqua/status/1162307798069198848" target="_blank" rel="noopener noreferrer">PR動画</a><br>
                            <a href="https://twitter.com/hololivetv/status/1162559675633676289" target="_blank" rel="noopener noreferrer">リハ映像</a>
                        </td>
                    </tr>
                    <!--tr>
                        <td>年月日公開</td>
                        <td><a href="" target="_blank" rel="noopener noreferrer">「」</a></td>
                        <td></td>
                    </tr-->
                </tbody>
            </table>
        </div>
    </div>
    <%- include(includePath+"_footer.ejs") %>
</body>
</html>