<%_ var includePath = "../include/" _%>
<% var pageData = {
    url: 'stage.html',
    title: "ライブ・ステージ",
    ogimage: ""
}; %>
<%- include(includePath+"_header.ejs", pageData) %>
<body style="margin:0;padding:0;">

<%- include(includePath+"_leftmenu.ejs") %>
    <style>
        .right-main {
            background-image: url('./minatoaqua_bg_stage.webp');
        }
        table, tr, td {
            border:solid 1px black;
        }
    </style>
    <div class="right-main">
        <h2 style="text-align:center;margin:0;">ライブ・ステージ</h2>
        <div style="display:flex;max-width:1000px;margin:0 auto;">
            <table style="margin: 16px auto;">
                <tbody>
                    <tr>
                        <td>2024年3月17日</td>
                        <td>
                            3/17 <a href="https://hololivesuperexpo2024.hololivepro.com/fes" target="_blank">hololive SUPER EXPO 2024 5th fes. Day2</a><br>
                            <a href="https://hololivepro.com/news/20231017-01-79/" target="_blank">告知News</a><br>
                            <a href="https://twitter.com/hololivetv/status/1714249943660249222" target="_blank">告知ツイート</a>
                        </td>
                        <td>
                            現地<br>
                            オンライン(SPWN)
                        </td>
                    </tr>
                    <tr>
                        <td>2023年9月29日</td>
                        <td><a href="https://www.youtube.com/watch?v=215Bq5oo9Bw&t=2465s" target="_blank" rel="noopener noreferrer">【#雪花ラミィ3周年LIVE】Lamy＊Love♡Fest☆【雪花ラミィ】</a></td>
                        <td>YouTube</td>
                    </tr>

                    <tr>
                        <td>2023年9月13日</td>
                        <td>
                            <p>
                                <a href="https://bluejourney1stlive.hololivepro.com/" target="_blank">Blue Journey 1st Live「夜明けのうた」</a><br>
                                会場：東京ガーデンシアター<br>
                                <a href="https://twitter.com/hololivetv/status/1677649223695884288" target="_blank">告知ツイート</a><br>
                            </p>
                        </td>
                        <td>
                            現地<br>
                            オンライン(SPWN、Z-aN)
                        </td>
                    </tr>
                    <tr>
                        <td>2023年8月27日</td>
                        <td>
                            hololive Summer 2023 3D LIVE Splash Party! Sunshine<br>
                            <p>
                                <a href="https://hololivesummer2023.hololivepro.com/" target="_blank" rel="noopener noreferrer">『ホロライブ・サマー2023』特設サイト</a><br>
                                <a href="https://twitter.com/hololivetv/status/1675127120572424192" target="_blank" rel="noopener noreferrer">告知ツイート</a>
                            </p>
                            <p>
                                <a href="https://www.zan-live.com/live/detail/10292" target="_blank" rel="noopener noreferrer">8/26,27『ホロライブ・サマー2023 3DLIVESplash Party!』</a><br>
                                <a href="https://twitter.com/hololivetv/status/1675129644113342466" target="_blank" rel="noopener noreferrer">告知ツイート</a>
                            </p>
                            <p>
                                7/1 <a href="https://www.youtube.com/watch?v=8aKFN2YbGLQ" target="_blank" rel="noopener noreferrer">『ホロライブ・サマー2023 3DLIVE Splash Party!』ティザーPV</a><br>
                                7/1 <a href="https://www.youtube.com/watch?v=YzQCNmk3YYA" target="_blank" rel="noopener noreferrer">メインテーマ『青春アーカイブ』アニメーションMV</a><br>
                                7/2 <a href="https://cover.lnk.to/SeishunArchive" target="_blank" rel="noopener noreferrer">配信サイト（https://cover.lnk.to/SeishunArchive）</a><br>
                                <a href="https://twitter.com/hololivetv/status/1675157320098267137" target="_blank" rel="noopener noreferrer">告知ツイート</a>
                            </p>
                        </td>
                        <td>YouTube、Z-aN(中止)</td>
                    </tr>
                    <tr>
                        <td>2023年8月19日</td>
                        <td><a href="https://www.youtube.com/live/vioECDPtrdA?t=4104s" target="_blank" rel="noopener noreferrer">【#めあふぁんみ】2nd FanMeeting 「Dear My...」【神楽めあ】</a></td>
                        <td>YouTube</td>
                    </tr>
                    <tr>
                        <td>2023年8月17日</td>
                        <td><a href="https://www.youtube.com/live/KdFYu1feK30?t=2328s" target="_blank" rel="noopener noreferrer">【3DLIVE】紫咲シオン 5th Anniversary LIVE【#紫咲シオン5周年記念⁠】</a></td>
                        <td>YouTube</td>
                    </tr>
                    <tr>
                        <td>2023年8月1日</td>
                        <td><a href="https://www.youtube.com/watch?v=V761LnbkXYQ&t=2256s" target="_blank" rel="noopener noreferrer">#さくらみこ5周年 記念アイドルLIVE🌊アイドルよ🌟あてんしょんぷりーず！</a></td>
                        <td>YouTube</td>
                    </tr>
                    <tr>
                        <td>2023年7月17日</td>
                        <td><a href="https://www.youtube.com/watch?v=1J1JG99KKCk&t=1325s" target="_blank" rel="noopener noreferrer">【#ぺこーら24SpecialLive】3D LIVE!!!!</a></td>
                        <td>YouTube</td>
                    </tr>
                    <tr>
                        <td>2023年3月19日</td>
                        <td>
                            <a href="https://hololivesuperexpo2023.hololivepro.com/" target="_blank" rel="noopener noreferrer">hololive SUPER EXPO 2023 4th Fes. Day2</a>
                            (<a href="https://twitter.com/hololivetv/status/1598666423618134016" target="_blank" rel="noopener noreferrer">告知ツイート</a>)<br>
                            3/16 <a href="https://twitter.com/hololivetv/status/1636313862415810562" target="_blank" rel="noopener noreferrer">Twitterカウントダウン動画</a><br>
                            3/17 <a href="https://hololivesuperexpo2023.hololivepro.com/special/cast_message_day2/" target="_blank" rel="noopener noreferrer">意気込みコメント</a>
                            （<a href="https://twitter.com/hololivetv/status/1636566134936985600" target="_blank" rel="noopener noreferrer">告知ツイート</a>）
                        </td>
                        <td>
                            現地<br>
                            オンライン(SPWN、Streaming＋)
                        </td>
                    </tr>
                    <tr>
                        <td>2023年3月5日</td>
                        <td><a href="https://www.youtube.com/watch?v=FQHJL5ueV64" target="_blank" rel="noopener noreferrer">さくらみこ Birthday Party 2023</a></td>
                        <td>YouTube</td>
                    </tr>
                    <tr>
                        <td>2022年12月31日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=n-fzN8-i3Qc" target="_blank" rel="noopener noreferrer">『hololive production COUNTDOWN LIVE 2022▷2023』</a><br>
                            (YouTube完全無料) <a href="https://twitter.com/hololivetv/status/1598226077327167488" target="_blank" rel="noopener noreferrer">告知ツイート</a>
                        </td>
                        <td>YouTube</td>
                    </tr>
                    <tr>
                        <td>
                            2022年12月28日～<br>
                            2023年1月4日
                        </td>
                        <td>
                            <a href="https://abema.tv/channels/anime-live3/slots/E86QHDsCVpm4j1" target="_blank" rel="noopener noreferrer">ABEMA無料放送 hololive IDOL PROJECT 1st Live.『Bloom,』</a><br>
                            （<a href="https://twitter.com/hololivetv/status/1604676964140228609" target="_blank" rel="noopener noreferrer">告知ツイート</a>）
                        </td>
                        <td>
                            Abema無料放送<br>
                            ライブ再放送
                        </td>
                    </tr>
                    <tr>
                        <td>2022年11月3日</td>
                        <td><a href="https://www.youtube.com/watch?v=3LaDuoHDC_g" target="_blank" rel="noopener noreferrer">昭和老人会♪宝鐘マリン3周年記念歌謡祭【hololive/宝鐘マリン】</a></td>
                        <td>YouTube</td>
                    </tr>
                    <tr>
                        <td>2022年9月22日</td>
                        <td><a href="https://www.youtube.com/watch?v=cTusR-ffRjs" target="_blank" rel="noopener noreferrer">【#犬山たまき4周年】3DLIVE/Dream Custom Made</a></td>
                        <td>YouTube</td>
                    </tr>
                    <tr>
                        <td>2022年9月18日</td>
                        <td><a href="https://www.youtube.com/watch?v=5-hwTE_O8WY" target="_blank" rel="noopener noreferrer">【3D LIVE !】SHARK 3D LIVE! #Gura3DLive 💦</a></td>
                        <td>YouTube</td>
                    </tr>
                    <tr>
                        <td>2022年8月31日</td>
                        <td>
                            <a href="https://www.youtube.com/watch?v=zQuFRSi5ebc" target="_blank" rel="noopener noreferrer">ホロライブ公式チャンネル「Climax Story Live」</a><br>
                            <a href="https://twitter.com/hololivetv/status/1562769956902645760" target="_blank" rel="noopener noreferrer">告知ツイート</a>
                        </td>
                        <td>YouTube</td>
                    </tr>
                    <tr>
                        <td>2022年8月26日</td>
                        <td>
                            <a href="https://prtimes.jp/main/html/rd/p/000000739.000030268.html" target="_blank" rel="noopener noreferrer">「Animelo Summer Live 2022 -Sparkle-」スペシャルオープニングアクト</a><br>
                            <a href="https://www.youtube.com/watch?v=YDGTXBpUPWQ" target="_blank" rel="noopener noreferrer">9/9～ YouTubeにて公開！</a>
                        </td>
                        <td>埼玉スーパーアリーナ</td>
                    </tr>
                    <tr>
                        <td>2022年8月17日</td>
                        <td><a href="https://www.youtube.com/watch?v=WkUXJUQMZ-8" target="_blank" rel="noopener noreferrer">「紫咲シオン 4th Anniversary Live」</a></td>
                        <td>YouTube</td>
                    </tr>
                    <tr>
                        <td>2022年8月11日</td>
                        <td><a href="https://www.youtube.com/watch?v=O4Ip7gZQOts" target="_blank" rel="noopener noreferrer">4周年記念LIVE「あくあ色ふぇすてぃばる。」</a></td>
                        <td>YouTube</td>
                    </tr>
                    <tr>
                        <td>2022年8月8日</td>
                        <td><a href="https://www.youtube.com/watch?v=KyURvb-eIU8" target="_blank" rel="noopener noreferrer">【#常闇トワ生誕祭2022】MIX -私の存在証明- 【3DLIVE】</a></td>
                        <td>
                            YouTube
                        </td>
                    </tr>
                    <tr>
                        <td>2022年6月11日</td>
                        <td><a href="https://www.v-carnival.jp/" target="_blank" rel="noopener noreferrer">「V-Carnival VOL.2」Day1 出演</a></td>
                        <td>オンライン</td>
                    </tr>
                    <tr>
                        <td>2022年6月5日</td>
                        <td><a href="https://www.youtube.com/watch?v=FWXAnb08CPg" target="_blank" rel="noopener noreferrer">【新曲あり！？】hololive IDOL PROJECTユニット初集合LIVE！</a></td>
                        <td>
                            YouTube
                        </td>
                    </tr>
                    <tr>
                        <td>2022年4月22日</td>
                        <td><a href="https://www.youtube.com/watch?v=_pC9JaHyyjQ" target="_blank" rel="noopener noreferrer">【3DLIVE】バーチャルアイドルが踊ってみた！ #かなたんしか勝たん【天音かなた/ホロライブ】</a></td>
                        <td>
                            YouTube
                        </td>
                    </tr>
                    <tr>
                        <td>2022年3月20日</td>
                        <td><a href="https://hololivesuperexpo.hololivepro.com/" target="_blank" rel="noopener noreferrer">「hololive 3rd fes. Link Your Wish Supported By ヴァイスシュヴァルツ」DAY2 出演</a></td>
                        <td>
                            幕張メッセ<br>
                            オンライン(SPWN、ニコニコ)
                        </td>
                    </tr>
                    <tr>
                        <td>2022年3月2日</td>
                        <td><a href="https://www.youtube.com/watch?v=czfjbNitJ4M" target="_blank" rel="noopener noreferrer">【 3DLIVE 】ねねが主役！！！！！ #桃鈴ねね誕生日2022【 桃鈴ねね / ホロライブ 】</a></td>
                        <td>
                            YouTube
                        </td>
                    </tr>
                    <tr>
                        <td>2022年2月22日</td>
                        <td><a href="https://www.youtube.com/watch?v=epPYcIwJ5aQ" target="_blank" rel="noopener noreferrer">【#猫又おかゆ生誕ライブ2022】歌って踊ってみんな！楽しんでって！✨：OKAYU Birthday Live🎉【ホロライブ】</a></td>
                        <td>
                            YouTube
                        </td>
                    </tr>
                    <tr>
                        <td>2022年2月19日</td>
                        <td><a href="#" target="_blank" rel="noopener noreferrer">「湊あくあ SEASIDE AQUA FES」</a></td>
                        <td>オンライン(日清 POWER STATION[REBOOT])</td>
                    </tr>
                    <tr>
                        <td>2022年1月30日</td>
                        <td><a href="https://www.youtube.com/watch?v=ywvR52V7HiI" target="_blank" rel="noopener noreferrer">【#尾丸ポルカ生誕祭】ポルカプロデュース!最強アイドルグループ3DLIVE!</a></td>
                        <td>
                            YouTube
                        </td>
                    </tr>
                    <tr>
                        <td>2022年1月28日</td>
                        <td><a href="https://aqua2ndlive.hololivepro.com/" target="_blank" rel="noopener noreferrer">湊あくあ ワンマンライブ2022「あくあ色 in わんだ～☆らんど♪」</a></td>
                        <td>
                            豊洲PIT<br>
                            オンライン(SPWN)
                        </td>
                    </tr>
                    <tr>
                        <td>2021年9月5日</td>
                        <td><a href="https://www.youtube.com/watch?v=_xL58zG9k5k" target="_blank" rel="noopener noreferrer">【#あくシオ3Dライブ】おうたのはっぴょうかい！【ホロライブ/湊あくあ・紫咲シオン】</a></td>
                        <td>
                            YouTube<br>
                            あくシオコラボ
                        </td>
                    </tr>
                    <tr>
                        <td>2021年8月9日</td>
                        <td><a href="https://www.youtube.com/watch?v=CtOkB0YQljY" target="_blank" rel="noopener noreferrer">【#湊あくあ3周年記念 】あくあ色 3rd Anniversary Live【湊あくあ/ホロライブ】</a></td>
                        <td>
                            YouTube
                        </td>
                    </tr>
                    <tr>
                        <td>2021年5月9日</td>
                        <td><a href="https://www.youtube.com/watch?v=gf7RSwmp8dM" target="_blank" rel="noopener noreferrer">【3DLIVE】あくあ色すーぱーみらくる☆どり〜む♪【#湊あくあ3Dライブ 】</a></td>
                        <td>
                            YouTube
                        </td>
                    </tr>
                    <tr>
                        <td>2021年2月17日</td>
                        <td><a href="https://bloom.hololive.tv/" target="_blank" rel="noopener noreferrer">hololive IDOL PROJECT 1st Live.『Bloom,』 @東京ガーデンシアター</a></td>
                        <td>
                            現地(中止)<br>
                            オンライン(SPWN、ニコニコ)
                        </td>
                    </tr>
                    <tr>
                        <td>2021年1月30日</td>
                        <td><a href="https://vtuberfesjapan.jp/2021/" target="_blank" rel="noopener noreferrer">「VTuber Fes Japan 2021」DAY1 出演</a></td>
                        <td>
                            川口総合文化センター<br>
                            オンライン(ニコニコ)
                        </td>
                    </tr>
                    <tr>
                        <td>2020年12月21日</td>
                        <td><a href="https://beyondthestage.hololive.tv/" target="_blank" rel="noopener noreferrer">「hololive 2nd fes. Beyond the Stage Supported By Bushiroad」STAGE1(day1)</a></td>
                        <td>
                            オンライン(SPWN、ニコニコ)
                        </td>
                    </tr>
                    <tr>
                        <td>2020年10月18日</td>
                        <td><a href="https://www.youtube.com/watch?v=IbtmfYz_LAY" target="_blank" rel="noopener noreferrer">日清食品presents #カレーメシスパイスライブ</a></td>
                        <td>
                            YouTube
                        </td>
                    </tr>
                    <tr>
                        <td>2020年8月21日</td>
                        <td>
                            湊あくあ アニバーサリーライブ 2020 『あくあ色すーぱー☆どり～む♪』<br>
                            <a href="https://twitter.com/hololivetv/status/1312277279087587328" target="_blank" rel="noopener noreferrer">同時視聴ディレイビューイング(10/3)</a>
                        </td>
                        <td>
                            オンライン(ニコニコ、bilibili)
                        </td>
                    </tr>

                    <tr>
                        <td>2020年1月24日</td>
                        <td><a href="https://www.nonstop.hololive.tv/" target="_blank" rel="noopener noreferrer">hololive 1st fes.『ノンストップ・ストーリー』</a></td>
                        <td>
                            豊洲PIT<br>
                            オンライン(ニコニコ)
                        </td>
                    </tr>
                    <tr>
                        <td>2019年10月4日</td>
                        <td>BILIBILI WORLD 2019</td>
                        <td>
                            現地<br>
                            オンライン(bilibili)
                        </td>
                    </tr>
                    <tr>
                        <td>2019年8月18日</td>
                        <td><a href="https://cluster.mu/e/421f4298-32c0-11ea-ba92-0ef3638656a6" target="_blank" rel="noopener noreferrer">「Vアニ 2019」出演</a></td>
                        <td>
                            LV(対象JOYSOUND直営店)<br>
                            オンライン(cluster)<br>
                            オンライン(ニコニコ)<br>
                            <a href="https://twitter.com/minatoaqua/status/1162307798069198848" target="_blank" rel="noopener noreferrer">PR動画</a><br>
                            <a href="https://twitter.com/hololivetv/status/1162559675633676289" target="_blank" rel="noopener noreferrer">リハ映像</a>
                        </td>
                    </tr>
                    <tr>
                        <td>2019年4月28日</td>
                        <td><a href="https://chokaigi.jp/2019/booth/bilibili.html" target="_blank" rel="noopener noreferrer">ニコニコ超会議2019 超bilibili Vupステージ(2日目)</a></td>
                        <td>
                            現地<br>
                            オンライン(bilibili)
                        </td>
                    </tr>
                    <!--tr>
                        <td>年月日公開</td>
                        <td><a href="" target="_blank" rel="noopener noreferrer">「」</a></td>
                        <td></td>
                    </tr-->
                </tbody>
            </table>
        </div>
    </div>
    <%- include(includePath+"_footer.ejs") %>
</body>
</html>